[2017-08-02 13:35] LukeTowers commented on #282
@mplodowski could you test the solution in #283 and let me know if that resolves the issue for you?

[2017-08-02 13:36] LukeTowers commented on #283
@hocopor Could you propose this in a Pull Request so we can review it in more detail before merging it?

[2017-08-02 14:51] hocopor commented on #283
@LukeTowers I tried

[2017-08-02 16:51] hocopor commented on #262
Hmm.. If it is still actually.

You can change your `scanThemeConfigForMessages()` method in `RainLab\Translate\Classes\ThemeScanner`

From:

[code]
To:
[code]

So, now you can use it like
[code]
in your `theme.yaml` config file.

[2017-08-04 12:28] pvullioud commented on #279
Any idea why twig translation is not working in email template. Other Twig function are working fine.
What could be the best way to fix it ?

[2017-08-04 12:30] pvullioud opened #285 "Twig translation in Email Template"
Any idea why twig translation is not working in email template. Other Twig function are working fine.
What could be the best way to fix it ?

`<h3>{{ 'FORMATION_CREATED'|_ }}</h3>`

[2017-08-04 12:54] pvullioud commented on #285
Translation is not working in email because `self::$locale` is not declared

https://github.com/rainlab/translate-plugin/blob/e7ce25baf1006443d6309a13037d0a3edb79e912/models/Message.php#L100

[2017-08-04 13:19] pvullioud commented on #285
I'm sending email notification with a cron/CLI. To solve translation issue in mail, I manually set the Locale of the Translator. It work fine now.

[code]

[2017-08-04 14:42] LukeTowers commented on #285
Is this on Build 420?

[2017-08-04 17:51] canthis opened #286 "Bug with Static page URL's"
##### Expected behavior
Multilingual Static page URL's should be generated uniquely based on page title locales being entered.

##### Actual behavior
Entering page title for another language makes URL the same for all locales so User is now forced to manually enter/edit page URL's for each locale and this could be a pain if there's more than 5 languages and especially for non dev user.

##### Repr

[2017-08-06 04:08] Teranode commented on #283
Ive tried this too but no change for me

[2017-08-07 07:09] pvullioud commented on #285
Yes, It's on Build 420. I'll test on 419 also and try to initialise `self::$locale`

[2017-08-07 13:38] pvullioud commented on #285
It's work fine on frontend. For Cron and command line  `self::$locale` should be set by manually
like

[code]
and it's work fine now 👍

[2017-08-07 16:50] hocopor commented on #283
@Teranode Can you do screenshot it? :)

[2017-08-07 17:47] LukeTowers commented on #285
So is there a bug or isn't there?

[2017-08-07 23:09] Teranode commented on #283
you can test it:
make a page with just a forward slash (the home page basically)

when you have 2 languages the secondary langue uses the page's name as the alias so click the secondary language in the page url it should show the the page's name as the slug.

![](https://image.prntscr.com/image/nLQdfi8BQF6FYHwXLJNPuQ.png)

Espanol (this cannot be left as just a forward slash it will default back t

[2017-08-08 09:43] pvullioud commented on #285
No bug here 😃
Just something hard to find and not documented.
Could be great to add a `setLocale `method into the `RainLab\Translate\Models\Message` class with a description.

[2017-08-08 19:12] hocopor commented on #285
@pvullioud as I see you can use it with static method `RainLab\Translate\Models\Message::forLocale('en');`

[2017-08-09 06:20] pvullioud commented on #285
@hocopor Thanks

[2017-08-10 02:19] Teranode commented on #283
do you see the issue?

[2017-08-10 11:56] amdad commented on #286
I confirm that.

[2017-08-10 18:08] rounce opened #288 "Route breaks Sessions (and auth accordingly)"
The issue occurred with the last update of october cms.

steps to reproduce
1. install translate and user plugins
2. auth
3. go to any /en location (/en/demo/plugins for example). Then
routes.php of translate call to "Route::any($locale, 'Cms\Classes\CmsController@run');"
and Session becomes empty (more precisely contains only one record)

This can be seen by add line public function onRun() {dd(S

[2017-08-10 18:38] hocopor commented on #288
@rounce Yep. Try #282 and #283

[2017-08-10 18:53] rounce commented on #288
Your #284 fixes the issue. Thanks.

[2017-08-10 19:14] hocopor commented on #283
@Teranode I don't see the problem here.

 You set the url for the main page, like `/home` and of course following `/` url will return a 404 error.
You can create one more page with `/` for `es` locale url and redirect request to `/home`.

Sorry if i understood you wrong.

[2017-08-10 19:52] Teranode commented on #283
no its not that im setting the url to /home

The current url is `/`

when i alter the es url to `/` it doesn't work, it goes back to `/home`

[2017-08-12 20:39] munxar opened #290 "MLRepeater not working with groups"
Expected behavior

Add a group type X in language A and a group type Y in language B. If I switch from language A to B and back to A, the group type should be X.

Actual behavior

If the language is switched from B to A the group type is Y instead of X.
Check Video: [http://youtu.be/a633InT4pwo?hd=1](http://youtu.be/a633InT4pwo?hd=1)
(ignore audio...)

Reproduce steps

1. DB table with text column

[2017-08-13 06:37] munxar commented on #290
I investigated this issue and found out that in file modules/backend/formwidgets/Repeater.php the function
`
/**
     * Returns a field group code from its index.
     * @param $index int
     * @return string
     */
    public function getGroupCodeFromIndex($index)
    {
        return array_get($this->indexMeta, $index.'.groupCode');
    }
`
always returns the group code of the default locale.

[2017-08-18 08:33] daviskregers commented on #279
Hello,

Thanks for the reply. It doesn't seem to be working though - the addDynamicProperty throws an exception:

Unexpected type of array, should attribute "translatable" be jsonable?
vendor/october/rain/src/Database/Model.php line 1127

The $model->jsonable seems to be returning null, if I change it to ['translatable], it doesn't seem to be taking any effect. If I use the same addDynamicProperty

[2017-08-20 00:10] AugmentBLU commented on #242
I'm seeing this issue with build 420, the post data looks near identical to that of updating a record via it's own page controller but in a modal popup, it's just not saving.

Any ideas or fixes? This is quite important.

[2017-08-22 08:42] kikobalco commented on #281
Any news in this topic? I'm trying to solve similiar issue these days. I'm adding extra fields to StaticPages plugin by extending it and need to make it translatable...

[2017-08-22 09:20] elboman commented on #281
Unfortunately no news. Still waiting for some help to get started as I don't know the codebase well enough.

I went ahead and modified the plugin (even if not recommended) adding my fields and making them translatable instead of extending it.

[2017-08-28 12:57] vannut opened #292 "Updating Slug of translated menu item of static page not escalating to partial holding menu"
I have several static menu's, each serving a specific locale and each holding several static pages.
All these static pages have a translation via this Plugin.

When updating the slug of one of the static pages, the corresponding url in the navigation item is _not_ updating and showing the former url/slug. The strange thing is the fact when updating the Title, this is propagating like normal, and w

[2017-08-28 13:40] vannut commented on #257
To answer my own question:

[code]

[2017-08-28 13:40] #257 closed

[2017-08-29 16:36] LukeTowers commented on #292
CMS objects have a separate cache time, check your https://github.com/octobercms/october/blob/master/config/cms.php#L152

[2017-08-29 19:06] vannut commented on #292
So, somehow after updating the slugs the renew-event of the cache is not triggered...
Where does the cached-version live? Is there a way to manually trigger a cache renewal?

[2017-08-29 19:08] vannut commented on #286
Confirmed

[2017-09-04 03:24] ajinkyakambe opened #293 "Issue with plugin integration"
http://webmshare.com/play/jBGyW

I want to integrate plugin as shown in above video.
It's not working?
Can you please solve this issue?

[2017-09-04 20:27] munxar opened #294 "MLRepeater not working with richeditor"
**Expected behavior**

A richeditor inside a MLRepeater should be translatable

**Actual behavior**

Only the default language is saved. Switching languages looses changes of richeditor.

**Reproduce steps**

- Make a translatable model with an attribute (e.g. content) that is translated and jsonable.
- Make a form and add a repeater for content.
- Place a richeditor inside of the repeater.
- Add

[2017-09-04 23:27] canthis commented on #294
This one was already fixed by https://github.com/octobercms/october/commit/edcd899a794caa78e2489a18987d59fd7acf83f2 and available on build 420+

[2017-09-05 07:56] munxar commented on #294
my bad, close this.

[2017-09-05 07:56] #294 closed

[2017-09-06 01:51] tim0991 opened #295 "Backward compatibility"
In my case, laravel/framework still 5.1
when i update package by `composer update rainlab/translate-plugin`  i get a error about web middleware
could you tag your commit on git follow your version.yaml
so i can specify a tag in composer.json

[2017-09-08 08:14] binglenozumi opened #296 "Unable to show site name on website"
Hi, I have a question here about the site name

So I had already include site.name inside the theme.yaml file, but when I try to put {{ site.name |_ }}, I cannot show any of the name, including English one (default setting)

What is the most likely situation that makes this happen? or if there is any particular files I need to check out on?

[2017-09-08 10:49] jan-vince commented on #296
Try ````{{ this.theme.site_name |_ }}```` as [in docs](https://octobercms.com/docs/themes/development#customization).

*There is ````_```` not a ````.```` in ````site_name```` if you are following docs example.*

[2017-09-13 11:31] gtmeteor opened #297 "Pasting into translatable fields via mouse doesn't work"
As mentioned. Pasting with mouse into a translatable field and saving a Model will not update the model due to multilingual.js listening to `keyup` event. It should listen to `input` event.

assets\js\multilingual.js - #43
[code]
should be:
[code]

[2017-09-13 16:26] #297 closed

[2017-09-13 16:26] LukeTowers commented on #297
Thanks for the report!

[2017-09-14 14:59] khoatran commented on #238
Guys, this issue happens because there is some differences in the way that OctoberCMS load form widgets in different version.

I have exactly the same issue. Finally, I trace down to the code of Rainlab Translate plugin. At there, if you look at the function registerFormWidgets, you will see the code as below:

[code]
If you are running an old version of October as my case (I haven't tried with th

[2017-09-14 15:18] LukeTowers commented on #238
The code to support converting the new method to the old method has been in October since Build 378. See https://github.com/octobercms/october/commit/bc165078deada0b852e736e0b2cab4219113b411#diff-34e42a18a94b81013305d1b5c5f69d42R101

I highly recommend that you update your October instance.

[2017-09-14 15:29] khoatran commented on #238
Yes, Luke. I will. However, you know, process to upgrade things in big companies takes time and we need to verify very careful for every changes :). Btw, thanks for your help to point out the code changes

[2017-09-14 17:22] khoatran commented on #238
I've just thought about another issue related to this. Somehow, the plugin must provide the backward compatibility with different versions of OctoberCMS.

In this case of the translate plugin, if the plugin author knows the version of the OctoberCMS core, he can rewrite the code to support different versions easier, just by adding checking version logic to call the proper method.

So, the question

[2017-09-14 18:09] Hambern commented on #234
I am too geting this error. I want to make things in a partial translatable. Like:

[code]

But it doesn't seem to work. I get the error:

[code]

# | CALLED CODE | DOCUMENT | LINE
-- | -- | -- | --
50 | Twig_Lexer->lexExpression() | ~/vendor/twig/twig/lib/Twig/Lexer.php | 202
49 | Twig_Lexer->lexVar() | ~/vendor/twig/twig/lib/Twig/Lexer.php | 105
48 | Twig_Lexer->tokenize(…) | ~/vendor/twig/twig/

[2017-09-14 18:20] Hambern commented on #234
My problem suddenly went away after changing ```{{'Continue'|_}}``` to ```{{"Continue"|_}}```seems like single quotes are not OK in partials.

[2017-09-14 18:20] LukeTowers commented on #238
@khoatran we don't support that approach in October. By default, you are not able to update plugins without also updating core. Thus, plugins should not have to support older versions of core. But, if you were restrained into something like that then you could probably look at using the system parameter model to get the core build information.

As a side note, this could be fixed for all versions

[2017-09-20 23:27] quochuy opened #298 "Problem with translated URL"
I have a newsletter archive page like this:
- title: Newsletter Archives
- file: newsletter-archives.htm
- url: /newsletter/archives which translates to http://mysite.com/en/newsletter/archives
- the page loads a newsletter-archives.htm content file

My site also supports french language and I have a newsletter-archives.fr.htm content.
Now my problem is when I go to http://mysite.com/fr/newsletter

[2017-09-21 04:50] quochuy commented on #298
The work around is to edit the actual file and remove the line localeUrl[FR]=....

[2017-09-22 14:06] nicolagaldiolo commented on #286
Confirmed.

[2017-09-22 14:06] lucianomelotti commented on #286
I confirm the problem

[2017-09-22 15:55] LukeTowers commented on #286
@amdad @vannut @niclasleonbock @lucianomelotti great, thanks for confirming that. It would be helpful if you guys could take some time to dig into what's causing the issue and provide updates on your progress here. That way we can get this fixed sooner rather than later. Thanks!

[2017-09-22 15:57] LukeTowers commented on #286
Also, whenever you see the `Type: Unconfirmed Bug` label, it would be significantly more helpful if you could provide your own summary of the bug with as much detail as possible informing us how it affects you specifically rather than just saying "Confirmed.". A one word addition doesn't really give us anything to work off of.

[2017-09-26 18:32] rgsone commented on #209
I experiment the same issue.
Thx @getrightnl and @shiftaltd for the temp fix.

[2017-09-30 09:55] rgsone commented on #242
@AugmentBLU see #209 for a temporary fix

[2017-10-02 03:09] layanto opened #301 "How to find out if translation is not available?"
In model, if the field is translated:
[code]
The translated text is returned.

But if the field is not translated, the default language ('en') is returned.

How can I find out that there is no translated text available? Is there a method that will return '' instead of the default language?

[2017-10-02 08:58] datune commented on #301
[code]
https://github.com/rainlab/translate-plugin#fallback-attribute-values

[2017-10-02 09:51] layanto commented on #301
What if I don't want to disable the fallback feature, I just want to find out if translation is available or not?

[2017-10-02 15:45] datune commented on #301
https://github.com/rainlab/translate-plugin/blob/master/classes/TranslatableBehavior.php#L187

[2017-10-02 17:47] datune opened #302 "Undefined index TranslatableBehavior.php line 189 when calling hasTranslation"
Add the following code into any ListController index() method (for example, let's use Rainlab\Blog\Controller\Posts) and retreive a Model from the DB which is using the TranslatableBehaviour.

[code]
This will throw an Error Exception: /plugins/rainlab/translate/classes/TranslatableBehavior.php line 189 undefined index 'en'.

BUT, when executing the following code, everything behaves as expected,

[2017-10-02 19:22] layanto commented on #301
Thanks.

[2017-10-02 19:22] #301 closed

[2017-10-03 07:26] yarbala opened #303 "Array & JSON Casting for translatable attributes empty fields"
Cast attributes are saved to db and to 'rainlab_translate_attributes' but have empty value for default language in editor

Model.php:
[code]

fields.yml:
[code]

After saving data I have proper values in DB. I open this form for editing and switch to not default language, then back to default - and field becomes empty.

I'm using latest october version. For other field types like Markdown it works

[2017-10-03 12:35] yarbala commented on #303
I made quick fix for it, may be you can add something similar to Plugin

file: plugins/rainlab/translate/classes/TranslatableBehavior.php
[code]

[2017-10-03 16:00] LukeTowers commented on #303
I have no idea what the issue is from your description. Please try to explain it in more detail and more step by step.

[2017-10-04 11:23] datune commented on #302
After dancing with a lot of gruesome xdebug sessions on the brink of insanity, I think I have solved the issue.

It seems to me that there is simply a logic error in the current hasTranslation() method implementation. In all other methods there is a check made before relying upon values from the property $translatableAttributes, but in this method (hasTranslation) it is not.

At the time of writin

[2017-10-04 11:48] datune commented on #302
Method had to be revised again, due to the nature of how default language attributes seem to be handled.

[code]

[2017-10-04 12:34] wellyfrs commented on #285
How to list e-mail template messages to be translated into the backend? The search does not seem to scan e-mail templates. Do I need to add manually? How?

[2017-10-04 12:39] yarbala commented on #303
@LukeTowers I'm trying to use dynamic forms(different field types for single model depending on model type) in OctoberCMS backend.  I uses attribute casting to store fields in json field https://laravel.com/docs/5.5/eloquent-mutators#attribute-casting. Everything works fine except translations for dynamic fields. getAttributeFromData function didn't works with json attribute casting. This function

[2017-10-04 12:54] wellyfrs commented on #87
Same problem.

[2017-10-04 13:11] jrnski commented on #278
Any updates on this?

[2017-10-04 15:27] LukeTowers commented on #278
The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Make a financial contribution to the project](http://octobercms.com/fundraising) so we can allocate more time towards maki

[2017-10-04 15:38] LukeTowers commented on #87
If anyone wants to work on implementing a fix for this, please do so and make a PR. Otherwise, just adding +1 or "same problem" is not helpful.

[2017-10-04 15:39] LukeTowers commented on #303
This is a complex case.

In order to aid in our understanding of the problem, please submit [a Pull Request to the test plugin](https://github.com/daftspunk/oc-test-plugin) for investigation that demonstrates the issue. Don't forget to include step by step instructions how how to replicate it _using the test plugin_.

[2017-10-04 15:40] LukeTowers commented on #285
Try sending an email with each template to force October to render them @wellyfrs

[2017-10-04 15:43] LukeTowers commented on #302
Looking good @datune! Could you submit a PR with that? Also, could you make the isset if conditional the same format as the $locale == $this->translateableDefault if conditional? I.e. not single line.

[2017-10-04 17:49] wellyfrs commented on #87
All right, @LukeTowers. I made one request (#304), but it depends on another one in October (https://github.com/octobercms/october/pull/3152). With this, the search also scans e-mail templates.

[2017-10-04 18:31] wellyfrs commented on #285
With https://github.com/octobercms/october/pull/3152 and https://github.com/rainlab/translate-plugin/pull/304 and using the tip of @hocopor, I did it. Thanks!

[2017-10-04 18:48] datune commented on #302
@LukeTowers [Here's the PR](https://github.com/rainlab/translate-plugin/pull/305) along with the requested changes.

[2017-10-04 18:51] #302 closed

[2017-10-04 18:51] LukeTowers commented on #302
@datune awesome, thanks for your work on this!

[2017-10-04 18:54] LukeTowers commented on #87
@wellyfrs awesome thanks, will wait to merge #304 until after merging octobercms/october#3152

[2017-10-04 20:08] #87 closed

[2017-10-05 10:10] yarbala commented on #303
@LukeTowers I crested pull request with steb by step instructions

[2017-10-05 17:32] LukeTowers commented on #303
Thanks @yarbala, I don't have a lot of time to review it right now, but it'll eventually get taken care of. Perhaps @daftspunk could review it. Or, if someone else could confirm the bug and come up with a robust fix for it; I would probably merge it. I'll just need a detailed explanation that clearly and simply explains the issue, what's currently causing it, and how the proposed solution fixes it

[2017-10-06 06:24] yarbala commented on #303
If you try my code from merge request, it wiil take you 3 minutes to reproduce issue. https://prnt.sc/gtw8g9 - may be my engish is poor, watch to this screen

[2017-10-09 11:28] tskorupka opened #306 "Backward compatibility for composer."
[Other plugin issue.](https://github.com/rainlab/blog-plugin/issues/331)

[2017-10-11 22:12] AlanNoeOrtega opened #307 "Empty fields with nested repeaters"
could someone help me? I got a problem using the plugin with nested repeater. I have my fields like:

[MLRepeater]
 - Textfield ROOT
 [Repeater]
   -- Text Field CHILD
   -- Rich Editor CHILD
   ...
 [/Repeater]
 [Repeater]
   -- Text Field CHILD
   -- Rich Editor CHILD
   ...
 [/Repeater]
 ...
[/MLRepeater]

When I change language, "Textfield ROOT" changes correctly, however "Text Field CHILD" ap

[2017-10-23 10:15] danielsvens commented on #212
Did you find any fix for this issue?

[2017-10-23 13:36] yarbala commented on #303
@LukeTowers same issue if I replace $casts with jsonable. It works with fix and not works without it

[code]

[2017-10-23 14:34] LukeTowers commented on #303
The support demand for October is increasing, while the available time the founders have to give remains the same. These issues will be handled in time, however there are ways you can help:

- Submit a pull request that introduces this feature and wait for it to be reviewed
- [Make a financial contribution to the project](http://octobercms.com/fundraising) so we can allocate more time towards maki

[2017-10-23 14:35] LukeTowers commented on #212
@danielsvens are you encountering this issue? What build of October are you running?

[2017-10-23 14:53] jonnydevv commented on #212
I'm not having any issues. But not using the backend that much. It's running build 1.0.396

[2017-10-24 07:52] danielsvens commented on #212
Yes im having this issue, When i install the plugin, the whole site gets this error. build 1.0.419

[2017-10-24 18:30] LukeTowers commented on #212
@danielsvens what version of PHP are you using?

[2017-10-25 07:56] danielsvens commented on #212
@LukeTowers i might have another bug, i think it might be build 318 but it says its 419. i did an update before but the site looked really weird so i did a rollback.

PHP version is 7.0.15

[2017-10-25 09:54] danielsvens commented on #212
Issue is now solved, i forced a build update so its now working fine with 419 build.

[2017-10-25 10:25] marcomessa opened #308 "Issue when linking to my plugin record page"
Hello, I have a model - Content -  with the correct implementation of translatable

[code]
in backend, forms are correctly displaying multi language options. To problem is when I try to access to record details page. In the configuration section i have:

`
title = "singola realizzazioni"
url = "/realizzazioni/:slug"
layout = "static"
is_hidden = 0

[viewBag]
localeUrl[en] = "/manufactorings/:slug"

[2017-10-25 14:10] LukeTowers commented on #212
Awesome, glad to hear it @danielsvens

[2017-10-25 14:10] #212 closed

[2017-10-25 20:33] LukeTowers commented on #306
Duplicate of #295

[2017-10-25 20:33] #306 closed

[2017-10-26 14:24] danielsvens opened #309 "Translate messages doesnt show"
I cant seem to solve this problem. When i go to the translate messages tab there is nothing there.

when i add text with {{ 'text'|_ }} i can see its properly saved in the DB.

But since i cannot access the messages page i cannot translate anything.

https://imgur.com/a/kKZKs
Picture of the error

Build is 419 and php 7.0.15

Anyone knows a fix for this?

[2017-10-26 14:37] LukeTowers commented on #309
Try enabling edgeUpdates in config/cms.php and updating your installation.

[2017-10-26 15:26] LukeTowers commented on #278
Closing in favour of #290

[2017-10-26 15:26] #278 closed

[2017-10-26 15:27] LukeTowers commented on #290
@munxar are you able to come up with a solution to fix it and provide a PR?

[2017-10-26 15:29] LukeTowers commented on #27
Fixed by #28

[2017-10-26 15:29] #27 closed

[2017-10-26 15:29] LukeTowers commented on #31
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:29] #31 closed

[2017-10-26 15:31] LukeTowers commented on #42
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:31] #42 closed

[2017-10-26 15:32] LukeTowers commented on #52
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:32] #52 closed

[2017-10-26 15:32] LukeTowers commented on #78
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:32] #78 closed

[2017-10-26 15:33] LukeTowers commented on #86
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:33] #86 closed

[2017-10-26 15:36] LukeTowers commented on #81
Fixed by https://github.com/rainlab/pages-plugin/issues/32

[2017-10-26 15:36] #81 closed

[2017-10-26 15:36] #70 closed

[2017-10-26 15:37] LukeTowers commented on #80
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:37] #80 closed

[2017-10-26 15:37] LukeTowers commented on #80
Also you're missing the starting backslash, should be `class_exists('\RainLab\Translate\Behaviors\TranslatableModel')`

[2017-10-26 15:38] LukeTowers commented on #98
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:38] #98 closed

[2017-10-26 15:38] LukeTowers commented on #100
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:38] #100 closed

[2017-10-26 15:39] LukeTowers commented on #77
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:39] #77 closed

[2017-10-26 15:39] LukeTowers commented on #101
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:39] #101 closed

[2017-10-26 15:40] LukeTowers commented on #111
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:40] #111 closed

[2017-10-26 15:40] LukeTowers commented on #109
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:40] #109 closed

[2017-10-26 15:40] LukeTowers commented on #108
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:40] #108 closed

[2017-10-26 15:41] LukeTowers commented on #123
Closing as it has been over a month since any activity on this occurred. Also, October switched to using Froala so this is probably not present anymore.

[2017-10-26 15:41] #123 closed

[2017-10-26 15:42] LukeTowers commented on #118
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:42] #118 closed

[2017-10-26 15:42] LukeTowers commented on #56
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:42] #56 closed

[2017-10-26 15:42] LukeTowers commented on #130
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:42] #130 closed

[2017-10-26 15:43] LukeTowers commented on #127
Ckeditor is not supported by October, talk to the plugin author.
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:43] #127 closed

[2017-10-26 15:44] LukeTowers commented on #132
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:44] #132 closed

[2017-10-26 15:44] LukeTowers commented on #116
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:44] #116 closed

[2017-10-26 15:45] LukeTowers commented on #128
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:45] #128 closed

[2017-10-26 15:45] LukeTowers commented on #140
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:45] #140 closed

[2017-10-26 15:48] LukeTowers commented on #63
Please only use GitHub Issues for feature requests if you are using it as a pre-Pull Request collaboration tool. If you aren't planning on implementing it yourself, then it would be better suited being asked for on one of these channels:

Forum: http://octobercms.com/forum
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

The support demand for

[2017-10-26 15:48] #63 closed

[2017-10-26 15:50] LukeTowers commented on #144
Fixed by #151

[2017-10-26 15:50] #144 closed

[2017-10-26 15:51] LukeTowers commented on #10
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:51] #10 closed

[2017-10-26 15:51] LukeTowers commented on #150
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:51] #150 closed

[2017-10-26 15:52] LukeTowers commented on #16
Still planning on adding this @daftspunk?

[2017-10-26 15:53] LukeTowers commented on #23
Closing as it has been over a month since any activity on this occurred. May be fixed in newer versions of October. Who knows.

[2017-10-26 15:53] #23 closed

[2017-10-26 15:53] LukeTowers commented on #172
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 15:53] #172 closed

[2017-10-26 15:53] #175 closed

[2017-10-26 15:54] #177 closed

[2017-10-26 15:54] #180 closed

[2017-10-26 15:57] LukeTowers commented on #192
@daftspunk is this still a planned feature? What needs to happen for this?

[2017-10-26 16:00] LukeTowers commented on #65
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:00] #65 closed

[2017-10-26 16:00] LukeTowers commented on #198
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:00] #198 closed

[2017-10-26 16:01] LukeTowers commented on #200
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:01] #200 closed

[2017-10-26 16:01] LukeTowers commented on #200
@artras look into using the backend translator, Lang::get()

[2017-10-26 16:01] LukeTowers commented on #202
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:01] #202 closed

[2017-10-26 16:02] LukeTowers commented on #203
`Lang::get()` is for backend translations, it doesn't look at this plugin at all, only registered language files for backend use.

[2017-10-26 16:02] #203 closed

[2017-10-26 16:03] LukeTowers commented on #201
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:03] #201 closed

[2017-10-26 16:03] #207 closed

[2017-10-26 16:03] LukeTowers commented on #208
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:03] #208 closed

[2017-10-26 16:08] LukeTowers commented on #113
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:08] LukeTowers commented on #211
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:08] #211 closed

[2017-10-26 16:08] LukeTowers commented on #222
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:08] #222 closed

[2017-10-26 16:09] LukeTowers commented on #223
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:09] #223 closed

[2017-10-26 16:10] LukeTowers commented on #189
@mariavilaro is this something that you still need in the plugin?

[2017-10-26 16:12] LukeTowers commented on #221
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:12] #221 closed

[2017-10-26 16:15] LukeTowers commented on #228
I don't think CMS pages are supported to be translated, but I could be wrong.
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:15] #228 closed

[2017-10-26 16:15] LukeTowers commented on #226
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:15] #226 closed

[2017-10-26 16:16] LukeTowers commented on #230
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:16] #230 closed

[2017-10-26 16:16] LukeTowers commented on #236
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:16] #236 closed

[2017-10-26 16:17] LukeTowers commented on #237
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:17] #237 closed

[2017-10-26 16:18] LukeTowers commented on #224
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:18] #224 closed

[2017-10-26 16:18] LukeTowers commented on #243
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:18] #243 closed

[2017-10-26 16:27] LukeTowers commented on #167
Potential solution in #244

[2017-10-26 16:29] LukeTowers commented on #239
@alxy would you be willing to make a PR to implement this?

[2017-10-26 16:30] LukeTowers commented on #227
I'm liking @mariavilaro's solution the most, just #244 to get cleaned up a bit first.

[2017-10-26 16:32] LukeTowers commented on #241
In theory fixed by https://github.com/octobercms/october/pull/2663

[2017-10-26 16:32] #241 closed

[2017-10-26 16:32] LukeTowers commented on #251
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:32] #251 closed

[2017-10-26 16:33] LukeTowers commented on #231
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:33] LukeTowers commented on #253
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:33] #253 closed

[2017-10-26 16:40] LukeTowers commented on #254
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:40] #254 closed

[2017-10-26 16:40] #131 closed

[2017-10-26 16:41] LukeTowers commented on #259
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:41] #259 closed

[2017-10-26 16:42] LukeTowers commented on #260
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:42] #260 closed

[2017-10-26 16:42] LukeTowers commented on #263
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:42] #263 closed

[2017-10-26 16:42] LukeTowers commented on #15
@daftspunk are you still planning on implementing this?

[2017-10-26 16:43] LukeTowers commented on #205
@ctf0 did you try my suggestion at all?

[2017-10-26 16:45] LukeTowers commented on #194
@intro1987 @D1kz @Yokann if anyone wants this included a pull request will need to be made.
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:45] #194 closed

[2017-10-26 16:49] #129 closed

[2017-10-26 16:50] LukeTowers commented on #16
Added in #272

[2017-10-26 16:50] #16 closed

[2017-10-26 16:51] LukeTowers commented on #169
@daftspunk is still something you plan on implementing?

[2017-10-26 16:52] LukeTowers commented on #191
@fdeneux @MaxNozhkin @raskrial if someone wants this integrated with the plugin core then please make a pull request.

[2017-10-26 16:52] LukeTowers commented on #273
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:52] #273 closed

[2017-10-26 16:53] LukeTowers commented on #271
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:53] #271 closed

[2017-10-26 16:54] mariavilaro commented on #189
Yes, it's not really urgent but it would be nice that on Backend, the "Preview" link in the CMS and Static Pages always works. That 404 is confusing.

[2017-10-26 16:55] #275 closed

[2017-10-26 16:56] LukeTowers commented on #250
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:56] #250 closed

[2017-10-26 16:56] LukeTowers commented on #280
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:56] #280 closed

[2017-10-26 16:57] LukeTowers commented on #262
@hocopor could you make a PR for your suggestion to add official support for it in the core?

[2017-10-26 16:58] LukeTowers commented on #279
Any progress on this @daviskregers?

[2017-10-26 16:59] LukeTowers commented on #281
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 16:59] #281 closed

[2017-10-26 17:00] LukeTowers commented on #292
@vannut there was some issues with the caches for the StaticPages plugin that have been solved recently, try updating and then let me know if this issue is still present.

[2017-10-26 17:00] LukeTowers commented on #293
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

Closing as it

[2017-10-26 17:00] #293 closed

[2017-10-26 17:01] #296 closed

[2017-10-26 17:02] #234 closed

[2017-10-26 17:02] LukeTowers commented on #238
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 17:02] #238 closed

[2017-10-26 17:03] elboman commented on #281
@LukeTowers yeah, it's unfortunate. I was hoping for @daftspunk to give us some help to start working on it but I understand the quantity of support request is overwhelming.

I'd be happy to start working on it once/if the issue gets re-opened 👍

[2017-10-26 17:03] LukeTowers commented on #298
@quochuy are you able to dig a bit deeper and make a PR to fix the issue?

[2017-10-26 17:06] LukeTowers commented on #281
@elboman if you want to work on this, go ahead! I only close issues as abandoned to motivate action on them :) Otherwise they would just languish on the queue and never get looked at. Let me know if you make a fix and then we can get it merged in via a pull request.

[2017-10-26 17:07] LukeTowers commented on #189
If you made a PR for this I'd be happy to review it. You've done lots of great work with this plugin so far!

[2017-10-26 17:08] LukeTowers commented on #286
@amdad @vannut @niclasleonbock @lucianomelotti @canthis could somebody try debugging this in more depth and provide a fix via Pull Request?

[2017-10-26 18:42] ctf0 commented on #205
@LukeTowers hi again, i honestly can't remember after so long 😢

[2017-10-26 18:51] LukeTowers commented on #205
Do you still use this plugin? Would you be willing to go through this thread again and figure out the original issue and if there was a solution to that?

[2017-10-26 18:59] ctf0 commented on #205
sadly i cant as i've already built my own https://github.com/ctf0/SimpleMenu which has some ideas of october

[2017-10-26 21:28] LukeTowers commented on #270
Closing as it has been over a month since any activity on this occurred.

[2017-10-26 21:28] #270 closed

[2017-10-26 21:29] LukeTowers commented on #242
Duplicate of #209

[2017-10-26 21:29] #242 closed

[2017-10-26 21:30] LukeTowers commented on #209
Can someone provide a PR with an official fix to this please?

[2017-10-27 07:18] danielsvens commented on #309
i ran the update with edgeUpdates and some things was not updated i guess, i had to change cipher to AES and some other things. but after that it fixed all my issues. thank you for that.

[2017-10-27 15:35] LukeTowers commented on #309
Awesome, glad to hear it!

[2017-10-27 15:35] #309 closed

[2017-10-28 11:50] daftspunk commented on #295
You may now use branch `build419` for this.

[2017-10-28 11:50] #295 closed

[2017-10-28 13:37] #283 closed

[2017-10-28 13:37] #288 closed

[2017-10-28 13:37] daftspunk commented on #288
Please test 76b798e89d345957802888142a190e5643a5eafe to see if it fixes the issue.

If not create a brand new issue that references this one.

[2017-10-28 13:38] daftspunk commented on #283
Please test 76b798e89d345957802888142a190e5643a5eafe to see if it fixes the issue.

If not create a brand new issue that references this one.

[2017-10-29 11:30] trsh commented on #159
@dev-lav great!

[2017-10-29 21:51] rashArt commented on #279
hi @LukeTowers ,

I have the same case, only that it works in the fields description and plaintext, i changed from type: codeeditor to textarea in the field content_html does not take the translation, is there anything that prevents the other elements from taking the translation?

This is my call to rainlab.translate:
`MailTemplateModel::extend(function ($model){`
`$model->implement[] = 'RainLab.T

[2017-10-31 12:44] vannut opened #315 "Add setting to disable retrieving locale from session"
For almost all of my projects I want a slightly different use of the routing of the Translate plugin. I found a solution, but before making a PR I want to discuss it here with you.

### Current behaviour:
At the moment when you visit an url without a locale-prefix in the url-segments the (new) [localeMiddleware](https://github.com/rainlab/translate-plugin/blob/master/classes/LocaleMiddleware.php#L

[2017-10-31 13:13] vannut commented on #315
@datune This adresses your 'problem' with my plugin.

[2017-10-31 13:22] datune commented on #315
@vannut Thanks!

In fact, your described "desired behaviour" is the best practice for multilingual sites. Google and co. also strongly discourages setting site language based on cookies without an explicit domain or uri parameter.

The default behaviour of the Rainlab.Translate plugin is actually a bad practice, especially for SEO.

For those who want to know more: [read this](https://support.goog

[2017-10-31 13:26] CptMeatball commented on #315
I feel like skipping the session entirely is somewhat of an edge case.

That said, I think it _should_ be possible, but not through backend. I'd favour a settings file over a new settings tab with only two checkboxes. Something like:

Settings/translate.php
[code]

==

@datune By forcing the url locale in the component, the SEO struggles are solved I think. There's an option to force the URL to th

[2017-10-31 13:38] Eoler commented on #315
Yup, if you're not using hreflang's with immutable locale-specific URLS you better be very very clever if you want to rank...

[2017-10-31 13:45] datune commented on #315
@CptMeatball I know about the "enforce" setting for Rainlab.Translate, the problem with that is, it enforces it for ALL languages, including the default one, which is not optimal.

Consider the following fictional example:
_http://www.some-domain.de_
now always becomes _http://www.some-domain.de/de_

That doesn't make sense.
Excluding the default language from the "enforce" setting (to be bc perha

[2017-10-31 13:48] CptMeatball commented on #315
Hmm, didn't know this. I thought that the default was absent in this setting. That should definitely be part of this issue, because in the end you want consistency in your URLs.

[2017-11-01 08:39] vannut commented on #315
Jups. That's the problem with the `forceLocale=true` setting: it enforces it everywhere.

To avoid an XY-problem: In the end we want a solid not-changing by sessions, domain structure.
So the domain without prefixes serves the **default** locale (That's why it's a default); while all other alternative locales should have their own 'folder' on the main domain.

If i'm reading all this correctly, ad

[2017-11-01 15:37] LukeTowers commented on #315
@vannut @datune @CptMeatball @Eoler This proposal sounds good to me, somebody please implement it and make a pull request

[2017-11-01 16:10] vannut commented on #315
Will do asap!

[2017-11-02 12:47] plyusninva opened #316 "need update version"
Hello!
Please update plugin
![image](https://user-images.githubusercontent.com/25381948/32326770-ddc95cc6-bff5-11e7-8beb-b3563310f546.png)

[2017-11-02 14:07] vannut commented on #316
Those updates > 1.2.11 are pending updates, which means you can install them when having edgeUpdates on. They are built on the new version of OctoberCMS (build > 4.20).

Until OctoberCMS is 'stable' at the new version, the plugin also gets updated.

if you want the latest version without enabling `edgeUpdates` you can always clone this repo and drop it in your OctoberCMS install.

[2017-11-02 14:12] LukeTowers commented on #316
As above @plyusninva

[2017-11-02 14:12] #316 closed

[2017-11-02 16:32] vannut commented on #286
I can't reproduce the bug anymore in the latest version (1.3.2) of the plugin.

[2017-11-02 16:42] LukeTowers commented on #286
Closing this unless other information reliably reproducing this comes up.

[2017-11-02 16:42] #286 closed

[2017-11-02 17:45] LukeTowers commented on #315
Thanks @vannut! @datune @CptMeatball @Eoler could one or more of you test @vannut's PR (#317) and let me know if that works for you so that I can merge it?

[2017-11-02 21:16] daftspunk commented on #283
Assume this is fixed. Fix included in v1.3.3+

[2017-11-03 03:59] plyusninva commented on #316
how soon will a new version of OctoberCMS?

[2017-11-03 06:07] LukeTowers commented on #316
@plyusninva do you mean a stable release of the latest code changes?

[2017-11-03 06:29] plyusninva commented on #316
Yes, I would like to try a new stable version :-)
(edgeUpdates = false )

[2017-11-03 16:02] LukeTowers commented on #316
If more people tested `edgeUpdates = true` then it would be faster ;). It should be here within the next couple of weeks, we need to push the next build and let it sit for a week.

[2017-11-09 09:42] plyusninva opened #319 "creating files with the access right 777"
when I create the "Test" page, a file with the access right 777 is created in the "/themes/[theme_name]/content/static-pages-en/test.htm" directory

![image](https://user-images.githubusercontent.com/25381948/32598536-d9709444-c55b-11e7-8ee3-fcf84441fb43.png)
and also when editing files, the access rights "644" are reset to "777"

this is normal? or bug?

--
october build 419 (translate 1.2.11)

[2017-11-09 11:33] vannut commented on #319
Can't tell if its normal behaviour; but in the config-directory there is an entry for the permission mask:
`/config/cms.php`
[code]
If you specify the mask here, does the translate plugin use this?

[2017-11-10 10:49] plyusninva commented on #319
everything works well, I just forgot about this setting. was set 777 ('file' => 777, 'folder' => 777)
I apologize for not attentiveness and thank you for your answers

[2017-11-10 10:49] #319 closed

[2017-11-11 21:52] marcomessa opened #320 "Wrong method called by RainLab\Translate\Classes\ThemeScanner"
Hello,
I noticed this error every time i try to update my language references in backend settings:
[code]
That's happening because ThemeScanner calls MailTemplate::allTemplates() (which doesn't exists)  instead of MailTemplate::listAllTemplates().

Although setting up the correct method name bring a different error:

"Trying to get property of non-object" on line 100 of /Users/marco/Sites/up-studi

[2017-11-12 03:35] LukeTowers commented on #320
What version of the RainLab.Translate plugin are you using and what build of October are you using?

[2017-11-12 08:54] marcomessa commented on #320
@LukeTowers  I apologize for the stack.
These are my versions:

Octobercms: build 427
Translate: v 1.3.3

[2017-11-15 09:33] tdolph commented on #286
Where can i get the 1.3.2 version? I can only see 1.2.18?

[2017-11-15 17:08] LukeTowers commented on #286
@tdolph see previous comment: https://github.com/rainlab/translate-plugin/issues/286#issuecomment-339734186

[2017-11-17 08:57] tdolph commented on #286
Im not familiar with this plugins code but it appears to me that the problem is actually octobers own preset functionality. It sets values of both languages when typing inside title input. As far as i see, there is no problem posting the right values, only with setting those input values. I will dig further and try to make it work.

[2017-11-17 14:23] tdolph commented on #286
Been at it for almost a day now but i just cant find the js responsible for overwriting it. Im not very good at js so some help would be really appreciated!

[2017-11-17 18:38] LukeTowers commented on #286
@vannut could you help @tdolph find the cause for this issue?

[2017-11-28 12:57] yarbala commented on #307
I have same issue

[2017-11-28 13:34] yarbala commented on #303
Some fix to previous fix - if you change existing field to translatable, this will prevent errors

[code]

[2017-11-28 14:20] LukeTowers commented on #303
@yarbala feel free to make your code changes in a PR so that we can easily merge them when they get reviewed.

[2017-11-29 10:09] yarbala commented on #303
[](https://github.com/rainlab/translate-plugin/pull/322) - I made pull

[2017-11-29 14:59] LukeTowers commented on #303
Thanks @yarbala, just need it to be reviewed now.

[2017-12-04 11:33] hocopor commented on #315
offtopic sry
@vannut can you add `setlocale()` function as below to `Translator::setLocale` with your next PR please.

`setlocale(LC_MONETARY, $locale.'_'.strtoupper($locale));`or something

[2017-12-04 12:27] LukeTowers commented on #315
Implemented in #318

[2017-12-04 12:27] #315 closed

[2017-12-11 13:58] brunocascio commented on #295
Hi @daftspunk!

Since October installs the latest plugin versions, could you tell me how to install specific branch versions?

Thanks!

[2017-12-11 14:56] LukeTowers commented on #295
@brunocascio why don't you just update October?

[2017-12-11 15:24] brunocascio commented on #295
Thanks @LukeTowers!

Now it's working :)

[2017-12-12 12:47] Fl0Cri opened #323 "Switching locale of ML repeater doesn't load values of the target locale"
I have a page (from Rainlab Static Pages plugin) using a layout that defines a repeater.
I have set some values in the repeater for both languages I am using: EN (default) and FR.
The problem occurs when I try to switch the repeater from the default locale to any other locale.

#### Expected behaviour
When switching to an other locale (here from EN to FR), the fields inside the repeater should be

[2017-12-13 09:21] davidjmz commented on #323
Thanks a lot for the suggested solutions, the last one worked like a charm for us, but as you say, it may break anything else, but right now is working fine, thank you again <3

[2017-12-15 08:25] slowpokefarm commented on #323
Thanks for submitting that issue, I was just going to do it myself as well, because it is really annoying and unusable.

[2017-12-15 21:40] ranmichael commented on #323
@Fl0Cri your last solution works for us as well!
(Hope it doesn't break anything)
There was a recent update to the Translate plug-in which I thought was going to solve this issue.
It partially solved it, because before the update - repeater values on different locales were stored sequentially i.e.
En would be
someRepeater[1][someValue]
someRepeater[2][someValue]
someRepeater[3][someValue]

and FR

[2017-12-16 04:31] LukeTowers commented on #323
@Fl0Cri @ranmichael @slowpokefarm @davidjmz someone please submit a PR with the fix and get as many people to test it and comment on the PR verifying it as possible. Thanks!

[2017-12-16 07:31] munxar commented on #323
@LukeTowers here you go: https://github.com/rainlab/translate-plugin/pull/324

[2017-12-17 05:54] munxar commented on #192
@LukeTowers @daftspunk here you go: [](https://github.com/rainlab/translate-plugin/pull/325)
Only thing I can't figure out is how it automagically renders as MLMediaFinder if used in a static page syntax field (like text and all others do). Any Idea?

[2017-12-17 19:34] LukeTowers commented on #192
Does it not register in https://github.com/rainlab/translate-plugin/pull/325/files#diff-252810a1b0bce82b1a1ef724cee3c8deR140?

[2017-12-17 20:14] munxar commented on #192
@LukeTowers thats what I thought, but it doesn't work. `$model->getTranslatableAttributes()` does not return them...

[2017-12-17 21:49] LukeTowers commented on #192
@munxar did you mark the attribute it was getting stored in as translatable?

[2017-12-17 22:33] munxar commented on #192
@LukeTowers it's a dynamic syntax field, usually I don't have to register anything. If I use it in a normal backend form with a model and the translatable attribute registered, it works.
Do I miss something?

[2017-12-17 22:58] LukeTowers commented on #192
Check how the pages plugin determines what fields to render and where it registers them as translatable.

[2017-12-17 23:27] munxar commented on #192
Ahhhh, found it. So then this PR is complete. I'll have to add one to the Pages plugin too, to make it  work for syntax fields.

[2017-12-21 08:40] Fl0Cri commented on #307
Me too in a slightly different context. I was doing tests with https://github.com/daftspunk/oc-test-plugin
The repeater I tried to use is in the `Countries` section, in the `States` tab. It is defined like this:
[code]

I saved these values (same in my other language except that `EN` was replaced by `FR`):
![edit countries _ octobercms - google chrome 2017-12-21 09 32 57](https://user-images.githu

[2017-12-21 12:37] jan-vince commented on #323
Hi @LukeTowers, the PR: #324 works for me with basic repeaters in Static Pages and in plugin's forms fields.

Can you please merge it?

[2017-12-22 19:02] #323 closed

[2017-12-30 21:10] msimkunas opened #327 "Slugs do not autocomplete"
I've noticed that fields which autocomplete as you type according to another field (such as slugs) do not visibly autocomplete when using this plugin.

This issue can be reproduced using the `blog-plugin` but it applies to the general case as well (i.e. I notice the same behavior in one of my custom plugins).

Steps to reproduce:
1. Open an existing blog post
2. Ctrl+click on the language chooser

[2017-12-31 06:40] LukeTowers commented on #327
@msimkunas Could you provide a PR to fix this issue? It probably has to do wit the input preset JS handler not being appropriately reregistered onto the translated fields that are replacing the originals.

[2017-12-31 09:48] msimkunas commented on #327
@LukeTowers Not at this time. I haven't investigated this issue on a technical level yet. I'll try my hand at this sometime after the holidays.

[2017-12-31 17:27] LukeTowers commented on #327
Awesome, thanks @msimkunas

[2018-01-04 23:54] ranmichael opened #328 "Rainlab Blog: On switchLocale URL isn't translated"
October Build: 431
Rainlab Blog: 1.2.19
Rainlab Translate: 1.3.3
----
Steps to reproduce:
1. Create a blog post in two languages. E.g. En, Fr.
2. Set up a different URL for each of the languages.
e.g.
For English: /my-article
For French: /mon-article
You can choose to force or not the URL Schema in the LocalePicker.

3. Consult the blog article in the FrontEnd.
4. Switch Locales with a LocalePicke

[2018-01-05 02:02] LukeTowers commented on #328
Is this related to https://github.com/rainlab/translate-plugin/pull/326 @ranmichael?

[2018-01-05 08:48] vannut commented on #328
On the one hand it seems related; but I don't read anything about changing the `prefixDefaultLocale` setting. With that setting being default it should not interfere with anything.

That said, the behaviour does indeed look [like this](https://github.com/rainlab/translate-plugin/pull/318#issuecomment-354567683)

[2018-01-05 15:47] ranmichael commented on #328
@vannut @LukeTowers , at first sight it seems related but isn't;
This happens Regardless of the settings/flags - I added the prefix /en and /fr only so that the explanation is clear.

Also, I don't encounter this problem on StaticPages; Though #326 is present on StaticPages.

For the record, the only two CMS pages (not static) I use have:
- One page: has the Post List Component. No problem with UR

[2018-01-05 17:20] LukeTowers commented on #328
@ranmichael are you able to do some digging and see if you can figure out what a fix would look like?

[2018-01-05 18:28] ranmichael commented on #328
@LukeTowers I think it's better to wait for #326 fix first, then re-evaluate.
 If fixing #326 and forcing schema does the trick, this becomes low priority.

**PS - For any one looking for a workaround:**
At the mean time, for my project, the workaround is to redirect to the blog's PostList (category) page when the user switches languages while reading any specific Blog post.
So when the user is in

[2018-01-05 20:28] LukeTowers commented on #328
@ranmichael could you test #326 and let us know if it works for you? I'm waiting for someone else to test it before I merge it.

[2018-01-09 12:32] munxar commented on #279
Have the exact same problem. If i define the translatable property in the MailTemplate model itself, it works:
[code]

if I use the addDynamicProperty approach, it displays the translatable fields, but on save it gives me the error:
`Unexpected type of array, should attribute "translatable" be jsonable?" on line 1127 of vendor/october/rain/src/Database/Model.php`

sidenote: the subject is defined

[2018-01-09 13:01] LukeTowers commented on #279
Not a clue @munxar, you're going to have to do some more digging on this one. Let me know how it goes!

[2018-01-09 13:04] munxar commented on #279
@LukeTowers right now it seams that the only difference is that if declared directly in the class, it isn't serialized, if added dynamic it is.
but why ...

[2018-01-09 13:05] LukeTowers commented on #279
Take a look at the extension base classes in the library, see if you can figure it out

[2018-01-11 08:21] kharanenka opened #330 "Language attributes are not saved in relation popups"
I have a Product model. I extends it and adds morphOne relation to the Test model. I extends fields of Product model in backend and adds new relation field for Test model. Test model has translate fields. Relation field has buttons: create, update. From the product form, I create a new Test model object and set the values for the language fields immediately. The language attributes are successfull

[2018-01-11 09:31] vannut opened #331 "Meta title/description for CMS page not translatable by default"
I just found out that a CMS page's Meta title and Description is not translatable by default.
![schermafbeelding 2018-01-11 om 10 30 23](https://user-images.githubusercontent.com/7419859/34818215-76e129a2-f6ba-11e7-9880-acdc870b0e59.png)

Only the slug is translatable.
Am I missing something here?
Or might it be a good thing to make those fields also translatable by default?

[2018-01-11 14:42] LukeTowers commented on #331
Make a PR to change this if you want :)

[2018-01-11 14:44] LukeTowers commented on #330
Duplicate of #209

[2018-01-11 14:44] #330 closed

[2018-01-11 15:03] vannut commented on #331
Haha. Will do, but was wondering if I was missing something here :)
But if the plugin lacks the feature I'll dive into it :)

[2018-01-11 18:03] LukeTowers commented on #331
Sounds good 👍

[2018-01-17 08:25] joelamltc opened #333 "MLRichEditor input data lost after switch locale."
Input data lost after switch locale from top right corner.

For example, system has 3 languages (English, Traditional Chinese, Simplified Chinese).
I input data in English, then I switch to Traditional Chinese and copy and paste the data I input in English. Do the same for Simplified Chinese.
After that, I switch to English from Simplified Chinese, but no data present in RichEdotor.

### I found o

[2018-01-18 02:31] LukeTowers commented on #333
Looks like it was perhaps recently fixed in Froala: https://github.com/froala/wysiwyg-editor/issues/2055. There's been an issue open for @daftspunk to upgrade the version: https://github.com/octobercms/october/issues/3203

[2018-01-18 03:40] joelamltc commented on #333
@LukeTowers Might I ask does it fixes yet?

[2018-01-18 17:44] LukeTowers commented on #333
@joelamltc it hasn't been. Try pinging @daftspunk on the issue I linked you to in order to get him to upgrade the dependency

[2018-01-21 11:24] munxar commented on #279
Finally I solved it:

[code]

Using **extendClassWith()** instead of setting the $implements property did the trick.

[2018-01-21 13:59] viamage opened #334 "Cache timeout customization with env"
Hello,

Currently cache timeout is hard coded to 1440.

There are some occasions though - for example static websites where content or translations do not change, where it would make sense to increase that timeout. Otherwise every 24h some unlucky visitor, or a robot, will trigger a lot of queries, which can convert to several seconds of additional initial request time, because queries are not col

[2018-01-21 15:30] LukeTowers commented on #334
@viamage I'd accept a PR that put it in the config file instead, that way people can use config overrides to use environment files if they want or just use the config override instead and commit that to their projects.

[2018-01-21 15:32] LukeTowers commented on #279
@munxar how well does the mail template translation work? Does it know when to send out the correct templates?

[2018-01-21 16:04] viamage commented on #334
PR created @ https://github.com/rainlab/translate-plugin/issues/334 I guess it's in line with your comment.

[2018-01-21 16:11] munxar commented on #279
@LukeTowers Not, yet. I'm on it. The Idea is that Backend\User and User have a communication language (or not, fallback default locale) associated.
Now the hard part is to intercept the Mail facade, but due to the existing events, it should work.
Any hints or ideas?

[2018-01-21 19:25] LukeTowers commented on #279
I know there are some mailer events that you could think about hooking into: https://docs.google.com/spreadsheets/d/17vv4zn_ezp9iFBgYhYuYsmUG4MXW9uuIw7aOIrVcHiM/edit#gid=0. I'm interested to see what you come up with though :)

[2018-01-22 01:52] joelamltc commented on #333
I saw daftspunk assigned you tho @LukeTowers

[2018-01-22 02:00] LukeTowers commented on #333
@joelamltc nope, I assigned @daftspunk (https://github.com/octobercms/october/issues/3203#event-1312159941). And that doesn't really mean anything anyways. He's the only one with the access to Froala to update the DRM sources, so I'll ping him privately about the issues.

[2018-01-22 02:02] joelamltc commented on #333
@LukeTowers okay thanks

[2018-01-22 21:01] #334 closed

[2018-01-24 09:16] abdulla-allaith opened #336 "Losing URL parameters after switching locale"
Hello,

I have a page that has URL parameters
e.g. `/en/test-page?id=1`

The layout supports the `[localePicker]` component and the switch language button is implemented  as documented: `<a data-request-data="locale: 'de'" data-request="onSwitchLocale" href="#">`

However, when the page switches locale, the params are gone and the url becomes the following: `/de/test-page`

This is very problemati

[2018-01-24 15:21] LukeTowers commented on #336
@abdulla-allaith see if you can find the issue and or a fix for it in https://github.com/rainlab/translate-plugin/blob/master/components/LocalePicker.php#L69 and then make a PR to fix it please :)

[2018-01-25 06:41] abdulla-allaith commented on #336
@LukeTowers after some debugging, I have not been able to fix it myself, but I have some findings that I can share:

I discovered that the parameters are always empty in
https://github.com/rainlab/translate-plugin/blob/master/components/LocalePicker.php#L140
[code]
The strange thing is, when the `onSwitchLocale` is called, I tried calling:
[code]
and the result is a URL without parameter(s)!
Howev

[2018-01-25 07:06] munxar commented on #336
@abdulla-allaith @LukeTowers I'll already fixed that in my locale picker, happy to make a PR.
Should I add an property 'preserve query' or just appen if a query string is present?

[2018-01-25 07:15] abdulla-allaith commented on #336
@munxar Thanks and please make the PR. I believe the property would be very useful, but the default should be preserving the query.

[2018-01-25 10:03] munxar commented on #336
here you go: https://github.com/rainlab/translate-plugin/pull/337

[2018-01-25 17:51] LukeTowers commented on #336
@munxar it makes the most sense to preserve the query by default. If an issue arises that requires preserving the query to be configurable, then we can discuss that when it happens.

[2018-01-26 04:05] amdad opened #338 "Dates translation not working anymore"
Carbon do not react on language switch. Always show dates in default language of config/app.
Tested on many plugins. Rainlab Blog also.

[2018-01-26 05:53] munxar commented on #338
@amdad afaik there was never a translation of dates out of the box. we had to add the twig extensions plugin to make it work.

[2018-01-26 08:12] amdad commented on #338
So, you know it wrong. It works flawlessly some times ago.

https://github.com/octobercms/october/issues/1968

[2018-01-26 08:25] amdad commented on #338
Thing is, that translation is done correctly in system by carbon extension. If you set global app config on other then English you can see it (translated dates). It just not switch to active lang with languageSwitcher like it was before last updates.

Without latest pending 'edge' fix language switcher doesn't work switch even content properly. So latest issues must be related to this issue also.

[2018-01-26 09:32] vannut commented on #338
There is a difference between the app locale (set in the config file) and the locale which is selected by the translate plugin.

I've overcome this 'issue' and the problem of different system locale (like nl_NL.UTF8 vs nl_NL vs nl_NL.UTF-8) by wrapping the translation of dates via carbon in a twig-function which standardises the locale-array to work on every system, takes a format as argument with

[2018-01-26 09:33] munxar commented on #338
@vannut was about to write the same :-)

[2018-01-26 15:32] amdad commented on #338
@vannut @munxar  Guys, I told you, this function was added by my request and works by itself. And still works. It is just broken now.

Originally dates show up only in English. From this octobercms/october#1968 October got function to extend Carbon with localized/translated version. It still there, just somewhere between communication between Translate plugin and October something is missing after

[2018-01-26 16:09] LukeTowers commented on #338
@amdad you seem to be the most knowledgeable about the issue and what broke. Please submit a detailed pull request to fix it.

[2018-01-26 16:14] amdad commented on #338
If I could, I would Luke. I just know how it works before is stops. Because I just used it.

[2018-01-26 17:01] LukeTowers commented on #338
@amdad don't be afraid to dig into the code and read / play around with it. I can tell you right now that I personally don't have time to work on this particular issue so any fix will have to come from the community.

[2018-01-26 17:03] munxar commented on #338
@amdad @LukeTowers I found the code and your totally right, Argon was added exactly for this purpose.
I'll take care of this, if nobody minds.

[2018-01-26 17:10] munxar commented on #338
I found that this event 'locale.changed'
[code]
is never fired. I'm on it...

[2018-01-26 17:24] LukeTowers commented on #338
@munxar to the rescue! 🎆

[2018-01-26 17:48] munxar commented on #338
@amdad did you use the build in twig date filter like {{ now|date }}?
because i can't find any piece of code that overrides the standard twig date with the Argon implementation (I think Argon is mainly/only used for the backend)

[2018-01-26 17:55] amdad commented on #338
Yes, yes.

{{ post.published_at|date('M d, Y') }} from Rainlab Blog example. Without Argon date always would be in English format, and one only. When you change config in app date is translated with Argon also on frontend. This proves Argon works on frontend. It just not receive properly this function/event to change lang from Translate plugin. Before Argon, frontend date format was always the sam

[2018-01-26 18:18] munxar commented on #338
@amdad I can change the locale or fallback_locale and nothing is translated.
my build is 431.
pls. list the plugins you have installed, I bet one of theme replaces/extends the standard date filter.

[2018-01-26 18:23] amdad commented on #338
You shouldn't change 'fallback_locale' but  'locale' =>  itself.
Fallback is when original translation is MISSING, then secondary language is displayed.

Change  'locale' => 'ru' or any other well known lang, and you'll see how Argon works flawless on frontend without any changes in code.

[2018-01-26 18:28] munxar commented on #338
@amdad tnx I now how the system works ;-)
but it just doesn't what you say on my system. If you like me to help you, pls give me the required info.
What plugins do you have installed? What versions?

[2018-01-26 18:31] amdad commented on #338
Ok, I will write you steps to recreate. I'll start on clean install to be perfectly sure. Give me a second.  It must be the same scenerio with you.  It's not about plugins I have installed.

[2018-01-26 18:52] amdad commented on #338
1. Make clean installation of October. I choose SQlite DB
2. Install Rainlab.Blog
3. Add BlogPosts component to demo theme.
4. Open site. You'll see default English month name on date of test Blog post.
5. Change in config/app.php

'locale' => 'en' to 'pl'

6. Refresh website, you see Polish month name on frontend.

[2018-01-26 18:54] amdad commented on #338
Maybe have cached page. Clean any cache after locale change. Only installed is Rainlab.Blog, not even Translate plugin.

[2018-01-26 21:32] amdad commented on #338
@munxar Did you experience Argon on frontend already? 😄

[2018-01-26 23:07] vannut commented on #338
SOrry @amdad I clearly mis understood your question, as it seems more extensive then on first sight. My suggestion is not a workaround, but an extension to add some functionality to twig.

Besides that I'm not seeing what this 'jenssegers/date` extension adds as localisation functionality is [baked into carbon by default.](http://carbon.nesbot.com/docs/#api-localization)
But I might be missing the

[2018-01-27 02:02] amdad commented on #338
Exactly, I guess it's must be somewhere in middleware as I see middleware was broken and fixed in latest commits. So I thought there is a problem. But for me as a beginner "middleware" is just another concept I still need to learn from scratch.  Also, after update to laravel 5.5 many things can fail because of changes. You can check last build of October before update, and last Translate plugin ve

[2018-01-27 07:00] munxar commented on #338
So I found something that could explain everything:
[code]
The output in ru locale is:
[code]
wich means that the *model* is relevant how the date is rendered. If you use a Carbon or plain php DateTime it is *NOT* translated, if it is an instance of the Argon class, it's translated properly.

Long story short: If there is a breaking change, than it's in the way the timestamps are instantiated (the

[2018-01-27 07:34] LukeTowers commented on #338
@munxar were you able to find any changes in how the core uses the dates and if there was a switch during the Laravel 5.5 upgrade?

[2018-01-27 08:04] munxar commented on #338
No, I didn't look into it yet. But the $dates Attribute in the Model class
would be a good starting point. Will habe a look this WE

Am 27.01.2018 8:34 vorm. schrieb "Luke Towers" <notifications@github.com>:

[2018-01-27 13:44] munxar commented on #338
So I have to admit, I made a mistake. I added this call the Translator class
[code]
and this made everything work. If I remove it, translation doesn't work. Has someone insight if Laravel 5.5 removed this event?
So to correct my statement from above, we indeed can fix the behavior inside of the translate plugin by fireing the event.
I'm not sure if this is the right place...

[2018-01-27 16:20] amdad commented on #338
Hurray, right on track! 😀

[2018-01-27 16:28] amdad commented on #338
Wow, it works for me :) Thank you. Can you PR this?

[2018-01-28 13:40] munxar commented on #338
@amdad @LukeTowers here you go:
https://github.com/rainlab/translate-plugin/pull/339

[2018-01-28 14:55] amdad commented on #338
PUSH THE BUTTON 👇 Luke :)

[2018-01-28 21:24] #336 closed

[2018-01-28 21:58] daftspunk commented on #338
Fixed by https://github.com/octobercms/library/commit/16f7a286d8c90fb114d3abc9f7a51218c414c1f7

This will be available in core build 433+

[2018-01-28 21:58] #338 closed

[2018-01-28 22:05] amdad commented on #338
"legacy" will stay forever in core? So this PR fix for Translate plugin will not be needed, ever since 433?

[2018-01-28 22:07] daftspunk commented on #338
Yes it will, legacy is in the context of Laravel. For October, it is not mutually exclusive, so it should be considered the "simple" event, referring an event class perhaps is "advanced" event usage.

[2018-01-28 22:08] amdad commented on #338
It's good to see Master🥇 back!

[2018-01-31 14:57] giorgionetg opened #342 "After update"
After update and get latest version (1.3.3). The plugin seems installed, but the widget does not work at all. It's like if it was not installed.

[2018-01-31 15:56] LukeTowers commented on #342
Not enough information.
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask co

[2018-01-31 22:11] mplodowski commented on #209
Thanks for this quick fix @shiftaltd

I experienced some issues with this solution.

1. Save modal (relation) and then save main record. The main record values will override the relation attributes.

2. This will not work when relation is already created and we apply the fix. We must remove it and add it again to work as expected.

I came up with this code if someone experience the same issues:

[

[2018-02-01 11:39] giorgionetg commented on #342
SOLVED!!!
I had two folders of translate plugin "rainlab/translate" and "rainlab/translate_old", before update works regular, but after nope. My mistake.
I apologize for time wasting.
Thanks for fast reply.

[2018-02-01 11:39] #342 closed

[2018-02-01 23:20] ranmichael opened #343 "Static Pages > Snippets > CMS Cache refresh problem when switching languages makes snippets unusable"
Steps to Reproduce:
- Create a static page
- Add snippet 1 in first language (let's say Fr) - save.
- Still in the editor, switch to second language (let's say En)
- Add snippet 2 in second language - save.
- Go to Frontend on first language.
Notice problem: Snippet 1 doesn't appear. Refresh. Still nothing.
Switch to second language (using locale picker or via url)
Snippet 2 DOES appear.
Switch ba

[2018-02-02 00:10] LukeTowers commented on #343
This was fixed a while ago, update your October instance and your plugins. https://github.com/rainlab/translate-plugin/commit/f5ddabbcf907af47a7129157c847472122c4ba7a

[2018-02-02 00:10] #343 closed

[2018-02-04 11:34] alvaro-canepa commented on #15
More than 3 years and we wait for this feature...
@daftspunk any news on it?

Thanks

[2018-02-04 13:20] munxar commented on #15
I started to work on it, but hadn't the time to finish. But will do in the next weeks.

[2018-02-04 17:29] LukeTowers commented on #15
Awesome, thanks @munxar! The core team is quite swamped with everything else that needs doing so I appreciate the community's work on this plugin.

[2018-02-04 23:43] munxar commented on #15
@alvaro-canepa @LukeTowers here you go:
https://github.com/rainlab/translate-plugin/pull/344
It needs some testing, polishing and documentation, I'd be very happy if some native could do the docs ;-)

[2018-02-05 20:28] ranmichael commented on #343
Oh !
Cool !
I was on Build 430 - updated to Build 431 and this problem was indeed fixed.

So the scenario above seems to work fine now - well... sort of.
It works if the snippets are inserted to the **'Content'** block (which is rendred by { %page% } ) - but not when using placeholders in Static pages.
In other words, can't show snippet 1 for language EN and snippet 2 for language FR - using the s

[2018-02-05 20:48] LukeTowers commented on #343
@ranmichael could you do some testing to find the difference in how the snippets get rendered between the content field and placeholder sections and see if you can narrow down why it's not working for you a bit more?

[2018-02-05 21:25] ranmichael commented on #343
Well,
The reason I tagged the mighty creators of StaticPages, is because they should already know exactly what you're asking me to investigate, while I have to (kind of) reverse-engineer their work to get the answer...
Unfortunately, I can't see when I can make time in my schedule to do this in a timely manner.

[2018-02-05 21:52] ranmichael opened #346 "Static Pages > Translated pages (files) not deleted when removing static page via the CMS"
**Build 431
Translate | 1.3.8 |
Pages | 1.2.18 |**

Steps to reproduce
- Create a static page (en + fr)
- Add some content and translated content in a second language
- Delete the page
Notice bug:
- The file in the primary language was deleted
- The file in the secondary language still exists

Also, sometimes I see traces of deleted files still exist under the meta/static-pages.yaml
This is a sepa

[2018-02-05 23:53] LukeTowers commented on #343
@ranmichael what makes you think the creators have time to take care of it? I could probably find the issue but I'm not personally encountering it right now and I have a significant amount of higher priority work to take care of right now so I probably won't get to it for a while. Hence why I recommended that you dig deeper into it so that you can have your issue solved.

[2018-02-06 00:28] ranmichael commented on #343
I might not understand how October Community works then.
I contributed 3 hours today to test, pinpoint and document a few bugs (4 actually with another ticket), which is the first step to resolve them. I hope this save other people who run into this issues some testing time.

These are not my issues, these are the community's issues, and the community is led by people more tech savvy and October e

[2018-02-06 04:30] munxar commented on #343
@ranmichael ok, so first of all, I have snippets working in multilang.
I use this plugin https://octobercms.com/plugin/toughdeveloper-richeditorsnippets to make them work in content blocks. It's a little dusty and needs some manual changes to run with october 420+.
I can make you a fork with the fix in the meanwhile, if you like.

[2018-02-06 04:54] munxar commented on #346
I can reproduce this, non default language page is still present under content/static-pages-xy/abc.htm
I'll have a look into it.

[2018-02-06 05:51] LukeTowers commented on #346
Thanks @munxar!

[2018-02-06 05:53] LukeTowers commented on #343
@munxar are you able to dig into why exactly the Pages plugin doesn't parse snippets in placeholder richeditors?

[2018-02-06 11:46] Akif-dev opened #347 "please help me"
Hello, everything working good via this plugin, i want to know if there is any code or way to use two headers to switch between two different languages

for instance: header1 for default language or language1 header2 for second language (RTL) right to left,

headers are ready,i am just looking for code to switch like if/else etc.

any switch for css, because i want to use different fonts for both

[2018-02-06 12:01] munxar commented on #347
I usually name my images like this:
logo_en.jpg, logo_de.jpg etc.
For each locale one. Then in my layout, I use the global variable activeLocale to concat the string like so:
'''php
<img src="{{ ('images/logo_' ~ activeLocale ~ '.jpg')|theme }}">
'''
with the same pattern you could include locale specific css or scripts.

Does that help?

[2018-02-06 12:17] Akif-dev commented on #347
Thank you for your quick response, check below, can u modify it to be working for the both the languages having different banners

<img class="item-container" src="{{side_banner1|media}}" alt="1" />

i am using static pages plugin, so banner is uploaded via cms, this code is fine & working for single banner, if u modify this code, will it work for both the languages and we can upload two different

[2018-02-06 12:19] munxar commented on #347
i see nothing ;-O

[2018-02-06 12:21] Akif-dev commented on #347
pls refresh and check

[2018-02-06 12:23] munxar commented on #347
If you do it like that, you'll have to use my (unfinished) multilingual mediafinder.
https://github.com/munxar/translate-plugin/tree/feature/mlmediafinder
So the user can choose an image for each language. We're working on an integration in the translate plugin right now.
or you wait a few days :-)

[2018-02-06 12:37] Akif-dev commented on #347
lets do it in your way, i have uploaded two banner on assets/images folder (named: chatBanner_en & chatBanner_fr

will the below code should work now ? pls advise

`<img src="{{ ('assets/images/chatBanner_' ~ activeLocale ~ '.jpg')|theme }}">`

[2018-02-06 12:48] munxar commented on #347
Upload into the assets/images folder inside your theme (CMS) not media
library and it should work.

Am 06.02.2018 1:37 nachm. schrieb "Akif-dev" <notifications@github.com>:

[2018-02-06 13:10] Akif-dev commented on #347
i put images here:

\themes\demo\assets\images

is this fine ?

[2018-02-06 13:11] munxar commented on #347
You tell me :-) yes looks good.

Am 06.02.2018 2:10 nachm. schrieb "Akif-dev" <notifications@github.com>:

[2018-02-06 13:38] Akif-dev commented on #347
its not working..

/themes/demo/assets/images/chatBanner_.jpg

firebug is showing the above code.. and image is not showing

console is giving error:
Failed to load resource: the server responded with a status of 404 (Not Found)

[2018-02-06 13:41] Akif-dev commented on #347
when i do the following, it works fine, but its for single language, actually its not recognizing or working with  ~ activeLocale ~

<img src="{{ ('assets/images/chatBanner_en.jpg')|theme }}">

[2018-02-06 13:44] Akif-dev commented on #347
pls advise

[2018-02-06 14:49] munxar commented on #347
You need a localePicker Component in your layout.

Am 06.02.2018 2:44 nachm. schrieb "Akif-dev" <notifications@github.com>:

[2018-02-06 15:34] Akif-dev commented on #347
how can i add localePicker Component in my layout ???

[2018-02-06 15:35] munxar commented on #347
rtfm: http://octobercms.com/plugin/rainlab-translate
first few lines.

[2018-02-06 15:36] Akif-dev commented on #347
yeah i was already seeing this.. let me try

[2018-02-06 15:39] Akif-dev commented on #347
awesome man.. its working perfectly.. can i do the same with CSS ? can u write code here for css ?

[2018-02-06 15:40] munxar commented on #347
If you like more 'chatty' support, join our slack pls.
https://ocrtobercms.slack.com/
A github issue is not the right place for this questions.

[2018-02-06 15:42] Akif-dev commented on #347
will this work?

'<img src="{{ ('assets/css/style_' ~ activeLocale ~ '.css')|theme }}" rel="stylesheet">'

[2018-02-06 15:43] Akif-dev commented on #347
sure i will join

[2018-02-06 17:52] LukeTowers commented on #347
Join the Slack group here: https://octobercms-slack.herokuapp.com/

[2018-02-06 17:52] #347 closed

[2018-02-06 21:58] hirisov opened #348 "index not created from multiline text in textarea field"
My model has a field defined this way:

        lyrics:
            label: 'Lyrics'
            size: giant
            span: auto
            type: textarea

and in the model this field is translatable and set to have an index:

  /**
  * @var array Attributes that support translation, if available.
  */
  public $translatable = [ ['lyrics', 'index'=>true] ];

If i swicth to a non default localea

[2018-02-07 06:08] munxar commented on #348
I tried to reproduce it, but in my setup it works as it should.
OctoberCMS 431
RainLab.Translate 1.3.8
My database column is of type text, UTF-8.
Try to update your versions and post the db schema type.
what version of db do you use?

[2018-02-07 07:31] hirisov commented on #348
Further testinng shows it's only an issue in my development Windows environment (Windows 10, wampserver 3.1.0, OCMS 431, RainLab.Translate 1.3.8, UTF-8 database), but it works correctly on the testing Linux environment. Can somebody please test in windows environment?

[2018-02-07 09:40] vannut commented on #343
Hmm this sounds very related to my issue: [Rainlab/Pages-plugin#326](https://github.com/rainlab/pages-plugin/issues/326)

[2018-02-07 09:42] munxar commented on #343
afaik it was never implemented on content placeholders, only in the main {% page %} block.
So it's more like a request for an extension not a bug. And for the time being, the above mentioned plugin gives enough tools to make everything work.

[2018-02-07 14:26] Alex360hd commented on #113
Would be greate to integrate the Glitchbone plugin to the core translate plugin

[2018-02-07 14:28] Alex360hd commented on #171
Same here, first multilanguage website with october and I'm surprised to see that it's not fully translatable yet.

[2018-02-07 15:58] LukeTowers commented on #113
@Alex360hd feel free to do that :)

[2018-02-07 16:27] LukeTowers commented on #343
@vannut This is a feature request for supporting snippets in placeholders as well as the main content area; the issue you're having seems to be different.

[2018-02-07 16:39] Alex360hd commented on #113
I can try even if I can't promise anything as I don't know well october cms yet neigher laravel.

[2018-02-07 16:39] LukeTowers commented on #113
No worries, give it a try, you'll probably learn a lot about both :)

[2018-02-13 15:58] #15 closed

[2018-02-16 16:38] quimalguero commented on #227
Hi, we are reading about this issue because we have same problem. I see is not closed yet, this last commit fix the issue?

[2018-02-16 17:54] LukeTowers commented on #227
@quimalguero See #341, you can use the implemented event to take care of it.

[2018-02-17 09:12] quimalguero commented on #227
Thx @LukeTowers . It worked for me. Gràcies @mariavilaro per la teva aportació.
Now the problem i see is on change language with LocalePicker from that pages, coz localeLinks returns the same url value for all languages (basicaly returns the same value that comes from get). Someone has finded a solution?

[2018-02-17 23:13] LukeTowers commented on #227
Not sure what you're talking about @quimalguero

[2018-02-18 14:09] rounce opened #350 "date format does not respect locale"
I have a multilingual site. All is well when the user is on the English version of the site. For formatting dates, I use format and it always produces the result in English. (because 'locale' => 'en' in config/app.php)
for example
[code]
results in "May 16"
When i type  'locale' => 'ru' in config/app.php
result always "май 16".

[2018-02-18 14:16] rounce commented on #350
For now it is necessary to set the locale by force:
[code]

[2018-02-18 15:10] rounce commented on #298
https://youtu.be/ZeNkAiIXe5s

[2018-02-18 17:36] LukeTowers commented on #298
Same to you @rounce

[2018-02-18 17:38] LukeTowers commented on #350
Update your October instance, it already did although support was temporarily broken between Build 420 & Build 433. #338

[2018-02-18 17:38] #350 closed

[2018-02-19 08:47] davidjmz commented on #227
@LukeTowers I think he means that the locale picker generates always the same url in all languages, so if you change the language inside a post, the url stay the same.

[2018-02-19 14:51] LukeTowers commented on #227
Post your code @quimalguero

[2018-02-19 15:02] quimalguero commented on #227
@LukeTower

On language selector:

[code]

On page code:

[code]

[2018-02-19 15:43] LukeTowers commented on #227
Why are you still using that @quimalguero? The merged PR added an event to take care of that.

[2018-02-21 04:53] zakir1929 commented on #331
@vannut @LukeTowers
I also need this feature on my cms but as I can see it is not implemented until in 434 October Build.
can you show me some workaround in that
Thanks.

[2018-02-21 06:26] munxar commented on #331
you can use this as a workaround:
[code]
but the messages must be translated on the translate messages page in the backend settings.

[2018-02-21 06:30] zakir1929 commented on #331
yes I seen that solution. I thought maybe there is a way now to give my client a ability to translate title in cms page title field.
![image](https://user-images.githubusercontent.com/16069667/36466187-cb1d2462-16fe-11e8-9185-25db61d128c5.png)

[2018-02-21 07:07] inalto opened #352 "CMS file translations"
It would be nice to have the same filename mechanism for translating the contents for the cms pages.

- cms-page.htm
- cms-page.fr.htm
- cms-page.de.htm

the default language [viewBag] could be used to reference the slugs for all the different locales.
in this way:
- the twig tags would be available together with the translations in the cms page (in content pages aren't )
- seems more general and

[2018-02-21 11:39] alvaro-canepa opened #353 "Accessor methods not used for translations"
Translated attributes doesn't run accessor methods.
If have `public $translatable = ['title']`, the method `getTitleAttribute` isn't accessible from `$model->title`.

Is there another way to get accessors with translated attributes ?

Thanks

[2018-02-21 12:28] munxar commented on #353
check this out:
[code]

[2018-02-21 12:51] alvaro-canepa commented on #353
@munxar But how to use it as accessor ?
In example, if I need something like this:
[code]
In frontend (using Twig), I do `{{ model.first_name}}`.
How do I use `getAttributeTranslated` method ?

[2018-02-21 12:55] munxar commented on #353
define a accessor on the model like this:
[code]

[2018-02-21 13:13] alvaro-canepa commented on #353
But `getFirstNameAttribute` is never accessed.
I try this:
[code]
And nothing is logged.

[2018-02-21 13:15] munxar commented on #353
[xy-problem](http://xyproblem.info/)

[2018-02-21 13:20] alvaro-canepa commented on #353
Why you consider an XY problem?
Is not possible to use [accessors](https://octobercms.com/docs/database/mutators#accessors-and-mutators) with translated attributes.

[2018-02-21 13:22] munxar commented on #353
please tell what you try to do first.
I can't understand it.

[2018-02-21 13:30] alvaro-canepa commented on #353
Ok. I need to remove paragraph tags from HTML content of translated attributes. So them, on frontend, I just only need to call the attribute.
**Model**
[code]
**Component call**
[code]
**Frontend Twig code**
[code]

[2018-02-21 13:41] munxar commented on #353
use the [striptags](https://twig.symfony.com/doc/2.x/filters/striptags.html) twig filter to replace the p tags
and use it in twig like this:

[code]

or

write a getter with a different name like this:
[code]
and use it in twig like this:
[code]

[2018-02-21 13:50] alvaro-canepa commented on #353
Thanks, the second option must be used on this case. because `striptags` argument is for tags which should not be stripped. And I need the opposite.

Anyway, I think this is a issue.

[2018-02-21 13:56] munxar commented on #353
I don't see a problem, this works for me:
[code]
what else do you need?

[2018-02-21 14:07] alvaro-canepa commented on #353
Your code doesn't do anything.
Please, try to test something like this, in my code doesn't work:

[code]

Thanks for your help!

[2018-02-21 14:23] munxar commented on #353
true, just works in the default language. I see your problem now.

[2018-02-26 16:25] anastasiauz commented on #328
I experience the same problem: Blog + Translate (2 languages RU/EN), URLs are not translated when I switch language on single post page (it is same as in the case above: force or not the URL Schema in the LocalePicker). I created test case, only these plugins, edge updates 'true', October 434, Translate 1.4.0. Will there be any fix?

And another thing is strange - when I'm in default Russian I hav

[2018-02-26 18:05] LukeTowers commented on #328
@anastasiauz have you updated your plugin to use the fix in #326?

[2018-02-27 07:56] anastasiauz commented on #328
@LukeTowers I'm using 1.4.0 Translate, the file classes/LocaleMiddleware.php already has changes offered in  #326

[2018-02-27 08:15] LukeTowers commented on #328
Are you able to dig deeper and see if you can find the source of the issue? @munxar any input on this?

[2018-02-27 09:20] munxar commented on #328
As far as I can tell, the described behavior is like it was implemented.
[code]
If the locale switches only the blog is found but the url is not rewritten.
imho this should be a feature request for the blog plugin.

[2018-02-27 09:42] munxar commented on #328
a possible implementation could be like this:
[code]
the only thing i could not figure out is how to get the name of the used 'slug' in the cms page, or what if someone decides to name it 'id'.
any ideas?

[2018-02-28 10:38] anastasiauz commented on #328
Thank you, I'll try that

[2018-03-06 13:39] joseph-d opened #354 "Store language preference against RainLab User profile"
This is meant as a question / enhancement idea.

I think that it would be useful to have the user's language preference persisted to the database as part of the Rainlab.User profile so that if they come back to the site after the session has expired or they log in from another device, they get their preferred language applied straight away.

An added advantage would be that it would be easy to see

[2018-03-06 15:02] LukeTowers commented on #354
Not a bad idea. You would essentially need to add a way to store the preference to the user's record, whether that was modifying the table or creating a relationship that didn't require base table modification. Then, you would have an event listener on rainlab.user.login that would read that value and store it in the session with `setLocale`. As for setting it, you could either have a user prefere

[2018-03-06 15:24] joseph-d commented on #354
Thank you @LukeTowers for describing how it could be done.

Everything you mentioned seems to be straightforward enough for me to attempt myself in my app although I'm not sure how I would listen for the local being changed. I have looked at the code and I can't see anything that suggests an event is being fired that I could listen for.

Can you point me in the right direction of this, or were you

[2018-03-06 18:02] LukeTowers commented on #354
Storing it attached to the User specifically is something better handled in your own code or plugin for that express purpose; it's beyond the realm of what the Translate plugin should be doing. As for the event, it's just `locale.changed` fired by the application, so `Event::listen('locale.changed', $myFunction)` should be good: https://github.com/octobercms/library/commit/16f7a286d8c90fb114d3abc9

[2018-03-08 16:36] joseph-d commented on #354
Thank you @LukeTowers that's perfect!

[2018-03-08 17:10] LukeTowers commented on #354
Not a problem @joseph-d! Feel free to make whatever you come up with open source / accessible to the community 😄

[2018-03-08 17:10] #354 closed

[2018-03-13 13:51] CptMeatball opened #355 "ForceRedirect, redirects as 302."
As the title implies; all redirects are redirected as 302. This is the default for Laravel's `Redirect::to` method. I'm no SEO expert but shouldn't it redirect as 301, so the link value is sent tot the redirect page?

[2018-03-13 14:01] CptMeatball commented on #355
It seems to me that a force redirect acts a permanent action, so there at least should be an option to set the status of the redirect.

[2018-03-13 14:03] vannut commented on #355
I see an additional config-parameter incoming for [config/config.php](https://github.com/rainlab/translate-plugin/blob/master/config/config.php) :)

[2018-03-13 17:49] LukeTowers commented on #355
Could I have some more context on this issue please?

[2018-03-13 21:51] vannut commented on #355
At the moment, when you enable forceRedirectUrl the plugin redirects with Laravels [Redirect::to()](https://github.com/rainlab/translate-plugin/blob/61e83fdd09fe4b51ddf0943b2e7ca5ced46e5b8a/components/LocalePicker.php#L115) Which in its turn defaults to using [a 302 as status code](https://laravel.com/api/5.5/Illuminate/Routing/Redirector.html#method_to).

When you enable `prefixDefaultLocale` (wh

[2018-03-14 11:07] CptMeatball commented on #355
Exactly that.

[2018-03-14 13:28] iboved commented on #281
Any news in this topic? How to translate proxy fields?
I have proxy field in fields.yaml like this:
[code]

[2018-03-14 18:54] LukeTowers commented on #281
@elboman are you still interested in coming up with a solution?

[2018-03-14 19:02] LukeTowers commented on #355
So what are the proposed solutions to this? I'm not sure I see the value in providing a config parameter for this unless there's a reason for them to redirect with a 302 on a request path that will never be used.

[2018-03-14 20:47] CptMeatball commented on #355
Not sure who you mean with "them", but the arguments stay the same:
- 302 is for temporary redirects
- 302 redirects do not carry over the pagerank to the redirection
- ForceRedirects **forces** the locale to be prefixed to the URL. So users will never hit a unprefixed URL. They'll always be redirected to the prefixed URL.

I think a proposed config parameter, or a component parameter which both d

[2018-03-14 21:25] LukeTowers commented on #355
@CptMeatball I mean is there ever a reason someone would want forceRedirectUrl to 302 redirect?

[2018-03-14 21:30] CptMeatball commented on #355
Can't think of any. @vannut ?

One other thing is that the redirects happen to the default, except when there's a locale stored in the session. Not sure if that might give issues for SEO purposes. 🤔

[2018-03-15 13:57] elboman commented on #281
Sure, would love to, but I don't know the code enough to start by my self, would still need any help from @daftspunk where to look at, at least.

If anyone wants to help, we can pair up and try and figure out together.
Let me know!

[2018-03-16 10:13] iboved commented on #327
@msimkunas Have you solved this problem? I have the same problem.
Additionally, there is another problem. When you edit for example  the "Title" field in EN language, the "Slug" field is generated in ALL languages.
But it should be like this:
When you edit the "Title" field in EN language, the "Slug" field should be generated only in EN language.
When you edit the "Title" field in DE language, the

[2018-03-17 18:07] daslicht opened #356 "Domain instead of subfolder for language ?"
Hi,
is it possible to use different domains for each language, please ?

[code]

?

[2018-03-20 08:56] iboved commented on #286
I have the same problem.
The reason is all the Page URL hidden inputs are pointing to same Input.Preset field:

`data-input-preset="[name="viewBag[title]"]"`

All fields are generated from the "Title" field.

[2018-03-20 09:31] iboved opened #357 "Localized URLs are purged in StaticPage plugin if they are equal to the URL in default language"
Hi!
I have noticed, RainLab.Translate plugin removes localized page URL if it equal URL in default language.

How to reproduce:
First install RainLab.Translate plugin and add at least two active languages. Install RainLab.Pages (Static Pages) plugin. Create page in Static Pages plugin and set the same URL in all languages. After creating the page, URLs in all languages are present (as it should be

[2018-03-20 10:18] Verbat opened #358 "Twig pager filter prefix locale when prefixDefaultLocale = false"
I'm  not quite sure if this belongs here or if we need to open an issue at https://github.com/octobercms/october but when setting the prefixDefaultLocale to false the |page filter prefixes the URL with the locale.

I'm running on the latest Edge October build and all Plugins are up to date.
Switching languages works fine and the locale for the default language isn't included as it is intended.

Ho

[2018-03-20 17:00] LukeTowers commented on #286
@iboved are you able to come up with a fix?

[2018-03-20 17:01] LukeTowers commented on #358
@vannut do you want to look into this?

[2018-03-20 17:01] LukeTowers commented on #357
@iboved why should it be retained if it's the same as the default locale?

[2018-03-21 23:41] hirisov opened #359 "How to use setAttributeTranslated() in model's afterSave()?"
I have a model which has a geolocation info field, and a helper_location_city field to store the name of the city. This field is translatable (and indexable), and i want to get the translations during afterSave() of the model from google maps API and set them using setAttributeTranslated() like this eg for 'en' and 'hu' languages ( Modelname.php)

[code]
but helper_location_city doesnt appear in t

[2018-03-22 07:07] hirisov commented on #359
My mistake, should't try to code at 1am after a couple of beers :) Forgot to add

$myModel->save()

as setAttributeTranslated() just populates the corresponding fields in the model, not saving it. Of course to avoid an infinite loop ( save() calls afterSave() which calls save() again etc) the above code has to be extended to check if it's needed to update the translated attributes at all and the o

[2018-03-22 09:42] AdrienAdB opened #360 "BadMethodCallException: Method lang does not exist with get()"
Hi all,
I am developing an API, with routes.php I wish to return all venues (/api/v1/{lang}/venues) or a single venue (/api/v1/{lang}/venues/{id})

Single venue is working fine and translate well.
However multiple venues are not working with ->lang('en') method.

Which method should I use to return multiple translated records?

Here is the error:
<pre>
BadMethodCallException: Method lang does not

[2018-03-22 10:20] munxar commented on #360
Grab an instance of the Translator Service and set it there instead before you do any model query:
[code]

[2018-03-22 10:24] AdrienAdB commented on #360
Thanks, you save my day. It works :-)

[2018-03-22 10:24] #360 closed

[2018-03-22 16:20] LukeTowers commented on #359
@hirisov so your question is resolved then?

[2018-03-22 22:19] hlev commented on #331
@munxar

New 434 user here. The values of these properties do not seem to be collected by the scanner. How do you add them to the messages in the backend?

[2018-03-22 22:57] LukeTowers commented on #331
@hlev they get populated on first generation of them, so visit the pages where they're defined and they'll populate into the DB

[2018-03-22 23:03] hlev commented on #331
Thanks @LukeTowers

[2018-03-23 05:11] munxar commented on #356
You could try to use a middleware and check for your domains like this:

[code]

[2018-03-23 05:12] daslicht commented on #356
awesome ! Thank you very much !

[2018-03-23 05:12] #356 closed

[2018-03-23 05:16] munxar commented on #352
@inalto I like the idea, in fact a lot of file based cms do it like this, why not stick with this convention.

[2018-03-23 06:48] munxar commented on #285
I have the problem that regarding of what and where (Frontend, Task, Console) I set the locale with
Message::setContext(...)
The email template is always rendered in the default locale ('en'). I have setup *en* and *de* locale.
example for a test page:
[code]
Any ideas?

[2018-03-23 06:48] munxar commented on #285
I have the problem that regarding of what and where (Frontend, Task, Console) I set the locale with
Message::setContext(...)
The email template is always rendered in the default locale ('en'). I have setup *en* and *de* locale.
example for a test page:
[code]
Any ideas?

[2018-03-23 12:18] kirinokisu opened #361 "Home page URL translated automatically for non-default languages"
I've never encountered this kind of bug in this plugin before, but for some unexplainable reason, it **automatically** translates the home/index page url for non-default languages.

The default language is set as Finnish and the url is the root: website.fi/
Which should be the same for all the other languages (it certainly works in all other projects). But instead, for Russian and English language

[2018-03-26 15:17] KevinReina opened #362 "Error when saving long text in richeditor fields"
When you have a lot of data and is using repeater-fields with rich editors and is also copy pasting images, it will surpass the amount of data the attribute "attribute_data" can hold. This is because the attribute data has a type of "mediumtext". (in rainlab_transte_attributes)

Change Proposal(s)
- change attribute type of "attribute_data" in rainlab_translate_attributes to "longtext"
- let the r

[2018-03-26 17:31] LukeTowers commented on #362
Personally in my mind needed to store ~4 GB of data in `attribute_data` is a bit much, 16 MB as provided by MEDIUMTEXT should be enough in most use cases.

It would take 36,873 copied and pasted instances of the standard lorem ipsum text to reach that limit:
[code]
How would you suggest implementing the richeditor upload-on-paste functionality?

[2018-03-26 19:50] KevinReina commented on #362
yes it is too much but clients keep pasting images instead of first uploading, i had 5 images and from word and it almost filled attribute_data.

Maybe we can look into this for upload-on-paste? https://wysiwyg-editor.froala.help/hc/en-us/articles/115000555949-Can-I-insert-images-as-base64-

using the image.beforeUpload event to get the image and store it in october's mediamanager in a folder call

[2018-03-28 15:18] Verbat commented on #358
I think this can be closed. I started with another fresh october install and the behavour was gone.
There was probably some old code/plugin in place which was the cause of this error. Sorry about this.

[2018-03-28 15:18] #358 closed

[2018-03-30 10:21] host138 opened #365 "[Known Issue] After save add FF before text"
Very frequently I see this bug. But it is not always added

[2018-03-30 10:43] munxar commented on #365
@host138 please take the time to make a descriptive bug report, otherwise I take the same time to answer.
-> 42

[2018-03-30 16:01] LukeTowers commented on #365
The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth the askers time to ask correctly.

And now for th

[2018-04-01 15:33] datune opened #366 "Dynamic Parser Syntax - How to use translations?"
How can we use translations within for example the following declaration:

default.htm layout:
[code]
How can we have the content of label translated?

[2018-04-01 16:25] munxar commented on #366
because it's a backend translation, i'd use a corresponding plugin and use the normal translation strings.
```{text name="foo" label="vendor.plugin::lang.my.label"}Bar{/text}```

the twig filter you uses is for frontend translations.

[2018-04-01 17:40] datune commented on #366
@munxar I see, thanks! I thought perhaps there was another way, without the need to add a plugin, since this is the workflow the dynamic parser syntax suggests, but adding a plugin is easy enough.

[2018-04-01 17:40] #366 closed

[2018-04-03 21:11] vannut commented on #361
This happens because by default the choosen locale is stored in a session. So if you change the locale; and then revist the website with the previous (old locale) url it returns a 404, because it is searching in the new locale for the url in the old locale.
Does that makes any sense?

Solution: use `forceUrl` in the localepicker this will always put a locale prefix to the URL so it doesn't look at

[2018-04-05 09:48] anastasiauz commented on #328
@munxar Thank you, the solution is working! Slugs are now translated. But I changed Post component so it'll work until new update or freeze the plugin. Will this be included in new updates?

[2018-04-05 10:25] anastasiauz commented on #361
It turns out that without forceUrl checked in the localepicker solution with translatable slugs is not working normally, non-default language urls are not accessible and give 404 unless you visit main domain page ('/') and switch to that language. Your non-default languages' pages won't be shareable in social networks or crawlable by search robots. It should be marked somewhere in documentation or

[2018-04-05 15:25] LukeTowers commented on #328
@munxar could you create a PR with that code in this plugin? @anastasiauz the updated code will be in this plugin, not in the blog plugin.

[2018-04-06 08:53] WebShapedBiz opened #368 "lang.yaml issues"
Hi.

I've placed my `lang.yaml` in `config/lang.yaml` inside my theme folder. The file content looks like this:

[code]
Also, I've created a link to the `lang.yaml` file inside `theme.yaml` file as instructed.

In Settings -> Translate messages "Clear cache" works but when I try to "Scan for messages", after the "Purge" dialog and whatever I do with "Purge all messages first" checkbox, I'm present

[2018-04-20 21:13] jimcottrell opened #369 "Back-end locale switcher single vs. multi field default behavior"
There's been some question in our shop about whether from a UX perspective the back-end locale switcher should default to switching all translatable fields (the current CTRL/CMD click behavior), with the CTRL/CMD click being used to change only one field. I wanted to pose this question to see if there's agreement on that front, or if we'd need to customize if we decide that's the behavior we want

[2018-04-20 22:17] LukeTowers commented on #369
The switcher is attached to each field so it makes more sense for the default behaviour to be just modifying the field that was clicked. Plus it's not likely to be changed directly in this plugin as that would be a sudden change for existing users; you're probably going to have to go custom on this

[2018-04-20 22:32] jimcottrell commented on #369
I agree that it does make technical sense from the switcher being attached to the field, but where I think there's more of a question is in what a user is trying to accomplish. Does a user generally want to change the language on just one field? Although the CTRL/CMD option is in the README, there's no UI clue that a user can pick up on that there's any other way except for a field-by-field change

[2018-04-20 22:41] petehalverson commented on #369
What if we introduce a UI element that allows you to switch them all simultaneously?

That could be done in addition to or in lieu of the existing CTRL/CMD behavior.

[2018-04-21 04:07] WebShapedBiz commented on #368
Any news on this?

[2018-04-21 04:26] LukeTowers commented on #368
@WebShapedBiz I haven't had time to yet, perhaps you can take a look at the lines of code mentioned and read through the classes to figure out what's going wrong and then report back?

[2018-04-21 04:28] WebShapedBiz commented on #368
Sure thing but don't expect miracles, I'm still getting there with OctoberCMS ;-)

Thank you for your quick reply.

[2018-04-21 04:32] LukeTowers commented on #368
The more you read of it the more you understand it :) Good luck!

[2018-04-21 06:45] WebShapedBiz commented on #368
Got it, I shouldn't start my `lang.yaml `with `translate:` row.
There is no reference in plugin's documentation on how the `lang.yaml` should look like so I decided to start with `translate:` row. After removing that row, everything is working just fine.

Sorry to have troubled you and thank you for your time and effort.

Cheers.

[2018-04-21 15:25] LukeTowers commented on #368
@WebShapedBiz could you update the plugin's documentation to better explain that so that people in the future won't get similarly confused?

[2018-04-21 16:56] WebShapedBiz commented on #368
Will do.

Best regards,

Sinisa Perovic
WebShaped.biz

Web: http://www.webshaped.biz
E-Mail: sinisaperovic@webshaped.biz
SkypeID: sinisaperovic
Telegram: @sinisaperovic

2018-04-21 17:25 GMT+02:00 Luke Towers <notifications@github.com>:

[2018-04-21 22:27] #368 closed

[2018-04-25 06:44] ChVuagniaux commented on #307
Discover the same issue with OctoberCMS 434 & RainLab Translate 1.3.8

### First behavior : *empty repeaters are added when switching locale*

For reproduce :
1. Create fields in one language and save it
2. Refresh the page
3. Switch to an other language and add one item
4. Save
5. See many blank items created in two languages

Demo :  http://take.ms/ZSSfE

if you create the following structure:
[

[2018-04-25 11:18] pvullioud commented on #307
A bounty have been added on this issue : https://www.bountysource.com/issues/50188520-empty-fields-with-nested-repeaters
@LukeTowers Could you add the bounty tag? thanks

[2018-04-27 11:36] Fl0Cri commented on #307
I did some experiments yesterday and here's what I found:
For me the problem is related to this https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/Repeater.php#L199

At this line, `$loadedIndexes` contains the correct values of the repeater we are working on (in @ChVuagniaux previous example, for children of "Title 3" it's `[3, 4, 5]`).
But what we do at this line is to

[2018-04-27 22:00] petehalverson commented on #369
This is how we've implemented it on an extended version of the plugin:

<img width="883" alt="screen shot 2018-04-27 at 3 59 02 pm" src="https://user-images.githubusercontent.com/911099/39386929-0a440634-4a34-11e8-9b8f-c0fff61e7132.png">

[2018-04-27 23:58] LukeTowers commented on #369
Looks good @petehalverson

[2018-04-28 01:26] munxar commented on #369
@LukeTowers @petehalverson This solution works great for a single form to sortcut the cmd-click behavior, but for a generic solution I would put the language selector in the main navigation.
Here are my reasons why:

1. It's always visible and reflecting what language we are currently working on
2. It should be persisted over request cycles
2. We could display the translated data in e.g. list view

[2018-04-28 01:36] LukeTowers commented on #369
@munxar won't that conflict with the Backend Locale setting?

[2018-04-28 02:59] munxar commented on #369
@LukeTowers I think no. the backend settings affects labels, menu titles etc. the frontend locale will translate the model itself. example of a list displayed in english backend locale:
[code]
here in german:
[code]
only the 'title' and 'url' are translated.
Now with backend locale set to 'en' but frontend to 'fr'
[code]

In theory it would be a LocalePicker but implemented for backend use. And ye

[2018-04-28 03:13] LukeTowers commented on #369
I'm mostly concerned about the potential for it to be confusing for the user's (the difference between backend locale changes and frontend locale changes for the data entry). Do you have any thoughts on how to best separate the two in terms of how the user understands / uses them?

[2018-04-28 20:34] LukeTowers commented on #369
I agree with that @munxar, but what can we do to make it more clear which is which? My main concern with having a RainLab.Translate locale picker in the menu bar is that users would think it controls the backend locale, not the frontend one. What could we do to make that more clear?

[2018-04-28 21:30] osmanzeki commented on #369
Would it make sense to bundle a new form widget in the RainLab.Translate plugin that is basically a in-page language picker that switches the language of the whole page at once (just like the CMD-Click) feature? Perhaps one that is similar in design to petehalverson's implementation? That way, those who decide that they want this feature can add it to their forms and it's not there if it is not ne

[2018-04-29 05:03] munxar commented on #369
@LukeTowers @osmanzeki for the context of a 'Form', yes that solution would work and is the most unintrusive. I vote for -> language picker form widget

My problem would be the missing lists, pivots, relation etc. translations, but I think I'll have to write a totally different plugin for that. The current underlying architecture is not working, at least for me.

[2018-04-29 15:51] osmanzeki commented on #369
@munxar

Indeed, I could see how having access to the other languages in other views would be interesting. I think you're right, the architecture becomes an issue here with those needs. You almost need to translate each translated model as a separate entry in the database. That way you can also achieve true i18n where you can have translated content in only some of the languages.

DecoyCMS (anothe

[2018-04-29 15:54] pszczegielniak commented on #307
I did some experiments too. And it looks like nested repeater items have wrong name on input that is holding the index. That name is created here: https://github.com/octobercms/october/blob/8ba63dd428b425a3722fb18c6ce5e58f03be5314/modules/backend/formwidgets/Repeater.php#L98

[code]

All nested repeaters should have distinct index name so we can alter that line with:

[code]

Now we need to fix th

[2018-05-02 11:08] anastasiauz commented on #307
Translate 1.4.0, October 435.
I am experiencing issue with extra blank fields in nested repeater too, impossible to delete them - when open page again, they are still there. It works ok until field type in nested field is changed to richeditor (was textarea). Structure is:
longread:
      type: repeater
      form:
        fields:
          type:
            type: dropdown
            options:   -

[2018-05-02 16:53] petehalverson commented on #369
I'm not sure if I effectively communicated how our solution works. I've published our plugin which extends RainLab.Translate. Give it a try for additional context.

[2018-05-02 21:47] petehalverson commented on #369
I should mention it applies that switcher to Static Pages (https://github.com/rainlab/pages-plugin)

[2018-05-06 10:36] vannut commented on #369
I really like this concept!
The last screenshot by @munxmar looks cool. To circumvent any possible confusion, you could display both locales next to eachother. On hover display front:nl/back:en;
OnClick display extended dropdown/modal where you could change both locales.

[2018-05-07 18:53] LukeTowers commented on #369
@vannut I'm still not sure about the site wide changer. October doesn't have to be used with a frontend in the first place so I don't think it would make sense to include it structured like that. My vote would be for a dedicated form widget and a way to extend the top menu with that formwidget.

[2018-05-10 11:35] Mohmdthabet opened #373 "error "array_key_exists() expects parameter 2 to be array, null given", when updating a record"
I get this error when trying to update a record.

it seems that when the original field language is empty the translation plugin returns this error when updating the record

please note that no error when adding

here is the lines where the error comes from.

[code]

System build 431 Translate plugin v1.3.8

[2018-05-10 12:30] the-specialist2005 commented on #373
i checked it again the error seems to be more specific for the last inserted record only

[2018-05-10 12:41] the-specialist2005 commented on #373
i commented some lines and it seems to work

[code]

[2018-05-11 15:47] LukeTowers commented on #373
@the-specialist2005 are you able to come up with a fix and provide it in a PR?

[2018-05-13 01:31] Antar74 opened #374 "Translate php date object"
Hello, thanks for your super useful plugin :) I'm tryin to translate every aspect of my website but can't manage to translate the php date of a post. My default language is spanish and have the seccond language set to french, but I'm still getting the dates in english :(

How can I get them in spanish and then in french?

Thanks!

[2018-05-15 12:27] the-specialist2005 commented on #373
Sorry, i haven't found a solution, the approach of commenting lines fails to save any rich editor field, only text field are saved. and if the rich editor is not empty, nothing is saved in the secondary language.

[2018-05-15 14:46] the-specialist2005 commented on #373
I replaced the plugin with older version no 1.2.11, the issue seems to be from Arabic text because in the old version it is json_encoded before saving in the database while the new version does not encode it.
I still can't find a solution for it.

[2018-05-23 12:37] Antar74 opened #375 "Ajax error"
Hello

When trying to use the language selector  I get an error message window with the following message:

Le gestionnaire AJAX "onSwitchLocale" est introuvable.

Am I missing something, install something related to the translate plugin?

[2018-05-23 12:48] Antar74 commented on #274
Hello I'm having a similar problem. I surely missed the "framework.js" mention in the translate plugin docs back on october plugins page. If this is the solution to the problem of the locale picker not working, where do I obtain the "framework.js" file and how do I include it?

Thanx!

[2018-05-23 13:04] Antar74 commented on #375
I understand the problem is having the " {% framework %} " call in place or not.
Read this post: https://github.com/rainlab/translate-plugin/issues/274

I jumped to october cms documentation and found how to include the framework here: https://octobercms.com/docs/ajax/introduction

I'm sure I'm including the framework on my webpage (see included screenshot) and the dropdown still wont work and sti

[2018-05-23 16:06] Antar74 commented on #375
Ok. Thank you Luke Towers for your help!

[2018-05-28 16:10] raquelegluu opened #376 "Theme Data Translation"
I'm trying to translate theme customization fields extending ThemeData like I see on issue https://github.com/rainlab/translate-plugin/issues/279 for extend mail templates, but it isn't working.

In my boot method of my plugin I put this:
[code]

The field 'website_data' is configured in theme.yaml
[code]

The field is printed correctly but without translation option.

Is it possible to translate

[2018-05-29 03:39] Antar74 commented on #374
Nothing changed but I now see my dates translated...

[2018-05-29 03:39] #374 closed

[2018-05-29 03:48] Antar74 opened #377 "Plugin wont translate text in bootstrap popover"
So far so good, your plugin works like a charm, but I have several bootstrap popovers associated to an unordered list, the text to be translate resides within the data-content attribute of the "a" html tag.

The problem is that if I use the "content-block" somehow the popover starts behaving oddly and breaks. :(

Here is the code:

[code]

And so on...

[2018-05-29 04:01] munxar commented on #377
@Antar74 what exactly do you mean by odd? Can you post your twig markup?

[2018-05-29 14:34] LukeTowers commented on #376
@raquelegluu it's possible that's not supported as all of those fields are actually collected and stored in the `data` model attribute: https://github.com/octobercms/october/blob/master/modules/cms/models/ThemeData.php#L56-L63 which might not play nice with this plugin. Feel free to investigate further.

[2018-05-29 14:36] LukeTowers commented on #377
@Antar74 I strongly recommend that you base64 encode HTML if it is to be stored in element attributes and unencode it on use. You are likely to run into all sorts of weird issues if you don't.

[2018-05-29 14:38] raquelegluu commented on #376
Thanks @LukeTowers, finally I saw it and solved it with my own event to read all translatable fields from themeData and creating my own behavior to manage data before save it.

[2018-05-29 14:41] LukeTowers commented on #376
@raquelegluu awesome, glad to hear it! If you can make a PR to provide that ability to other people that would be fantastic!

[2018-05-30 14:51] acasar opened #378 "Firefox opening empty tabs when changing language using ctr+click"
When I change the language of a field using ctrl+click, firefox keeps opening new tabs with url ``javascript:;``

![image](https://user-images.githubusercontent.com/6329543/40728041-8668e5fe-6429-11e8-9a44-53fd3c2d67b2.png)

Not sure how to fix this, so I'm opening this issue. If there are any good suggestions, I will prepare a PR.

[2018-05-31 02:18] LukeTowers commented on #377
@Antar74 where does that HTML come from? How does the user modify it currently?

[2018-05-31 02:28] LukeTowers commented on #378
@acasar can we do something like `event.stopImmediatePropagation` or `event.preventDefault` in the handler for a ctrl+click on the language picker widget?

[2018-05-31 08:14] Fl0Cri commented on #307
I found a quick "fix" to this problem. It's a temp solution because it introduces a new bug (see below). But in some use cases the new bug may be less problematic than the actual behavior.

Here's what I did: at this line https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/Repeater.php#L199
Replace this:
[code]
by this:
[code]

Note that it's an October hack, not a transl

[2018-06-06 17:05] alxy commented on #307
I tried to reproduce this behavior and actually realized, that the data looks correct in the database, but the repeater renders these empty fields, so it is a markup/javascript issue in my eyes. Can any of you ( @ChVuagniaux @Fl0Cri @pvullioud ) confirm that?

[2018-06-06 17:32] pszczegielniak commented on #307
Unfortunetly is not that simple. I was debuging a little and there are bugs in repeater in october core. I found a fix in context of using nested repeaters in pages plugin. But unfortunetly it does not seems to work when used on normal backend pages.

[2018-06-06 18:15] pszczegielniak commented on #307
@alxy You have right. Problem appears only when onSwitchLocale is fired, but part of the issue is located in Repeater in October core. Nested repeater index fields are not prefixed. Because of that after language switch repeater can not construct correct markup. As a result we get empty fields, and every nested repeater will get the same number of fields.

[2018-06-08 00:14] Antar74 opened #379 "translate php date object not working"
Hi! I'm using your awesome plugin, that works just fine. I have several places where I need to show the  publishing date (of a blog post using Rainlab.blog plugin). Out of the box the date is translated, but I had to extend the blog plugin to have an extra date filed (for post that need to show a future date that is different from the publishing date, as in a future event post). So I managed to ex

[2018-06-08 00:20] Antar74 commented on #377
@LukeTowers the html in question I entered it directly on the CMS page code, then extracted it and placed it on a content block file, then installed the Content editor plugin (that enables frontend editing tools) so the final user can edit without touching the content block file itself.

[2018-06-08 05:26] LukeTowers commented on #377
That sounds slightly clunky, but whatever works for you I guess. Are you still having issues with this report @Antar74?

[2018-06-08 05:27] LukeTowers commented on #379
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: http://octobercms.com/forum
StackOverflow: http://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or http://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2018-06-08 05:29] LukeTowers commented on #379
@Antar74 as an aside, I don't see a date field being added in that plugin?

[2018-06-08 07:18] Fl0Cri commented on #307
@alxy in fact, the process of saving to the database and switching locale is very different.
I'll try to explain the difference using an example with these base data (from the [oc-test-plugin](https://github.com/octoberrain/test-plugin) -> countries -> states):
[code]
If you do something, either saving or trigering an ajax handler (here I click on the button to add a new "state" to the repeater),

[2018-06-11 12:59] #205 closed

[2018-06-21 11:32] CptMeatball commented on #209
@mplodowski How does this work? For some reason, adding this to a modal does not work. It doesn't get called.

[2018-06-26 06:04] tobias-kuendig commented on #209
I had to call the `setTranslatableFields` in `afterSave` to make it work with build 435. Maybe the method's name changed internally?

[code]

[2018-06-28 16:28] mariavilaro commented on #209
This worked for me, almost like @tobias-kuendig but I had to remove the returns or only the first language was saved

[code]

[2018-06-29 06:08] roojai opened #380 "Translate plugin does not save data in RelationController"
If I access a backend form for a model in the normal list then my multi-language data will save.

If I access that same form through a RelationController from another model's form, then only the data for the default language will save.

[2018-06-29 08:42] Dinver opened #381 "Location plugin, form select country/state does not translate."
I use Location plugin. Front-end usage partial on profile page:
[code]

[code]

I get the default (en) language on output.

Оn the user's public page:
`{{ user.country.name }}`
the translation is displayed correctly.

What do I need to do to translate form select country/state?

Plugin Translate 1.3.8
Plugin Location  1.0.7
Build 436

[2018-06-29 17:08] LukeTowers commented on #380
Duplicate of #209

[2018-06-29 17:08] #380 closed

[2018-07-03 04:16] chaskayu opened #382 "Having a "Class web does not exist" Error after installed"
Hi,

I'm trying to install Translate for my OctoberCMS website. However, after installing, the front-end shows an error if I put the language tag in the URL like: http://www.xxxxxxx.xom/en.

It shows:
Class web does not exist
/var/www/html/vendor/laravel/framework/src/Illuminate/Container/Container.php line 741

OctoberCMS: CURRENT BUILD: 434
PHPL 7.2.7

Can anyone help on this?

Thank you very mu

[2018-07-03 04:57] LukeTowers commented on #382
@chaskayu you are not running the latest version of October / it's dependencies. How did you install / update the project? This error is occurring because the translate plugin is attempting to use the `web` middleware which was only added with the switch to Laravel 5.5 in Build 420+

[2018-07-03 06:06] chaskayu commented on #382
@LukeTowers I'm appreciated your prompt reply.
I've checked the current build of running october is 437 and it shows "No new updates were found." when I click "Check for updates". Do I need to dependencies by doing composer update?
Thank you so much.

[2018-07-03 15:36] LukeTowers commented on #382
@chaskayu what did you use to install October? You may need to grab the latest version of composer.json from the github repo and then run composer update using that file instead.

[2018-07-05 07:59] chaskayu commented on #382
@LukeTowers Thank you so much for your help! It works fine after doing composer update. :)

[2018-07-05 14:20] LukeTowers commented on #382
Not a problem, feel free to support me on [Patreon](https://www.patreon.com/luketowers) :)

[2018-07-05 14:21] #382 closed

[2018-07-06 03:00] roojai opened #383 "Integrity constraint violation: 1062 Duplicate entry '0' for key when saving record"
I have applied the following code in a number of models in a plugin .

    public $implement = ['@RainLab.Translate.Behaviors.TranslatableModel'];
    public $translatable = ['name'];

Some models have more than just the 'name' field.

When I try to update any existing records with a backend form, for some models I am getting this error:

"SQLSTATE[23000]: Integrity constraint violation: 1062 Dupl

[2018-07-06 09:36] #383 closed

[2018-07-06 15:54] LukeTowers commented on #383
@roojai please don't close issues without any explanation, other people may encounter the same situation that you did and would benefit from whatever the solution was.

[2018-07-07 01:08] roojai commented on #383
Sorry @LukeTowers, noted!
I realised the issue was nothing to do with the plugin.
For reference, my entire database had lost AUTO_INCREMENT on its primary keys after an export/import. It was the lack of AUTO_INCREMENT for the id column in one of the tables in the plugin that was causing this problem

[2018-07-07 10:13] ghost opened #384 "Some UI Improvements directly from clients"
Hello,

I made some projects with October CMS recently, some of them was multilanguage.

When I present the backoffice to the customers, there are really impressed by the ease of use of it to manage blog posts, portfolio etc....

But each time, I got 2 features requests related to the translate plugin, that's why I'm posting here. Not critical issue but some UI suggestions to make it even more bet

[2018-07-07 10:18] Alex360hd commented on #384
Just discovered that you can already switch all fields in one click by pressing ctrl (or CMD for mac) when switching locale in the backoffice !

There is still the first point that would be a great improvement (or it's already possible and I missed the other shortcut ? :) )

[2018-07-07 18:58] massimomegistus commented on #290
Hi guys,
i've made some tests in static pages with a group repeater and i've just noticed that removing the $this->getGroupCodeFromIndex call in processSaveValue, the group translation seems to work correctly, even if all languages don't have the same order and types of groups.

I have redefined processSaveValue in rainlab/translate/formwidgets/MLRepeater.php

protected function processSaveValue($

[2018-07-08 01:53] LukeTowers commented on #290
@massimomegistus how is the developer supposed to identify the group data where it's used then?

[2018-07-08 01:56] LukeTowers commented on #383
Awesome, thanks for the update!

[2018-07-08 07:49] massimomegistus commented on #290
Hello Luke, the $value parameter passed to **processSaveValue** contains the right _group codes.
When switching form lang_1 to lang_2, the hidden input RLTranslate[lang_1] is updated correctly with lang_1 _group codes, and processExistingItems  receives lang_2 _group codes, as expected; group codes are written in pages [viewBag] on save.
I've tested on static pages only, maybe i'm missing somethin

[2018-07-08 16:36] LukeTowers commented on #290
@massimomegistus does it still work if you are populating a repeater from nothing?

[2018-07-09 08:29] cloudwales opened #385 "Changing custom button on translation"
Hi. Im trying to add a custom switch button to switch the translations from one to the other, but i want it to remove the button that is the current language.

I.e. I have 2 languages, english and welsh so when english or the default language is selected then only the welsh button is active. When welsh is selected, then only the english button is active.

Heres what i have already.
`/components/lo

[2018-07-09 08:37] cloudwales commented on #385
Sorry figured it out...

[code]

[2018-07-09 12:34] maartenmachiels opened #386 "URL parameter translation of custom models does not seem to work"
Hi,

I've built a small plugin to manage campaigns / cases, a kind of portfolio-system.

My goal is to go to the translated version of a campaign upon clicking the language switcher, as per the guidelines outlined here: https://github.com/rainlab/translate-plugin#url-parameter-translation

In my model, Campaign.php, I have defined:

[code]
Further, in Plugin.php I have defined:

[code]
Whatever I

[2018-07-09 16:20] LukeTowers commented on #385
Awesome, thanks for the follow up @cloudwales!

[2018-07-09 16:20] #385 closed

[2018-07-11 15:31] HammenWS opened #387 "ImportMessageTest failing."
@LukeTowers Your latest build is failing, because of commit 9d411c3.

I think you should move your new code a few lines up ;)
I have add a comment in the commit.

[2018-07-11 16:00] acasar commented on #387
@HammenWS you're right - that's my mistake actually. I'm not using imports for new messages and I didn't detect this issue.

The fix is here: https://github.com/rainlab/translate-plugin/pull/388

[2018-07-12 11:53] #387 closed

[2018-07-12 17:34] Dinver commented on #381
Found a bad way. In Country Model:
replace:
`->get()->lists('name', 'id');`
instead:
`->lists('name', 'id');`

but it turns out more than 100 queries, to Db.

Maybe someone has ideas?

[2018-07-14 15:08] NickolayCh opened #389 "Obtaining URLs for all available languages for using in "hreflang" meta-tag"
It's very useful to add "hreflang" in page head meta-tags (read more at https://support.google.com/webmasters/answer/189077), so adding something like this at the end of the _LocalePicker::onRun()_ component method will be a good feature:

[code]

[2018-07-14 18:55] munxar commented on #389
there is already a alternateHrefLangElements component in the plugin. just place it in the head element and your done.

[2018-07-16 14:21] #389 closed

[2018-07-16 14:31] NickolayCh commented on #389
Sorry, missed it. Thanks!

[2018-07-23 10:50] asystemg opened #390 "String length cause duplication"
Hello,
Can somebody please help me. Because i'm trying to fix that from couple of days. Without any success.
I have theme field defined in fields.yaml.
`test_content:
            tab: Test
            label: Test
            type: richeditor
            default:
            span: right`
And in template looks like
`<div id="test">{{ this.theme.test_content |_ }}</div>`
The problem is that if field

[2018-07-23 11:43] munxar commented on #390
you use content as the code for message translation.
this code usually is used like this:
{{ 'my.code.title' | _ }}
the translation messages code is set as a string in the db, an if you feed it some long content it just can't store it's full length and will truncate to it to 250 chars and that is why there is no translation happening.

If you have long string, I would use content placeholders. the

[2018-07-23 12:00] asystemg commented on #390
Firstly, thank you for the fast answer.
If i understand you correctly there is no way to use theme settings and  and make things work correctly? I'm asking because theme settings management is must have in this project.
Best Regards.

[2018-07-23 12:10] munxar commented on #390
try to explain what you want to do, and why. prob there is a better way than the theme settings.
there are about 4 ways other than system setting that could work ....

[2018-07-23 12:24] asystemg commented on #390
Thank you.
So:
The idea behind theme settings is that a client can manage and create new text and content dynamically on pages from admin page. We are using theme settings forms because is easy for client to work with them. I'm open for new proposals on how things should be done. If you have any. That would be great. Because I'm new to ocotobercms. And still learning. The flow of the system.
Best

[2018-07-23 13:48] munxar commented on #390
1. check out the static pages plugin. it does what you want to do.
2. for more complex stuff make a custom plugin, so you have the full backend power (w. model
 translations working)
3. good resource is the october cms docs: http://octobercms.com/docs
and the wonderful screencasts http://octobercms.com/support/topic/screencast
and this how to series http://octobercms.com/support/articles/tutorials

[2018-07-23 14:37] asystemg commented on #390
Thank you so much for all of this. You are great 👍

[2018-07-23 14:38] #390 closed

[2018-07-23 18:19] LukeTowers commented on #390
I agree, thanks for the help @munxar!

[2018-07-24 12:31] asystemg opened #391 "Content translation with files not working"
Hi,
I created two languages main Bulgarian and second en.
In pages folder i create two separate files named services.htm and services.en.htm but no matter what i do cms always loads services.htm. No matter if i select default lang or english. Is there something i missed? The only way i manage to load .en version is by removing services.htm. Can'f figure it out.
Best regards.

[2018-07-24 16:06] #391 closed

[2018-07-28 04:00] the-specialist2005 commented on #373
with the build is 437 and translation plugin version 1.3.8 no translation is being saved to the database at all
it shows like this in "rainlab_translate_attributes" table:
{"title":"","description":"","units":null,"meta_title":"","meta_description":""}

this makes the plugin useless

[2018-07-28 07:50] LukeTowers commented on #373
@the-specialist2005 is this related to the issue with repeaters?

[2018-08-05 16:17] tijosfx opened #392 "Is it possible to translate contents from canvas?"
Hi,
I want to translate some text inside a canvas/jquery file, can you help me to do this?
Please see the screenshot:
http://prntscr.com/keya9k
http://prntscr.com/key7uf

![screencapture](https://user-images.githubusercontent.com/9552889/43687764-c21fc8ca-98f8-11e8-95e4-b43414ed4c73.png)

Thanks

[2018-08-06 00:26] LukeTowers commented on #392
The easiest way to do this would probably be to declare them as globaly accessible variables in your theme that the JS file then looks at or pass them to a constructor of sorts. The key thing is to have some JS that is rendered by your theme to be used by the JS that is in a separate file.

Example:
[code]

[2018-08-06 00:26] #392 closed

[2018-08-06 18:08] tijosfx opened #393 "Once after added translation code, getting an error the frontend."
Once after added  {{ '     '|_ }} this in all text, getting an error in the frontend.

please check the url
http://b66.projectshowcase.net/

Once after remove the "$" then next error will show: check this screen http://prntscr.com/kfewi0
I have removed that also but the next issue is http://prntscr.com/kfexv8

Can you help me to fix the issue?

Thanks
Tijo

[2018-08-07 05:00] LukeTowers commented on #393
While it is technically correct to provide translation keys in this manner, for the strings that you are dealing with I'd recommend just writing actual keys and then translating those though the backend settings menu (i.e. `{{ 'homepage.problem.description' | _ }}` and `{{ 'team.member.' ~ personName ~ '.name' | _ }}`). Look at https://github.com/rainlab/bonjour-theme/blob/master/theme.yaml#L10 fo

[2018-08-07 05:00] #393 closed

[2018-08-07 06:09] tijosfx opened #394 "Language Switcher dropdown not working"
Language Switcher dropdown not working
http://b66.projectshowcase.net/
http://prntscr.com/kflfug

When I change url manually in url, its working but the dropdown Switcher not changing the Language.
http://b66.projectshowcase.net/en
http://b66.projectshowcase.net/cn

Thanks

[2018-08-07 17:59] LukeTowers commented on #394
Please post what you found as your solution before closing an issue so that other people that may have the same issue as you can benefit from what you discovered too :)

[2018-08-07 18:07] tijosfx commented on #392
Thank you,
I dont have much experince on this. What steps that I follow to display the
translate contents? Canyou please clarify?

On Mon, Aug 6, 2018 at 5:56 AM Luke Towers <notifications@github.com> wrote:

[2018-08-07 20:11] LukeTowers commented on #392
@tijosfx you're going to need a solid understanding of JS to accomplish what you are trying to do, unless you put your entire JS script in an inline `<script>` tag and then just do the translation there with the regular `{{ 'lang.key' | _ }}` syntax.

[2018-08-08 06:34] KristlyDsena opened #395 "How to translate models in frontend?"
default.htm
[code]
in backend

![Uploading Screenshot 2018-08-08_11-59-46.png…](translate messages)

![Uploading Screenshot 2018-08-08_12-00-49.png…](CMS page where locale picker is used)

[2018-08-08 08:56] munxar commented on #395
what is agentcom? A Model?
If yes, use model translation for it.

right now you are 'misusing' the themes message translation by passing a variables content (agentcom.agent_content) as the code. usually the code is something short like 'blog.title' and there is a db constrain to limit it to 255 chars.

[2018-08-08 18:54] tijosfx opened #397 "Repeating Translate Message issue"
Some Translate Messages repeating multiple times, (once after delete row, still getting this issue) how to fix this.
Please check the screen:

http://prntscr.com/kgbigx
http://prntscr.com/kgbkvz

code: http://prntscr.com/kgbla2

Thanks

[2018-08-09 09:33] pvullioud commented on #307
Friendly reminder about this issue and the bounty

[2018-08-09 15:22] LukeTowers commented on #397
Don't translate messages like that. Just use a key instead and put your long messages in the translation table instead. I.e. instead of
[code]
do
[code]
and then you can put your really long text in the translation table instead.

[2018-08-09 15:22] #397 closed

[2018-08-24 12:13] didiervassout commented on #167
@thomasilmer

How did you achieve this? I'm also have a custom model and I get, via builderList, a list of records but the detail page with a translated slug give me a "record not found".

[2018-08-24 12:57] disvst opened #399 "Should it work with builderList and builderDetails default components?"
Sorry for this question, but from a beginner perspective, does this plugin allow translations and slug translations out of the box with theses two default components or does it require specific, custom made, components?

[2018-08-24 15:40] LukeTowers commented on #399
@disvst Have you tried it yet? It probably does, you still need to mark your model properties as translatable though.

[2018-08-24 15:48] disvst commented on #399
@LukeTowers Yes I tried, but I had an issue with the slug, which I used as a identifier and key value to link builderList and builderDetails: the record on the detail page is found only for the slug in the default language but not for the translations.

My model properties are translatable and the slug indexed.

[2018-08-24 16:19] munxar commented on #399
check out this part in the documentation:
https://github.com/rainlab/translate-plugin#url-parameter-translation

[2018-08-24 16:50] disvst commented on #399
Thanks @munxar

I tried it with no success.

In plugin.php I have

    public function boot()
        {
            Event::listen('translate.localePicker.translateParams', function($page, $params, $oldLocale,         $newLocale) {
                if ($page->baseFileName == 'your-page-filename') {
                return Job::translateParams($params, $oldLocale, $newLocale);
               }

[2018-08-24 23:29] munxar commented on #399
is the page you want to translate named 'your-page-filename' ??? this must match your pages name.
your pages parameter must be names :slug too.

[2018-08-27 10:33] disvst commented on #399
Thanks @munxar, I did actually put the right name (in my case, job-single). But I'm stuck with "record not found".

[2018-08-28 13:44] vannut commented on #384
Good remarks.
You already found the answer for your second question 👍

Regarding your first answer; this could be a good improvement! Although we need to think of some UI/UX problems like: how do we distinguish the 'copied' content.
What we don't want to happen is to get the copied content being saved as the new language content.

So we might have to add some UI control to 'copy from' or something

[2018-08-28 13:57] Alex360hd commented on #384
Here is the logic I would apply :
When I switch language for a field :
- Check what is the default language of the website
- Check if the field have content in the original language
- Check if the field have content in the translated language
- If not, copy the content of the original language to that translated field
- If yes, don't touch anything, you don't want to see your translated text repla

[2018-08-29 14:56] disvst opened #400 "How to get translatable date formats?"
Hi,

I would like different date formats, to use in some components and Rainlab Blog plugin.

A simple question: how is it possible to get translatable date formats (one per language)? In twig with default `|date` filter? Maybe another method?

I have seen some closed issues about dates translations it but I did't find a clue about formats... I also #checked the rainlab plugin, monthes are transla

[2018-08-29 14:57] disvst commented on #399
A precision maybe: the plugin does works of course very well with custom components.

[2018-08-30 12:57] vannut commented on #400
It depends a little bit on what ou exactly mean with

If this means you want the month names to be translated, but having the same structure (always eg date month year): I believe this is happening by default.

If it means you want different structures for different locales; eg `dd/mm/yy` for Dutch and `mm-dd-yyy y` for English, as far as i know, You'll need to add some logic by means of a plugin.

[2018-08-30 13:05] disvst commented on #400
Many thanks @vannut

I get this behavior with `|date`in Rainlab Blog but not for custom components.

Yes, you got it right, its exactly what I would like. I will try a custom twig filter.

Yes, It would be great!

[2018-08-30 18:40] osmanzeki opened #401 "Repeater language switcher position is incorrect"
### Problem

There is a UI overlap with the position of the language switcher menu in the translatable repeater fields at the moment. See screenshots for visual reference. A pull request with the fix will follow soon.

**Current version**
With the new changes to the repeater fields, a bug seems to have been introduced with the position of the language switcher. A PR will follow with the fix.

![sc

[2018-08-30 19:05] osmanzeki commented on #401
PR has been created (mention is above this comment in the timeline). ⬆️

Cheers,
Oz

[2018-08-30 19:09] #401 closed

[2018-08-31 06:50] LukeTowers commented on #400
@vannut no need to overwrite it, just add your own `| localizedDate` filter :)

[2018-09-01 17:14] vannut commented on #400
That's off course always possible; but then the components which use the standard `| data` won't get a trans-formatting

[2018-09-02 09:48] uitlaber opened #404 "Bug repeatable fields"
I have field "name" and field in repeatable "name".
Plugin added lang switcher to all fields.

[2018-09-02 20:00] mrbohnke opened #405 "Is it possible (or would it be easily fixable) to select concrete translations on demand in my frontend twig templates?"
An example is better if I'm not explaining myself well, is there some mechanism like the fictional one I use for the 'greeting' message for "on demand" translation?

{{ 'greeting'|_locale.code('en') }}, my name is {{ name }}.
Goodbye {{ yourname }}.

Sorry if it is widely known/explained, but I feel like I've been looking everywhere and could find an answer.

Thank you!

[2018-09-03 08:30] joelamltc commented on #405
Same question here.

With more explanation, we want to have language specific translation on translate message.

e.g.  Let say we have two translation for message 'hello'.
[code]

We want to be like no matter what the current language is, we always want to output the english translation of 'hello'.

Conceptual idea:
`{{ 'hello'|_({ code: 'en' }) }}`

Cheers!

[2018-09-03 20:15] LukeTowers commented on #405
@joelamltc could you explain more why that would be necessary?

[2018-09-04 06:47] joelamltc commented on #405
@LukeTowers
The idea comes from Laravel  [`trans()`](https://laravel.com/docs/5.6/helpers#method-trans) function, or the function comes with the [`rainlab\translate-plugin`](https://github.com/rainlab/translate-plugin).

In the above we are able to do language specific translation:
Laravel:
[code]

rainlab\translate-plugin:
[code]

We hope that the message translation can be do this as well.

In m

[2018-09-04 08:00] munxar commented on #405
I like the concept, but would extend it that way:
[code]
Why? If someone (and I'm someone) has written translations strings with a argument named 'code' in the past, we would break their translations.

extending the twig functions is easy:

[code]

All we need to do think of is how we implement Message::trans to handle the locale argument.
[code]
Any Ideas?

[2018-09-04 08:10] joelamltc commented on #405
@munxar Sure!
Looking at this tho.
[code]

[2018-09-04 09:00] munxar commented on #405
@joelamltc I had to extend the *get* method, but I . think it works.
can anyone test my PR please: https://github.com/rainlab/translate-plugin/pull/406

[2018-09-05 12:27] mrbohnke commented on #405
@LukeTowers Hi, for context, in *my* specific case, we are trying to achieve an XML feed that includes translations for every piece of information (instead of seven feeds, one for each of the language we work with).

[2018-09-05 13:35] munxar commented on #405
@mrbohnke in your case I would use the Message model directly. It will give you all message translations.

[2018-09-12 03:46] joelamltc commented on #405
@LukeTowers sorry, any follow up?

[2018-09-12 04:08] LukeTowers commented on #405
@munxar anything that I need to action here?

[2018-09-12 04:12] munxar commented on #405
@LukeTowers No, I gave @mrbohnke a possible solution for a message dump and made a PR (that works for me) to extend the message translation.
As long as @joelamltc can't give me more details in what doesn't work for him, I'm not willing to invest more time in this, sorry...

[2018-09-12 14:32] LukeTowers commented on #405
Alright, well someone ping me if I'm needed.

[2018-09-13 02:13] nicolas-giuristante opened #407 "Translate markdown (.md) content files"
Not sure if it's by design or a bug:

The plugin does not seem to load .md nor .txt the same way it does with .htm content files.

_Following tests: if the .htm exist, the other (.md|.txt) does not and vice/versa._

### Test 1
Using this in page `{% content 'home/intro' %}`
If `content/home/intro.XX.htm` exist, it loads, of course.
If `content/home/intro.XX.md` exist, it does not load. Saying the

[2018-09-13 14:51] LukeTowers commented on #407
@NicolasGiuristante this feature probably isn't implemented, feel free to do so yourself :)

[2018-09-21 07:41] Ladylain commented on #307
Hi guys, i'm looking for a solution to this bug,

Actually i've found that when you're switching locale, some datas change:

Before i get this changes, i need to create in my static page a "title" repeater and a "subtitle" repeater for FR locale, then i switch to EN locale and this time, i create just "subtitle" repeater and "content" repeater (which has richeditor, image field and radiobutton in

[2018-09-21 08:50] massimomegistus commented on #307
Hi everyone,
I really need this feature and i'm using a solution that seems to work.
I've tested it on a model form with a repeater, but I'll check on a static page soon

**/modules/backend/formwidgets/Repeater.php**
**line 84)**
        **add**
        protected static $onSwitchLangCalled = false; // translable repeater support
**line 238) processExistingItems()**
        **replace**
        $ite

[2018-09-21 09:11] Ladylain commented on #307
@massimomegistus , i've just tested it on static page with repeaters and it does not fix the issue :(

i'll search again if i could find something...

[2018-09-21 17:16] massimomegistus commented on #307
Hi @Ladylain,
Please, add also this code modification, to support different group orders through languages in the repeater field
**/plugins/rainlab/translate/formwidgets/MLRepeater.php**
**line 232) Add this method**
    /**
     * Splices in some meta data (group and index values) to the dataset.
     * @param array $value
     * @return array
     */
    protected function processSaveValue($valu

[2018-09-21 19:12] Ladylain commented on #307
O_O

You are my fucking hero at the moment :)

All seems to work good on my side, i have a complex repeater which allows me to do many things that i want, but until now, translation was creating issues, and here you come with a great solution.

I think we need to test a little more to make sure everything is ok for everybody, but it's a hell of a lot of progress.

Thanks so much, my content redact

[2018-09-23 03:40] jimcottrell commented on #307
I should have checked into this the last couple of days, but I've been working on this too in combination with octobercms/october#3729. I didn't know it would be so popular all of a sudden, but I just saw all this activity when I was readying my own PR for submission.

Anyway, I reached similar conclusions as @massimomegistus and named things differently, but I'm right in line with this fix. What

[2018-09-23 05:07] jimcottrell commented on #307
Well, nested group repeaters should be okay due to octobercms/october#3523 avoiding the `getSaveValue` issue, which I knew, so I don't know why I wrote that. Other widgets relying on `getSaveValue` are affected as described though.

[2018-09-24 15:33] Ladylain opened #410 "Retrieve translated value for backend list column value"
Hi,

In my backend, i have a plugin which displays a list of products.
Those products can have a translated content into the creation form in other languages.
I would like to display in my backend list both languages.

I'm using a Partial column type but when i get back my datas, they are always in french, and even if i dump the `$record` to see the model used. It's not showing me the translation.

[2018-09-24 18:28] munxar commented on #410
Yes, sure. Let's say you have a model like this:
[code]
and in your columns.yaml
[code]

note: you don't need to call `noFallbackLocale()` but if you don't, it'll fall back and display your default language which is usually not what you want in a list view.

hope this helps.

[2018-09-25 05:56] Ladylain commented on #410
Thanks a lot @munxar :)

[2018-09-25 05:56] #410 closed

[2018-10-01 05:20] pvullioud commented on #307
Hi Heros,
Thanks for the good work.
Do not forget to request the Bounty : https://www.bountysource.com/issues/50188520-empty-fields-with-nested-repeaters
Or if you don't want it we can give it to Rainlab.

[2018-10-02 15:13] LukeTowers commented on #307
@pvullioud so does @jimcottrell's PRs solve all the issues?

[2018-10-02 21:38] adc91 commented on #191
It is a major bug. Is this already integrated in the core?

[2018-10-03 02:30] LukeTowers commented on #191
@adc91 as far as I know, nope. Feel free to submit a detailed PR including the information about what exactly is broken, how to replicate that, and how this fixes it. Saying things like "major bug" doesn't really do anything, this is a community supported project with no financial support for the maintainers; so if there is an issue that you need resolved then it is up to you to submit issues and

[2018-10-03 02:38] adc91 commented on #191
@LukeTowers Yes, you have the whole reason. That's exactly why my question is going because the solution above resolves the inconvenience and I would like to make a PR. Thank you.

[2018-10-03 02:48] adc91 opened #411 "How to translate fields jsonables"
Good,

I've been looking for a lot and I really have not found any solution that works for me for the problem I'm having.

I have a field 'body' which is jsonable. I have it in 'es' => Spanish and 'en' => English. From the backend I can select and load the text in both languages.

The problem I have is that I am not able to translate it from the frontend. I have tried with fields not jsonables and

[2018-10-04 17:02] vannut commented on #191
Is this as easy as 'pasting' the js from [this comment](https://github.com/rainlab/translate-plugin/issues/191#issuecomment-310671883) into [multilingual.js](https://github.com/rainlab/translate-plugin/blob/master/assets/js/multilingual.js)?

[2018-10-05 08:54] iboved commented on #376
@raquelegluu How did you do this? Can you give an example of how to make ThemeData fields translatable?
Thank you in advance.

[2018-10-05 12:28] Akif-dev opened #412 "Please Help & Guide me "activeLocale""
Hi,

i have site having two languages, i am using this plugin, and i want to display two menus, one for first language and the other one for 2nd language, menus i am using custom developed.

i want to know the way to differentiate "div->ul->li->a" codes to use on both URLs via using activeLocale

i displayed the images on both site by the following code and it worked.

[code]
how can i use "active

[2018-10-05 12:29] Akif-dev commented on #412
`Hi,

i have site having two languages, i am using this plugin, and i want to display two menus, one for first language and the other one for 2nd language, menus i am using custom developed.

i want to know the way to differentiate "div->ul->li->a" codes to use on both URLs via using activeLocale

i displayed the images on both site by the following code and it worked.

<img src="{{ ('assets/css/s

[2018-10-05 18:58] LukeTowers commented on #412
@Akif-dev don't cross post please. @munxar if you can answer his question in whatever repo makes more sense that would be awesome.

[2018-10-05 20:16] vannut commented on #412
Don't know if I exactly understand your problem, but:

The variable `activeLocale` is only available if you have the `LocalePicker` component somewhere in your project. [It gets initiated here](https://github.com/rainlab/translate-plugin/blob/master/components/LocalePicker.php#L71)

So If you would want that var without dropping the localepicker somewhere, you'll have to insert the logic somewhere

[2018-10-06 04:08] LukeTowers commented on #412
@vannut thanks for responding! @munxar's solution is in the cross posted issue: https://github.com/rainlab/pages-plugin/issues/359#issuecomment-427472573

[2018-10-06 04:08] #412 closed

[2018-10-10 12:40] Ladylain commented on #307
@LukeTowers, i've just tested it again, and without @massimomegistus code, it doesn't fixed the problem for my issue https://github.com/rainlab/pages-plugin/issues/353

[2018-10-10 13:07] buccia commented on #307
+1
@massimomegistus's code also works for me

[2018-10-10 14:42] LukeTowers commented on #307
@jimcottrell any idea what's up with @Ladylain and @buccia?

[2018-10-11 07:11] Fl0Cri commented on #307
@Ladylain when trying @jimcottrell's fix, have you applied both https://github.com/rainlab/translate-plugin/pull/409 and https://github.com/octobercms/october/pull/3729 ?

In my case it solved the main problem. I only found [2 problems](https://github.com/rainlab/translate-plugin/pull/409#issuecomment-425029304) that can occur when trying to manipulate nested repeaters. Can someone confirm these?

[2018-10-11 17:42] jimcottrell commented on #307
@LukeTowers I haven't had a chance to get to the problems @Fl0Cri mentioned with the fix in #409 yet, but I should be able to tackle that soon. There's nothing wrong with the code from @massimomegistus, so there's no reason people wouldn't have success with it for the empty field issue. It's just that it doesn't address the underlying problem of repeaters not calling `getSaveValue` on any child wi

[2018-10-11 19:49] LukeTowers commented on #307
@jimcottrell I'd rather wait for the deeper fix, if people need an immediate fix they can apply the patch from @massimomegistus

[2018-10-18 13:11] moetheone opened #415 "Translations are recreated all-the-time"
Hello,
i habe a strange problem.
After inserting the markup in my sites the to-translate-snippets are "found" by the plugin over and over again. After viewing the Frontend the snippet is recreated.
I doubble-checked the syntax of the markup, but i can´t find the problem causing this.
Strangeley just some of my snippets are affected.
Thx for any tips/help!
Moe

[2018-10-18 17:14] mgollmer commented on #415
Hi There,

yeah i would be interested in this one too. I've the same error.
The same translatable Content repeatedly appears over and over again.

Regards
Michael

[2018-10-18 18:10] munxar commented on #415
can you be more precise and give an example, I really don't get what you mean.
Where are the translations recreated? backend, frontend?

[2018-10-18 18:19] mgollmer commented on #415
Hello,

there are more then one entry for the same text, everytime I scan the content for new translatable phrases. Unfortunately I can't  take a screenshot right now. =(

[2018-10-19 15:45] moetheone commented on #415
Hi there!
I solved it.
What i did was shorten the tags and save a translation also for default language. So maybe it was the length og the markup-snippet.
Thx for your assistance anyway!
Moe

[2018-10-19 15:45] #415 closed

[2018-10-30 08:34] mariavilaro commented on #386
I think forceUrl should be on the layout as a localePicker property.. I don't know if this is the problem, but I have it like this and it works:

(layout.htm)

[localePicker]
forceUrl = 1

(project.htm)
title = "Project"
url = "/projecte/:slug"
layout = "default"
is_hidden = 0

[viewBag]
localeUrl[es] = "/proyecto/:slug"
localeUrl[en] = "/project/:slug"

[2018-10-30 10:19] #378 closed

[2018-10-30 13:33] rubenvanerk commented on #286
I have the same issue. Tried to fix it but no success yet.
JS code responsible for filling the preset field is in modules/system/assets/ui/js/input.preset.js

@iboved is correct, the slug field is generated from the overarching input field and not from one of underlaying the hidden lang input fields.

I tried to change the data-input-preset to RLTranslate[<lang>][<fieldname>] but that doesn't seem

[2018-11-01 12:30] aly-eldegwy opened #418 "TranslatableModel scopeTransWhere operator bug"
In the TranslatableModel, the scopeTransWhere now supports the $operator, but in line 42, the $operator missed to be sent to the where() function of the table model. So, the result of the search is not the same when changing the language. As a suggestion, the fix may be by sending the $operator to the where like that :
     $q->where($this->model->getTable().'.'.$index, $operator, $value); // line

[2018-11-01 16:35] LukeTowers commented on #418
@aly-eldegwy please provide a PR with your proposed fix along with a detailed replication of the original issue along with how the original issue is fixed by your proposed fix.

[2018-11-02 11:35] rubenvanerk commented on #286
A possible solution could be to prevent the preset javascript from changing the values of locales that are currently not active.

[2018-11-02 13:15] maartenmachiels commented on #386
Hi Maria, thanks for your answer. I've double checked, but it doens't seem to work for me. The slug still stays in the default language, while the content is being translated...

[2018-11-05 08:05] mskraban commented on #404
I have the same issue. Plugin keeps duplicating some entry's on "scan for new messages".

[2018-11-06 17:36] sopmac commented on #75
Nice one

[2018-11-08 22:01] AugmentBLU commented on #384
I would agree that copying the original content to another language would be super helpful and drastically cut down time for content editors. Rather than a magical check on the original content, perhaps a drop down with copying options would be better so you have a little control over what is being copied over. If you have 2 languages, the dropdown could have a single option "copy from original",

[2018-11-09 17:14] Zollerboy1 opened #420 "How to translate default field values"
As an example I have a translatable model:

[code]

My `fields.yaml` looks like this:

[code]

Is it possible, that I give the field `site_name` a default value for each language?

I tried it with

[code]
but that seems to just work with labels but not with default values.

[2018-11-10 12:37] simon511000 commented on #75
Thank you :D

[2018-11-12 16:02] Zollerboy1 opened #421 "Nested Translatable Repeater Issue"
I have a translatable Repeater in my Backend form, which has nested in it another Repeater:

[code]

When I now add Items to the repeater everything seems to work fine, but there is a strange Issue.

**Reproduce:**
- Add an item to the `skills_extra` repeater and add also an item to the `skills_extra_list` repeater in it.
- Then add another item to the `skills_extra` repeater, which also has a nes

[2018-11-12 19:01] LukeTowers commented on #421
See #409 and the numerous other related issues.

[2018-11-12 19:01] #421 closed

[2018-11-21 16:53] KevinReina opened #423 "Records in database not updated when changing locale code in backend"
Already translated content cant be used if locale code is changed. This is because records in the database still have the old locale code.

Steps to reproduce:
1. Add new language
2. Translate contents
3. Change language code
4. Translated content not available due to locale code change

Is there a way to automatically change database records too?

[2018-11-23 12:36] anastasiauz commented on #336
I have a similar problem, with up to date Translate plugin 1.4.1

If the url doesn't contain active locale segment the link is updated. After update get parameters are lost.
Ex.: link
http://kompasgid.beget.tech/knigi?tags=skazki
the link is updated to contain 'ru' segment ->
http://kompasgid.beget.tech/ru/knigi
as a result - link without get params.

dd of get() gives empty array

[2018-11-23 15:37] LukeTowers commented on #336
@munxar could you look into @anastasiauz's issue?

[2018-11-27 12:58] Samuell1 commented on #279
Hey @munxar , did you got it working? Trying your extend function after sending email i get error `ErrorException: Invalid argument supplied for foreach() in ...\plugins\rainlab\translate\classes\TranslatableBehavior.php:314`

[2018-11-27 13:04] munxar commented on #279
no, stopped investigating. sorry.

[2018-11-27 13:28] adamo opened #424 "Assign languages to users"
Hello.
Is there a way to assign a language to a user (editor) so he can only translate content into this language?

For example an admin adds site "contact" a user **editor 1** sees the page and can translate it into language (for example) '_polish_'
the user **editor 2** sees the same page but cannot edit in the language '_polish_' but only '_german_'

I guess this is a similar issue to this one

[2018-11-27 13:45] munxar commented on #424
@adamo you can add a relation table for x_y_user_language into your plugin and add a
User belongToMany Languages relation via Model::extend.

regarding the languages that a user can see depending on this setting: You must somehow replace the listAvailable() method in the Locale model to return only languages allowed by the current user.
no clue how to do that, but you could try Model::extend after

[2018-11-27 20:45] CharlyJazz commented on #265
I dont want add jquery for my project to make that request, any suggestion?

[2018-11-27 20:53] CharlyJazz opened #425 "Add to the doc a way to create a onSwitchLocale request without Jquery and extraframework files"
Sometimes we do not want to add jquery files and additional extra frameworks files to create features, please help us with documentation for that.

I am making a October site with react and without jquer, come on, the people dont want use jquery.

I am stucking because i am try create a way to fire the onSwitchLocale event in the backend without jquery and extrameworks

[code]
but my code does not

[2018-11-27 23:34] LukeTowers commented on #424
You could extend the available languages by hooking into the model's afterBoot event: https://octobercms.com/docs/api/model/afterBoot

[code]

[2018-11-27 23:36] LukeTowers commented on #265
... You already have? `$.ajax` is jQuery, and so is the data attributes API.

The short answer to this though if you're not using either API is to handle the response yourself:

[code]

[2018-11-27 23:38] LukeTowers commented on #425
The people do, you don't.

What do you mean by

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest their time helping with a question that wasn't even worth t

[2018-11-28 00:50] osmanzeki commented on #265
I was curious to see how one could use another library as an alternative to `$.ajax` so here's a successful example using the Axios library.

I did not try with other HTTP/Ajax libraries out there, but overall it should be quite the same.

If you try the following on the default OctoberCMS Ajax Framework demo page, it seems to work.

Here's an online example of that page where you can try this you

[2018-11-28 00:56] osmanzeki commented on #425
In the other comment, I've added a way of using Axios that seems to work as an alternative to `$.ajax`. I'm not 100% sure this works without Framework Extras and I have not tried it with the `window.fetch` api, but it seems to work fine with Axios which is good news for you.

https://github.com/rainlab/translate-plugin/issues/265#issuecomment-442276094

[2018-11-28 01:37] osmanzeki commented on #425
I agree that one should probably not be forced to use jQuery in the themes or the OctoberCMS's website frontend, but jQuery will probably be here for a long time still.

That said, now with this solution perhaps you can use Axios or other libraries and use October as your headless CMS of choice too.

[2018-11-28 11:34] adamo commented on #424
Thank you @munxar for pointing me in the direction. When I have something viable I'll be posting it here or asking further questions ;)

[2018-11-28 17:39] LukeTowers commented on #425
@CharlyJazz feel free to submit a PR where you feel like it would be most appropriate to the octobercms/docs repository to tell people how to implement the AJAX framework without using jQuery

[2018-11-29 17:50] geez0x1 commented on #361
I'm seeing the exact behaviour anastasiauz mentions. I'm testing a website in multiple tabs - when switching languages on one and refreshing any of the others, the reload gives a 404. Will now test what `forceUrl` does for me. This is really poor behaviour.

[2018-11-30 02:40] fenriz07 opened #426 "Locale active for controller AJAX"
Hello, I have created custom drivers for a plugin, which are consulted by ajax, I had a problem in knowing which was the active locale, you can take it out by Session, but I wanted to remove it in the way that this plugin takes, then simply you have to invoke the middleware: web and '\ RainLab \ Translate \ Classes \ LocaleMiddleware :: class' here is an example:

[code]

Thanks for your plugin.

[2018-11-30 02:59] joelamltc opened #427 "Translated attributes are not display correctly when switch default locale configuration."
I used this plugin to get my website to be i18n ready and I love this plugin. However, this is always holding me back.

The situation is I have had created two languages in the backend Chinese and English (default). I saved the translated attributes in the form view. All are working fine but once I switch the default language in the backend config and come back into the form view. I noticed all th

[2018-11-30 21:22] LukeTowers commented on #426
@fenriz07 is this just a submission of code you found useful?

[2018-11-30 21:23] LukeTowers commented on #427
@joelamltc please comment on that issue instead and I'll reopen it. Provide detailed step-by step instructions to replicate the bug, ideally with GIFs showing what's happening for each step of the process.

[2018-11-30 21:23] #427 closed

[2018-12-02 17:31] #425 closed

[2018-12-03 04:14] fenriz07 commented on #426
Affirmative, example of the solution.

[2018-12-03 04:39] LukeTowers commented on #426
Cool, thanks for the post!

[2018-12-03 04:39] #426 closed

[2018-12-03 04:41] LukeTowers commented on #231
@munxar @vannut Are you guys able to see what causes this issue of translations breaking when the default language for a site is changed?

[2018-12-03 06:01] munxar commented on #231
@LukeTowers tl;dr it works as implemented.
I'll try to explain why:
If you use the ModelTranslation behavior it is applied to a model that is related to a database table.
The values stored in this table are assumed to be in default language.
If you add a translatable column via $translatable = [] and only have the default language, basically nothing happens in the rainlab_translate_attributes or r

[2018-12-03 06:50] joelamltc commented on #231
Would it be good if store all translation in the rainlab_translate_attributes table?
Then no matter how you switch it will still can grab the right translations.

[2018-12-03 06:56] munxar commented on #231
@joelamltc it depends on your definition of 'good' :-)
well, I think no, because the plugin is build in a way that you can just add or remove it as pleased.
it doesn't alter data in this process, which is a good thing.
Imho we should instead add a feature to copy translation data from one locale to another.
that would be:
a) optional / non destructive
b) solve the original problem (with a little h

[2018-12-03 07:03] joelamltc commented on #231
yea I totally understand.

for b) in production server no, but sometime in development will do. Coz sometimes the client didn't know what language they should default, and I just always default to en, but somehow they want to change it to others. Then, it would be my problems if can't switch or maybe just like you said, do some little handy work to migrate it.

[2018-12-03 15:35] LukeTowers commented on #231
@munxar what do you think about triggering the copying of default lang attributes (i.e. the language swap) when changing the default locale?

[2018-12-03 17:49] munxar commented on #231
@LukeTowers wouldn't do that. Why?
1. We don' t know the side effects of a model save, or what hocks are triggered.
In the worst case data is lost. You wouldn't expect a data modification by switching the default language, would you?

2. What will happen, if the new default language doesn't have a value, but the db requires one?
The translated fields don't have have any validation rules or schema.

[2018-12-03 19:43] LukeTowers commented on #231
Fair enough. How about as a console command instead then?

[2018-12-03 22:54] munxar commented on #231
@LukeTowers I'll try to be more clear:
It's very hard to do, because we need to
1. know all translated model classes
2. iterate over their data and write it as normal translations into the translation tables
3. get the data from the translation tables and write them into the tables (as default)

I have no clue how to solve point 1. point 2. is relatively easy and 3. is technically impossible.

Let

[2018-12-04 17:29] LukeTowers commented on #231
@munxar you're right, this is technically very difficult to pull off. Could you recommend an addition to the documentation that would warn developers to not go around changing the default language for these reasons?

[2018-12-04 21:04] hkan commented on #386
I can confirm. The `localeUrl[lang]` variables work as intended, but `:slug` is always default locale's (English, in my case) slug.

[2018-12-15 16:24] Rike-cz opened #429 "Input preset converter cannot listen field of current language only"
##### Expected and actual behavior
When I write a title for e.g. new Blog article, I expect autogenerated slug in selected language, but I receive this same slug for all languages! As a result of this behavior there is non existing article language mutation created!
I think this issue needs deep improvement in input preset converter, or to create new solution for this Translate plugin.
![data-inpu

[2018-12-15 16:29] Rike-cz opened #430 "TranslatableModel returns default language if actual does not exists"
Little question - is fallback to default language in case when current language model does not exists intentional behavior? I mean this line: https://github.com/rainlab/translate-plugin/blob/319ab8e26022f440dc0fa4220025e9e3de67220c/behaviors/TranslatableModel.php#L42

[2018-12-15 17:32] LukeTowers commented on #429
Awesome, thanks @munxar

[2018-12-15 20:17] munxar commented on #429
what I debugged so far is, that if any (!) preset feature is used on a translatable text field, this bug happens.
e.g.
[code]
if *name* and *slug* are translatable, then entering text into the *name* field will write all hidden RLTranslate[x][y] fields. Because it writes all those fields, even if the default language was set, the data gets overwritten for all languages.

because there is no server

[2018-12-16 14:59] w20k commented on #429
@munxar, sounds like a plan. Would you like to make a PR for this issue? I'll do the testing for you 😄

[2018-12-18 03:45] osmanzeki commented on #191
I believe this is due to an issue with how jsonable fields are sometimes not `json_decode`'ed properly.

I'm trying to work on a fix for this. See my fork (please do read the README as it explains my discovery and tentative for a fix) here:

https://github.com/osmanzeki/octobercms-jsonable-fix/blob/master/README.md

Help testing the proof of concept there would be appreciated. It does not work 100

[2018-12-18 03:49] osmanzeki commented on #411
I believe this is due to an issue with how jsonable fields are sometimes not `json_decode`'ed properly.

I'm trying to work on a fix for this. See my fork (please do read the README as it explains my discovery and tentative for a fix) here:

https://github.com/osmanzeki/octobercms-jsonable-fix/blob/master/README.md

Help testing the proof of concept there would be appreciated. It does not work 100

[2018-12-18 03:59] LukeTowers commented on #411
Duplicate of #191

[2018-12-18 03:59] #411 closed

[2018-12-18 15:15] shiftaltd commented on #307
@massimomegistus you're a genius !

[2018-12-23 15:12] mjauvin commented on #430
@Rike-cz is there a link with what's being reported in #418 ? It's referencing the same line number (42).

[2018-12-23 15:19] mjauvin commented on #373
@the-specialist2005 can you give more details of how you are using the plugin? Is that for a static page, a CMS page? also give an example on how to reproduce this.

[2018-12-23 15:33] Rike-cz commented on #430
This one makes problem with #429 issue. That issue causes that each language receive the same slug (index), but only current language has model data. When you switch frontend to another language, you can see that same slug, but content is only in one language. So fixing #429 may make solution, BUT what happens with `where + orWhere` query (lines 42 and 43), when index for base table and index for

[2018-12-23 16:47] #331 closed

[2018-12-23 18:15] mjauvin commented on #430
@Rike-cz I suggest submitting a PR for this solution, we can then discuss it further and test your solution.

[2018-12-23 19:37] Rike-cz commented on #430
@mjauvin If you think #418, it's easy. But in case #429, which is very important, it's more about JS and out of my current skills :-(

[2018-12-24 15:43] mjauvin commented on #420
Check the thread below on how to dynamically set a field's value and use the translations functions to localize its value :

https://octobercms.com/forum/post/dynamic-default-values-for-form

[2018-12-28 07:18] simon511000 opened #434 "how to translate a string in php in the frontend?"
[code]

[2018-12-28 07:31] munxar commented on #434
@simon511000
You can use the Message model like this:
[code]

note: in order that the translation code 'bonjour' is found when e.g. you run 'Scan for Messages' in the translate backend setting, the page must be called once to run the code.

[2018-12-28 09:18] simon511000 commented on #434
Thank you very very much :D

[2018-12-28 09:18] #434 closed

[2018-12-29 04:33] multiwebinc opened #437 "Ampersand gives Unexpected character "&""
I was going to report a bug, but I just found a workaround, so I'm not sure if it's like this by design or not.

If you try to use ampersands (`&`) in your strings, like this:

    {{ 'Hot & Cold' |_}}

You will get an error:

Instead you need to use double quoted strings:

    {{ "Hot & Cold" |_}}

[2018-12-29 05:40] munxar commented on #437
@multiwebinc I can't reproduce your bug. It works for me with the example you have given.
OctoberCMS 443 / RainLab.Translate 1.4.2

Perhaps you copy/pasted your string from somewhere and there are some non printable characters inside your string that twig won't swallow?

[2019-01-07 14:58] Verbat opened #438 "error array_keys() expects parameter 1 to be array, object given in EventRegistry.php after edge update"
I updated OctoberCMS and the translate Plugin (edge update enabled) to their latest version.
I had to apply the following fix https://github.com/rainlab/translate-plugin/pull/436 for the CMS pages which works fine.
I also noticed that when I try to open the Pages menu from the static Page Plugin in the backend I'll receive the following error on the line which says array_keys($locales));.

array_k

[2019-01-07 14:58] adrenth opened #439 "pruneTranslatedContentTemplates: array_keys() expects parameter 1 to be array, object given"
Caused by #432

Calling array_keys on a Collection will never work in PHP 7.1.

[code]

`$locales` contains a Collection (which is not an array).

[2019-01-07 15:17] adrenth commented on #438
See #439

[2019-01-07 16:19] LukeTowers commented on #438
Duplicate of #439.

[2019-01-07 16:19] #438 closed

[2019-01-07 22:04] #439 closed

[2019-01-10 16:47] desert85 commented on #290
@massimomegistus Thanks dude. You have literally save my life with your solution.

[2019-01-15 10:09] iboved commented on #191
@osmanzeki how can I access translated data in the component if I use your plugin? For example, I have this fields:
[code]
I made them translatable. The data is stored correctly to the database and showed in the backend. BUT I can't access it on the frontend or in components. When I access `$model->meta` it returns `meta` array in the default language and not in the current language. When I access

[2019-01-15 20:52] multiwebinc opened #441 "Add option to redirect all pages to pages with shortcodes"
Currently there is an option to redirect the homepage to the page with the language shortcode, however it would be great to be able to direct all pages to the corresponding page with a shortcode as well. For example, if the user goes to `/photos` it will direct them to `/en/photos`. This would cut down on duplicate content.

[2019-01-29 14:18] w20k commented on #429
That should be fairly simple to implement:
- First, find an active locale for $('.ml-btn[data-active-locale]:first', this.$el) or refactor data-active-locale to store local in data attribute
- Second, get elements locale
- Third, if both fields are present and equal '===' -> .val($value) (on('paste'|'input', func())

[2019-02-03 04:47] multiwebinc commented on #441
Now that I look at this more closely, I think this should actually be on https://github.com/Excodus/oc-translate-extended.

[2019-02-03 04:51] #441 closed

[2019-02-06 21:43] EMAD08 opened #443 "Duplicated messages"
I usually use this plugin with every website I create, but in the last one it started to duplicate and triplicate the messages on the "Translate messages" section, I can't figure it out

[2019-02-07 03:18] mjauvin commented on #443
The new version allows the CMS pages fields to be translated directly in the page editor, there is no need for the "Translate messages" anymore for the title, description, meta-title and meta-description.

Are the messages that gets duplicated in one of those fields? Can you give examples with as much details as possible?

[2019-02-07 15:10] EMAD08 commented on #443
Thank you mjauvin for you reply, the messages are not from the fields you mentioned, they are from photo descriptions that I use for alt-text, in my markup I use it like this: {{ photo.description|_ }}

I attached a screenshot of how the "Translate Messages" section looks like.

![translate-duplicated](https://user-images.githubusercontent.com/25836873/52420716-3864f400-2ab8-11e9-95f0-01eb45dfb83a

[2019-02-07 15:49] mjauvin commented on #443
can you send a screenshot of the place where the original text comes from?

--
Marc

On Thu, Feb 7, 2019, 10:10 Emiliano Mina <notifications@github.com wrote:

[2019-02-07 15:55] EMAD08 commented on #443
Here it is
![alt-text](https://user-images.githubusercontent.com/25836873/52423810-736a2600-2abe-11e9-9630-1ddf9272d542.jpg)

[2019-02-07 15:57] mjauvin commented on #443
Is that for a FileUpload or MediaFinder?

On Thu, Feb 7, 2019 at 10:55 AM Emiliano Mina <notifications@github.com>
wrote:

--
Marc

[2019-02-07 15:57] EMAD08 commented on #443
FileUpload

[2019-02-07 16:02] mjauvin commented on #443
It's odd because you get the same behavior as if you were using a
translated field in 3 languages but you're not.

How many languages do you have for this website?

On Thu, Feb 7, 2019 at 10:57 AM Emiliano Mina <notifications@github.com>
wrote:

--
Marc

[2019-02-07 16:08] EMAD08 commented on #443
I'm using 2, English and Spanish.

[2019-02-07 16:10] mjauvin commented on #443
I'll try to reproduce this.

On Thu, Feb 7, 2019 at 11:08 AM Emiliano Mina <notifications@github.com>
wrote:

--
Marc

[2019-02-07 16:12] EMAD08 commented on #443
Ok, thank you very much!

[2019-02-07 16:12] munxar commented on #443
How long is the text that you use as key? Is it longer than 255 chars?

[2019-02-07 16:22] EMAD08 commented on #443
Some of the messages are longer than 255 chars, but even the ones that aren't get duplicated

[2019-02-07 16:23] mjauvin commented on #443
I could not reproduce this behavior. Maybe @munxar has something here with
the key length.

Can you send a text version of one of the text exhibiting this behavior so
I can try with the same value?

On Thu, Feb 7, 2019 at 11:12 AM munxar <notifications@github.com> wrote:

--
Marc

[2019-02-07 16:25] EMAD08 commented on #443
Sure, these are some messages that are getting duplicated (Just some, as almost every message has that bug)

Bold 100% Cotton Table Cloth with unique and original Aroate design.2 meters x 2 meters - $40.00    #43160 cm x 3 meters - $40.00     # 44160cm x 2.5 meters - $40.00    #45160cm x 2 meters -  $35.00    #46160cm x 160cm - $35.00    #47

Arte Seni Luna designs and crafts their unique lamps fr

[2019-02-07 16:25] mjauvin commented on #443
@munxar the table definition for translate messages is below, the "code" column is actually 192 chars:

Create Table: CREATE TABLE `rainlab_translate_messages` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `message_data` mediumtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `rainlab_translate_messages_code_index` (`

[2019-02-07 16:26] munxar commented on #443
Each time you change the text, you'll get a new entry, because the code changes. It should be unique.

[2019-02-07 16:28] EMAD08 commented on #443
So that means that all the messages that have 191+ chars are getting duplicated?

[2019-02-07 16:29] mjauvin commented on #443
I was able to replicate the issue using much longer text. I'll try to find the actual treshold where this happens...

[2019-02-07 16:30] mjauvin commented on #443
@EMAD08 You were saying you used this before without getting this behavior... did you use texts as long as the ones for the current project?

[2019-02-07 16:31] EMAD08 commented on #443
In previous projects I didn't use text as long as with this project

[2019-02-07 16:39] mjauvin commented on #443
So the way to solve your problem in the mean time, use a "key" instead of the actual text in your FileUpload description and put the actual text in both languages on the Translate Messages page.

[2019-02-07 16:46] EMAD08 commented on #443
A "key"? Sorry, I don't know so much about developing...

[2019-02-07 16:53] mjauvin commented on #443
Just a brief text that will be different for each photo description. You'll find this text in the "Translate Messages" page where you'll have to populate the actual description in both english and spanish.

[2019-02-07 16:56] EMAD08 commented on #443
Ok, I'll do that in the meanwhile. Thanks!

[2019-02-07 16:59] mjauvin commented on #443
This is not actually a bug as we cannot make the key that much longer anyway, in my opinion. We wouldn't be able to index a "MediumText" MySQL field, so the max length would be 255 anyway.

@munxar what's your take on this?

[2019-02-07 17:00] EMAD08 commented on #443
Ok, but then why shorter text are getting duplicated too?

[2019-02-07 17:02] mjauvin commented on #443
Don't forget that if you make a modification to your description in the FileUpload description, this will create a NEW "key" for the Translate Messages. In this case, you need to delete the previous entry in Translate Messages and update your translations in the NEW one... this is expected behavior.

[2019-02-07 17:05] EMAD08 commented on #443
Ok... And there's a way to delete all the messages and import an .csv with all the right messages?

[2019-02-07 17:13] mjauvin commented on #443
I am not sure I really understand your question.

[2019-02-07 17:34] EMAD08 commented on #443
I mean, blank the "Translate messages" section and import a clean .csv file that I made with all the messages corrected

[2019-02-07 17:59] munxar commented on #443
@EMAD08 You should be able to export/import the messages, yes. But your problem will persist, as long as you use input fields that a user can change as your 'code' (e.g. photo.description).
You could instead use the files id and prepend some string to generate the description/title or what ever you need.
``` {{ (photo.id ~ '.description') | translate }} ```
or
``` {{ (photo.id ~ '.alt') | translat

[2019-02-08 01:55] LukeTowers commented on #443
User input is really meant to be dealt with using the translatable models

[2019-02-08 02:38] mjauvin commented on #443
@LukeTowers there's a PR for the FileUpload that would help here. I think we should push this, even if it would be nice to have the FileUpload revamped as this might take some time.

[2019-02-10 14:58] hellomohsinhello opened #445 "Translations of Setting model fields are not working in the update."
[code]

[2019-02-10 16:01] mjauvin commented on #445
You are right, this is using the System.Behaviors.SettingsModel which is not currently translatable.

[2019-02-10 16:06] mjauvin commented on #445
In the mean time, remove the TranslatableModel from your implements[] array and use Rainlab's "Translate Messages" with the twig "_" filter in your markup:
{{ gm_message | _ }}

[2019-02-11 06:55] hellomohsinhello commented on #445
Thanks for your comment. Now I have two questions in my mind.
1. translation of System.Behaviors.SettingsModel was supported in the previous versions. So, why you removed in the newer version.
2. {{ gm_message | _ }} is working but I need to have richeditor for gm_message. so, richeditor will not available using |_ option. How I could resolve this issue.

[2019-02-11 07:02] hellomohsinhello commented on #445
We ware making this setting option for our client where they dont understand the markup ".md" or using content file option in CMS menu. This option was easy for them to make changing in content using rich text editor.

[2019-02-11 08:43] hellomohsinhello commented on #445
let me show you an example here.
I copied this code from plugin GrofGraf\ContactMe which is working fine. I same when i'm doing in my model is not works.

class Settings extends Model
{
    use \October\Rain\Database\Traits\Validation;

    public $implement = [
      'System.Behaviors.SettingsModel',
      '@RainLab.Translate.Behaviors.TranslatableModel'
    ];
    public $translatable = [

[2019-02-11 12:40] mjauvin commented on #445
We did not remove any functionality.

You're saying it's working fine in the GrofGraf\ContactMe plugin with the latest version of Rainlab.Translate?

[2019-02-11 13:22] mjauvin commented on #445
I was able to make this work. In your case, your onStart() method should look like below code:

function onStart(){
   $this['gm_message'] = Settings::instance()->gm_message;
}

[2019-02-12 13:25] sanketr43 commented on #209
how to implement the temporary fix, new trait ?

[2019-02-12 13:32] alxy commented on #209
@sanketr43 If you are not going to translate index fields/slugs, use this trait: https://github.com/rainlab/translate-plugin/issues/209#issuecomment-400189329

Just copy it to your plugin sources, e.g. in a subfolder `classes`, then `use` it in your model.

[2019-02-18 11:06] rejuvenatedigital opened #446 "Duplicated Translate Messages"
Hi,

Apologies if this has already been covered but I'm experiencing a bug with Translate messages where I'm getting duplicate entries of messages.

I believe this is because my database charset is utf8mb4 so my default string length is 191, but when the message code is created it's truncated to 250 characters before being saved and therefore doesn't match any existing entries.

Please let me know

[2019-02-18 12:21] mjauvin commented on #446
Please, see #443

[2019-02-20 17:31] patrick-durrer opened #447 "staticPage: Translated placeholders don't get saved without main content"
### Expected behaviour
I create a new site in the static pages plugin and assign it to a layout with a placeholder. In the backend edit view I get two tabs: one for the main content and one for the placeholder.

![grafik](https://user-images.githubusercontent.com/15232963/53110807-1c436700-353c-11e9-9a4e-b2fe5274633d.png)

Now I translate the placeholder without entering something for the main-con

[2019-02-21 08:54] w20k commented on #447
@munxar @mjauvin could you answer this one? Is it a bug?

[2019-02-21 15:34] LukeTowers commented on #447
or @osmanzeki?

[2019-02-21 16:05] osmanzeki commented on #447
I haven't used the Static Pages plugin as I always rely on a database so I am not familiar with this issue sadly.

[2019-02-21 16:13] rejuvenatedigital opened #448 "Richeditor - quote marks in alt tags wipes the content"
Hi,

I've just spotted an issue where I have a repeater group that contains a richeditor field, when a user adds in an image with an alt tag that contains a quote mark for example

The Froala editor then converts the quote marks to a html entity.
This then causes a problem when the reapeater group is saved in json and therefore causes the content to fail to load.

This only appears to be happening

[2019-02-21 16:13] #446 closed

[2019-02-22 13:17] mjauvin commented on #447
Maybe the translate plugin should use default language content when placeholder is not null and content is null before saving?

[2019-02-22 16:08] LukeTowers commented on #448
Why would an HTML entity inside of a string cause problems in JSON? Could you post an example of your field configuration, the content you put into the Froala editor, and the generated JSON?

[2019-02-25 10:40] rejuvenatedigital commented on #448
Hi Luke please see attached my field config, froala content and generated JSON.
[generated_json.txt](https://github.com/rainlab/translate-plugin/files/2900116/generated_json.txt)
[content_fields.txt](https://github.com/rainlab/translate-plugin/files/2900117/content_fields.txt)
[froala-markup.txt](https://github.com/rainlab/translate-plugin/files/2900118/froala-markup.txt)

[2019-02-25 15:28] LukeTowers commented on #448
@rejuvenatedigital do it inline with the code syntax of three backticks surrounding each block of code please. I don't want to have to download and look through separate files.

[2019-02-25 16:42] rejuvenatedigital commented on #448
@LukeTowers sorry Luke, thought it would be easier to view as files.

[code]

[code]

[code]

[2019-02-25 16:53] LukeTowers commented on #448
@rejuvenatedigital I don't see the problem, pasting the JSON into https://jsonlint.com/ says that it's valid JSON.