[2019-02-25 17:12] mjauvin commented on #448
@rejuvenatedigital can you create a github with your plugin code for this so we can test easily?

Also, aren't you missing the "type: repeater" in your fields definition?

[2019-02-25 17:25] mjauvin commented on #448
I tried to reproduce and it's working fine for me.

Can we see the definition for the Model using this repeater field?

[2019-02-26 09:55] rejuvenatedigital commented on #448
@LukeTowers I'm aware that the json is valid, the problem is when the JSON is used to generate the fields for the repeater group.

@mjauvin please find the plugin code here https://github.com/rejuvenatedigital/Property-Plugin-Example

[2019-02-26 11:38] mjauvin commented on #448
Try renaming the "content" field in models. property/fields.yaml to
something else, I think it interferes with the field group named content
for the translatable array

--
Marc

On Tue, Feb 26, 2019, 04:55 rejuvenatedigital <notifications@github.com>
wrote:

[2019-02-26 11:47] sophie-vdv opened #449 "Invalid argument supplied for foreach()"
Hi,
I made the plugin update few days ago since than I have an error on my staging environment.
Can anybody advice me how to fix this issue?

/plugins/rainlab/translate/behaviors/TranslatablePage.php line 55
Invalid argument supplied for foreach()

![screenshot 2019-02-26 at 09 11 46](https://user-images.githubusercontent.com/7673083/53410603-95234280-39c4-11e9-9381-45fede0c903d.png)

[2019-02-26 12:04] munxar commented on #449
I think your october core and rainlab/translate-plugin are out of sync.
how do you install the translate plugin? manually or with a dependency in the composer.json?

[2019-02-26 12:04] mjauvin commented on #449
You need to update the core octobercms as well. What version of core and
the plugin do you have?

--
Marc

On Tue, Feb 26, 2019, 06:47 Sophie Vanderveken <notifications@github.com>
wrote:

[2019-02-26 12:14] sophie-vdv commented on #449
@munxar @mjauvin
it was install by the cms interface
translate-plugin 1.4.5
octobercms build 443

[2019-02-27 12:58] GinoPane opened #450 "The plugin does not run validation for translatable fields"
While working on GinoPane/oc-blogtaxonomy-plugin#14 I've discovered that the translatable plugin does not actually run any validators registered for translatable fields.

So, for example, if I have validation for some `title`, it will be validated only for primary language, all other language inputs are ignored.

Are there any existing solutions for this?

[2019-02-27 14:06] w20k commented on #450
Hi, @GinoPane I'm not really proficient with translate plugin, so can't help you with that, but here is a group of PRO Devs who might know and help.
Gurus, I summon you - @munxar @mjauvin @osmanzeki  😄

[2019-02-27 15:00] osmanzeki commented on #450
I tried it and it does not run the validation rules on the other languages indeed. Don't know why I never noticed this before.

There is a workaround at the moment if you use the model's lifecycle events as described here and run custom validations for each active language for example.

**Model events :**
https://octobercms.com/docs/database/model#events

**Custom validation :**
https://octobercms

[2019-02-27 15:04] osmanzeki commented on #450
For reference, I believe the validation magic is happening here:

https://github.com/octobercms/library/blob/8d96a7b239f8b30984ccde8dbfc525558d053197/src/Database/Traits/Validation.php#L162

And more precisely here:
https://github.com/octobercms/library/blob/8d96a7b239f8b30984ccde8dbfc525558d053197/src/Database/Traits/Validation.php#L200

Is there a way we could do this in the RainLab.Translate co

[2019-02-27 15:25] mjauvin commented on #450
@osmanzeki <https://github.com/osmanzeki> Can you try to monkey patch the
Rainlab.Translate plugin to force the bindEvent priority to something
HIGHER than the Validation Trait's bootValidation which is set at 500?

You need to change this in
classes/TranslatableBehavior.php::__construct()... add a third parameter to
the model.saveInternal bindEvent() and use 1000 for example

If I'm right, this s

[2019-02-27 15:33] osmanzeki commented on #450
Just tried it with 1000 in the bindEvent method and it seems like it is still not validating the other languages, just the main one.

<img width="549" alt="screen shot 2019-02-27 at 10 32 05 am" src="https://user-images.githubusercontent.com/960438/53501947-12a98a00-3a7b-11e9-9598-cd268fbef719.png">

[2019-02-27 16:02] GinoPane commented on #450
I'd say that the problem is that Validation trait knows nothing about translated attributes:

![image](https://user-images.githubusercontent.com/3897579/53504002-3217d580-3ac2-11e9-83f9-9d848fe29e81.png)

[2019-02-27 16:15] developerabdd commented on #209
Thank you for you help @mariavilaro and @tobias-kuendig !

[2019-02-27 16:21] osmanzeki commented on #450
I feel like if possible the logic handling this should run a layer above that code. Meaning that if the right model is provided to the Trait, it will work properly. That said, I'm not exactly how that can be done or if it is the right approach.

It seems like since this is a Trait, every instance of `$this` refers to the original model (which has the `TranslatableBehavior` on it but is not the tra

[2019-02-27 17:29] GinoPane commented on #450
It looks like it is possible to do something by subscribing on `beforeValidate`, but I haven't ended up with PoC yet.

[2019-02-27 18:02] GinoPane commented on #450
Ok, PoC is here.
In `beforeValidate` we can populate model attributes with fake locale-driven attributes, fill their values from `RLTranslate`, fill rules and run validation. Here's the raw example:

![image](https://user-images.githubusercontent.com/3897579/53512052-e0c41200-3ad2-11e9-879b-d43d502ebd46.png)

And in `afterValidate` we will need to unset those attributes before they will be taken t

[2019-02-27 18:06] osmanzeki commented on #450
If you look at my example, you can see how you can implement those same custom rules without modifying the core RainLab.Translate files. I'm not sure doing these changes in the TranslatableBehaviour class fixes this problem correctly for all possible use cases.

https://github.com/rainlab/translate-plugin/issues/450#issuecomment-467894920

[2019-02-27 18:14] GinoPane commented on #450
@osmanzeki Yes, but I tried to find a generic solution for the plugin itself.
It can be provided as an optional Trait maybe that can be included or not (depending on user's needs).

[2019-02-27 18:18] osmanzeki commented on #450
Ah yes I see, indeed. Will have to wait and see what others who know the plugin better than I do also think about the best approach here too.

[2019-02-27 19:34] mjauvin commented on #450
I think it would be possible to duplicate the rules based on the defined locales and override the Validation Trait's getValidationAttributes() method to return the full list of localized attributes as follow:

[code]

This can be done in your Model or in TranslatableModel, I guess.
Does that make sense?

[2019-02-27 19:37] mjauvin commented on #450
We still need to fetch the translated data somehow, though...

[2019-02-27 19:40] mjauvin commented on #450
Maybe like this:

[code]

[2019-02-27 20:16] osmanzeki commented on #450
Yes indeed, the actual fetching of the data is problematic. If there is a way of running this code without it knowing that it is operating on a translated model, it would be better. That way it hooks into the other systems without breaking anything or introducing potential bugs in my opinion.

For example, I believe this works:

[code]

Meaning that if we can inject the right model in a higher lev

[2019-02-27 20:25] osmanzeki commented on #450
My bad. I can confirm that this does not work. The attributes array stays the same no matter what language you're in (regardless of `translateContext`).

[2019-02-27 20:40] LukeTowers commented on #209
@jimcottrell @mariavilaro @munxar @osmanzeki @datune @tobias-kuendig is there an official recommended fix that we can merge in here? I keep seeing updates on this PR but I don't have time to dig into it myself. If someone can submit a PR that clearly describes the issue and explains how the changes resolve the issue without breaking anything else I'd be more than happy to merge the fix in.

[2019-02-27 20:57] osmanzeki commented on #450
@mjauvin Just tried a PoC of your code, it does not seem to work because the validate function is using the rules it is passed from the outside and not the `$this->rules` array from the `$model`. I will try to see if there is another way.

This is the code I used for my PoC on your idea :

[code]

[2019-02-27 21:02] osmanzeki commented on #450
Actually, we were creating the rules too late for it to work. Your idea might still work:

[code]

[2019-02-27 21:09] mjauvin commented on #450
Right. Try creating a rule manually for the translated field(s) in the Model constructor to see if the rest works... we can always insert the rules earlier in a seperate function / event handler.

[2019-02-27 21:09] osmanzeki commented on #450
Sadly, having rules with a language prefix does not work as October actually tries to use those in the database later on in the process. We need to be able to use the translated model as if it was the original model ideally.

<img width="531" alt="screen shot 2019-02-27 at 4 04 57 pm" src="https://user-images.githubusercontent.com/960438/53523161-143e7680-3aaa-11e9-908e-9af71bde2bc8.png">

[2019-02-27 21:12] mjauvin commented on #450
Can you show the code that leads to this error?

[2019-02-27 21:21] osmanzeki commented on #450
Here it is:
https://gist.github.com/osmanzeki/a929f6f9483ad4f130a1b66cafcc1b19

My changes were made at the following lines:

**Replaced the `getValidationAttributes` implementation with yours (a slight variation of):**
https://gist.github.com/osmanzeki/a929f6f9483ad4f130a1b66cafcc1b19#file-validation-php-L119

**Moved the `getValidationAttributes` a little higher in the `validate` method**

To ma

[2019-02-27 21:29] mjauvin commented on #450
Nice work!
Then it really is not going to work this way, unfortunately...

[2019-02-28 06:15] GinoPane commented on #450
Cmon guys, I've already told that several messages above (and 4 lines PoC there can be used too: https://github.com/rainlab/translate-plugin/issues/450#issuecomment-467966882) - all you need to do is to unset artificial attributes after the validation (in `afterValidate` callback for example), it will prevent them from going into DB.

Also do not forget about "unique" rule which won't work for use

[2019-02-28 11:13] rejuvenatedigital commented on #448
@mjauvin just given this a try by renaming the field to **information** but the problem still occurs

[2019-02-28 15:52] osmanzeki commented on #450
Indeed the unique rule is problematic. If there was a way to do all of this in the RainLab.Translate plugin it would be better indeed. Invisible to the core.

I keep thinking that if the RainLab.Translate could give us a mock instance of a translated model with its `attributes` and rules in the translated language every else would work and every other possible bug like this one could be covered. T

[2019-02-28 15:56] osmanzeki commented on #450
In Voyager (another Laravel-based CMS), there is an option to create a "translated" model instance that can be used like the regular model. Perhaps that could be an inspiration. That way all rules and attributes are always usable "normally" no special exceptions for the translated versions of a model.

See here for reference :
https://docs.laravelvoyager.com/core-concepts/multilanguage#translate-t

[2019-02-28 16:02] mjauvin commented on #450
@osmanzeki isn't it what "$this->model" gives us in classes/TranslatableBehavior.php ?

[2019-02-28 16:10] osmanzeki commented on #450
@mjauvin No it seems like the TranslatableBehavior class is storing any translatable attribute in its own variables and just keep a reference to the original model, untouched.

https://github.com/rainlab/translate-plugin/blob/master/classes/TranslatableBehavior.php#L39

Then another class extends this class and implements abstract methods used for "how" or "where" the data is actually loaded (in t

[2019-02-28 16:29] mjauvin commented on #450
Oh, I see what you mean now... right.

On Thu, Feb 28, 2019 at 11:10 AM Osman Zeki <notifications@github.com>
wrote:

--
Marc

[2019-03-02 11:04] zlobec opened #451 "Locale picker to redirect on custom link"
I need to have different CMS pages (layout, grid, etc) for each language variation. The default onSwitchLocale keeps the page on the same page. I need it to switch the locale and to a different url and CMS page.

I added the href second post value to the HTML:
[code]
And changed the onSwitchLocale to include the $href parameter:
[code]
Is this a correct way to do that? Or is there a simpler way to

[2019-03-05 16:20] NicolasGiuristante commented on #407
I do not have the necessary skills to implement such a feature unfortunately.

Feel free to close this issue or let it open for anyone who would be able/willing to do it.

Sorry for the (very) late reply.

[2019-03-06 04:20] LukeTowers commented on #407
Anyone can do anything so long as they have the time to learn :) I'll leave it open for another month for now.

[2019-03-10 21:10] mplodowski commented on #209
Does anyone have solution to `morphOne` relation?

[2019-03-11 08:07] w20k commented on #209
@mplodowski you could try Forum/Slack/Stackoverflow might find someone who already did it.

[2019-03-14 02:27] LukeTowers commented on #209
@mplodowski @jimcottrell @mariavilaro @munxar @osmanzeki @datune @tobias-kuendig could you guys test https://github.com/octobercms/october/pull/4193 to check if it fixes the original issue and doesn't break anything else? I'm partial to that solution if it works because it seems significantly simpler.

[2019-03-14 02:40] mjauvin commented on #209
My usage of models with relations so far does not indicate any issues, but
this is not thorough testing.

On Wed, Mar 13, 2019 at 10:27 PM Luke Towers <notifications@github.com>
wrote:

--
Marc Jauvin
Register4less, Inc.
514-905-6500 x403

[2019-03-14 02:43] LukeTowers commented on #209
@mjauvin did the PR work for you then?

[2019-03-14 02:48] mjauvin commented on #209
Yes, beautifully, much more elegant than what I did! :)

On Wed, Mar 13, 2019 at 10:43 PM Luke Towers <notifications@github.com>
wrote:

--
Marc

[2019-03-14 08:22] andy-laravel commented on #448
Just to clarify, this issue is still unfixed. Here's some screenshots of the issue:

Adding a new image with alt tag text with quotes:
![Screenshot 2019-03-14 at 08 16 59](https://user-images.githubusercontent.com/24649882/54341583-0fdd9600-4632-11e9-8876-6ce2e3c57d57.png)

Save entry.

Checking the DB JSON entry:
![Screenshot 2019-03-14 at 08 17 31](https://user-images.githubusercontent.com/24649

[2019-03-14 17:43] LukeTowers commented on #448
@mjauvin could you try to reproduce it?

[2019-03-14 17:43] LukeTowers commented on #209
Could you comment on the PR?

[2019-03-14 22:01] mjauvin commented on #448
I was able to reproduce this.

When doing the same for the DEFAULT locale, the quoted part gets removed when saving and reopening... so someone at some point added code to remove characters that were creating problems somehow... and this has not been done for the translated fields.

[2019-03-16 04:34] LukeTowers commented on #209
Fixed by https://github.com/octobercms/october/commit/13d710b161bdf65a19f38f974c259bc4997a162c

[2019-03-16 04:34] LukeTowers commented on #242
Fixed by https://github.com/octobercms/october/commit/13d710b161bdf65a19f38f974c259bc4997a162c

[2019-03-16 04:34] LukeTowers commented on #330
Fixed by https://github.com/octobercms/october/commit/13d710b161bdf65a19f38f974c259bc4997a162c

[2019-03-16 04:34] LukeTowers commented on #380
Fixed by https://github.com/octobercms/october/commit/13d710b161bdf65a19f38f974c259bc4997a162c

[2019-03-16 19:23] mariavilaro commented on #209
I've been able to test it right now and it works wonderfully, very nice!

[2019-03-20 17:02] hirisov opened #455 "Translation memory support? (XLIFF, PO)"
Hello,

we have a project where the client want to use an external tranlation service to handle the translations. These services typically uses XLIFF or PO formats. Are there any plans to improve the Translate plugin to support import/export from/to these formats? Ideally they would want to handle all the translations (so model, template string,s and static pages content) with such systems. I thin

[2019-03-22 07:07] hirisov opened #456 "How to translate 404 page?"
I created a pages/404.htm which appears when from a plugin component i return 404 like:

              $this->setStatusCode(404);
              return $this->controller->run('404');

this is the preferred method AFAIK.

My site uses multiple languages, so i thought if i create a

pages/404.hu.htm

then this should appear when i try a non existing URL with "hu" locale, like

/hu/my-component-page/n

[2019-03-26 17:55] mjauvin commented on #449
@LukeTowers this can be closed as invalid (core is not up2date)

[2019-03-26 18:06] mjauvin commented on #445
This can be closed as invalid as well.

[2019-03-26 19:10] #445 closed

[2019-03-26 19:10] #449 closed

[2019-03-26 19:47] mjauvin commented on #429
@munxar and @w20k what is the best way to "overwrite" the input.preset.js code in your opinion?

[2019-03-27 08:44] munxar commented on #429
@mjauvin if I'm not mistaken, the backend ui including the input.preset.js code is loaded always before any plugins code. So if we inject a multilang version of the input.preset.js jQuery plugin inside of MLControl.loadLocaleAssets()
like this:
[code]
it should work. main problem is to reduce the code doublication. so I think a better way would be to extend the existing implementation with events

[2019-03-27 09:03] w20k commented on #429
@mjauvin I'd not say it should be `overwritten`, more likely just add a few lines of code, as I've already described above.
A single check for `data-lang-value|data-locale-value` attribute and if it's present use that input not all with `css selector` :). The simple fix as it could be.

[2019-03-27 21:44] andreacelery opened #457 "URL slug not getting translated"
Using my own custom model. My slug does not get translated on any of the pages.  The rest of the URL gets translated as normal, but the slug stays the default value.
My model (Post.php)  looks like this

    public $implement = ['RainLab.Translate.Behaviors.TranslatableModel'];

    public $translatable = ['title',
                            'content',
                            ['slug', 'index'

[2019-03-30 13:02] tobias-kuendig opened #459 "Repeater fields are wrongly displayed as translatable"
I have the following model:

[code]

with the following form:

[code]

Since the repeater field is called `name` and `name` is marked as `translatable` I end up with this:

![image](https://user-images.githubusercontent.com/8600029/55276429-e8eeb780-52f3-11e9-9d6a-4046e485fa54.png)

This isn't what I was expecting, since the repeater field is actually "called" `additional_properties.name`.

What m

[2019-03-30 13:55] w20k commented on #459
Yep, definitely a bug.

[2019-03-30 17:18] shakogele opened #460 "How can I add translatable fields in theme.yaml"
Hi! II have fields in theme.yaml however I want to make these fields translatable, I'm using Rainlab.Translate plugin in my project. Thanks

[2019-03-30 18:48] w20k commented on #460
Have you read docs? -> https://octobercms.com/plugin/rainlab-translate

[2019-03-30 18:51] w20k commented on #459
@tobias-kuendig could you test PR fix from @mjauvin ? Thanks!

[2019-03-30 18:53] shakogele commented on #460
Sure, and whats your point?

[2019-03-30 19:28] w20k commented on #460
https://github.com/rainlab/translate-plugin#message-translation
It's one option, second add as lang pack for your plugin (example: https://github.com/OFFLINE-GmbH/oc-mall-theme, https://github.com/OFFLINE-GmbH/oc-mall-plugin).

[2019-03-30 19:29] #460 closed

[2019-03-30 19:32] w20k commented on #460
Github issues really aren't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-03-30 19:33] shakogele commented on #460
I think you did not undestand my point. I have fields in theme.yaml like this:
my theme.yaml
`
name: Blank
description: ''
author: ''
homepage: ''
code: ''
form: config/fields.yaml
`
and my config.yaml
`
tabs:
    fields:
        sitename:
            label: Название сайта
            type: text
            span: left
            default: Urbanic AlkoShop
            tab: Основные настройки

[2019-03-30 19:35] shakogele commented on #460
I already submitted my question there and did not got answer

[2019-03-30 19:42] w20k commented on #460
Directly in theme, I've already posted a single solution. if you have a plugin for a theme - different story.

Add lang dir and use it as a key in your config.yaml example:
https://github.com/OFFLINE-GmbH/oc-mall-plugin/blob/develop/lang/ru/frontend.php#L23
[code]
If you have only theme and want to translate within it:

[code]
Should be the keys to use:  `site.name`, if I'm not mistaken.

[2019-03-30 19:56] w20k commented on #460
Like this: https://github.com/lovata/oc-bootstrap-shopaholic-theme/blob/master/config/fields.yaml

[2019-04-01 08:21] tobias-kuendig commented on #459
This removes the language toggle from the input fields but it looks like it prevents the values from being persisted to the database completely.

After reloading the form the input fields of the repeater are empty.

[2019-04-01 08:40] w20k commented on #459
@tobias-kuendig thank you for your input, will ping @mjauvin on this one ;)

[2019-04-01 09:01] moxetiale opened #462 "Do not display not translated records"
Hi. For example if i fill data in English language and not fill in Russian language when i switch locale to Russian records appear in English locale. I dont want to display english records in russian locale

[2019-04-01 09:28] LukeTowers commented on #459
@tobias-kuendig are you sure that's caused by this? Could be the issues with build 450.

[2019-04-01 09:39] tobias-kuendig commented on #459
The PR contains only one additional condition for the if statement. If I add it the values are no longer saved.

Could it be that the frontend now uses the default repeater inputs (not the translate ones) but the logic to store the values still wants to take the data from the `RLTranslate` post value?

[2019-04-01 13:40] mjauvin commented on #459
@tobias-kuendig I tried saving a repeater field with this PR applied and its values get saved as it should, even if the field is not marked as translatable

[2019-04-01 13:49] w20k commented on #459
Maybe that's the issue with the latest build and MLRepeater, still haven't tested it, yet.
https://github.com/octobercms/library/commit/fd839047c2d7757f225a8ed60673ca8a20fe7df4#commitcomment-32985893

[2019-04-01 13:52] mjauvin commented on #459
I AM using the latest build (450)

On Mon, Apr 1, 2019 at 9:49 AM Denis Denisov <notifications@github.com>
wrote:

--
Marc

[2019-04-01 14:40] tobias-kuendig commented on #459
![repeater](https://user-images.githubusercontent.com/8600029/55336193-d368c180-549c-11e9-998e-485b01faf36a.gif)

Demo plugin:

https://github.com/tobias-kuendig/translatable-repeater-test

[code]

[2019-04-01 19:03] LukeTowers commented on #459
@tobias-kuendig @mjauvin if one of you can make a PR from the discussion in https://github.com/octobercms/library/commit/fd839047c2d7757f225a8ed60673ca8a20fe7df4#commitcomment-32985893 we can get that fix tested and merged in.

[2019-04-01 20:33] mjauvin commented on #459
@LukeTowers are you suggesting changing references to $_POST in MLRepeater for the equivalent using Laravel's Request object ?

[2019-04-01 20:37] mjauvin commented on #459
Even when disabling the Rainlab.Translate, I get problem saving repeater fields now...

[2019-04-01 23:35] LukeTowers commented on #459
@mjauvin fix has been merged in

[2019-04-03 07:37] tobias-kuendig commented on #459
![repeater](https://user-images.githubusercontent.com/8600029/55461076-db874500-55f3-11e9-9dd3-bd986aea2690.gif)

[code]

RainLab.Translate is 1.5.0

Should this problem be fixed in these releases?

[2019-04-03 12:16] mjauvin commented on #459
it's working fine with PR #461 applied

[2019-04-03 12:24] tobias-kuendig commented on #459
:man_facepalming: Once #461 is merged this issue is resolved :+1:

[2019-04-03 12:49] #459 closed

[2019-04-03 20:47] Zmove opened #464 "No prefix for default language, but prefix for others"
Hello,

This may be a noob question, but I looked at the documentation and issue queue without finding the answer.

I'm trying to do that :

- for default language, the website url should not be prefixed (www.website.com)
- for other languages, I want to add a prefix (www.website.com/fr, www.website.com/de, etc...)

The default component provide me 2 options, but none of them do what I want :
- If

[2019-04-03 20:53] w20k commented on #464
@Zmove do you have default language set in config?

[2019-04-04 11:36] Zmove commented on #464
@w20k  You mean in Settings > Manage language ? : Yes

[2019-04-04 11:50] mjauvin commented on #464
no, plugins/rainlab/translate/config/

[2019-04-04 11:53] mjauvin commented on #464
'prefixDefaultLocale' => true

[2019-04-04 11:54] mjauvin commented on #464
if you set it to false, it'll do what you want

[2019-04-04 11:55] mjauvin commented on #464
but don't set it under the plugin, set it under your app's config directory with the path "rainlab/translate/config/config.php" (copy the original file there)

[2019-04-04 17:06] Zmove commented on #464
Hi, thank you for your answer.

I changed the option in /plugins/rainlab/translate/config/config.php and it does exactly what I need.

But I don't understand what do you mean with your latest comment. I tried to copy the /plugin/rainlab/translate/config/config.php to my config directory (so it gives /config/rainlab/translate/config/config.php), but it doesn't seems to be red.

[2019-04-04 17:08] #464 closed

[2019-04-04 17:17] mjauvin commented on #464
My bad, the actual path should be:

`/plugin/rainlab/translate/config.php`

I had an extraneous "/config/" part

[2019-04-04 20:54] LukeTowers commented on #464
@mjauvin I think that path is still wrong, shouldn't it be `~/config/rainlab/translate/config.php`?

[2019-04-04 23:01] mortezaa opened #465 "Page per Language"
Is there any way to create a custom page per language??
for example one fa/blog page for Persian Language and one en/blog page for English with different views

[2019-04-04 23:36] mjauvin commented on #465
Please check the "Content translation" section of the Plugin's
Documentation.

On Thu, Apr 4, 2019 at 7:01 PM mortezaa <notifications@github.com> wrote:

--
Marc Jauvin
Register4less, Inc.
514-905-6500 x403

[2019-04-05 00:04] mortezaa commented on #465
Hey  Thank you for your reply
I check it out before but the content section is only for static and we can't use variables, components and etc in it...so what should I do?

[2019-04-05 02:31] mjauvin commented on #465
Are you sure? You really cannot use Twig and page variables in it?

On Thu, Apr 4, 2019 at 8:04 PM mortezaa <notifications@github.com> wrote:

--
Marc

[2019-04-05 06:34] Zmove commented on #464
Yep, I firstly made the mistake, then I saw the [october CMS doc about overriding config](https://octobercms.com/docs/plugin/settings#file-configuration), and it was ok :)

[2019-04-05 10:30] mortezaa commented on #465
based on October cms documentation

I try to use components in content blocks but it didn't work for me:(

[2019-04-05 14:59] mjauvin commented on #465
Are you using this for Rainlab.Pages (Static pages) or for CMS Pages ?

On Fri, Apr 5, 2019 at 6:30 AM mortezaa <notifications@github.com> wrote:

--
Marc

[2019-04-05 15:42] mortezaa commented on #465
No i didn't use that plugin .Is it the solution?

[2019-04-05 15:49] mjauvin commented on #465
No, was just getting more info.

How did you setup your Content files in the different languages when you
tested this?

On Fri, Apr 5, 2019 at 11:42 AM mortezaa <notifications@github.com> wrote:

--
Marc

[2019-04-05 18:21] mortezaa commented on #465
Based on the video tutorial in plugin page on October cms site I make separate files for each language and its worked for only static content but when I include components and try to use variables it didn't work.

[2019-04-06 04:58] mjauvin commented on #465
You're right, this is only for content blocks so only variables passed to
the content block or global shared variables can be used (as explained in
https://octobercms.com/docs/cms/content)

On Fri, Apr 5, 2019 at 2:21 PM mortezaa <notifications@github.com> wrote:

--
Marc

[2019-04-06 05:29] LukeTowers commented on #373
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-06 05:29] #373 closed

[2019-04-06 05:40] LukeTowers commented on #307
Can everyone please test with a fresh install and octobercms/october#4234 and #466 applied?

[2019-04-06 05:43] LukeTowers commented on #290
This needs to be re-evaluated in lite of octobercms/october#4234 and #466

[2019-04-09 17:54] pavsid opened #468 "AlternateHrefLangElements and LocalePicker components don't support Rainlab/Blog posts"
There are various issues mentioning this but doesn't look like any fixes have been implemented.

The `AlternateHrefLangElements` and `LocalePicker` components seem to support Static Pages and CMS Pages, but not Blog Posts.

There must be a better way to detect a Blog Post on the current page, but this code seems to fix the issue in `AlternateHrefLangElements`...

    // rainlab/translate/component

[2019-04-17 23:22] LukeTowers commented on #307
Closing as the above PRs have been merged, will reopen if anyone still has a problem after applying those fixes.

[2019-04-17 23:22] #307 closed

[2019-04-17 23:22] LukeTowers commented on #290
Closing as the above PRs have been merged, will reopen if anyone still has a problem after applying those fixes.

[2019-04-17 23:22] #290 closed

[2019-04-22 13:37] iboved commented on #359
@hirisov In order to avoid an infinite loop, you can use `$myModel->syncTranslatableAttributes()` instead of `$myModel->save()`.

[2019-04-22 17:11] iboved opened #473 "How to access $translatableOriginals property?"
How can I access [$translatableOriginals](https://github.com/rainlab/translate-plugin/blob/master/classes/TranslatableBehavior.php#L44) property?
This property contains the data I need. I need access to old translatable data in model's `beforeUpdate` event method. But since this property is protected, it is impossible to access this data. How to get around this? Why is there no access method for t

[2019-04-22 17:37] mjauvin commented on #473
Can you use the getTranslateDirty() method? If not, what exactly are you
trying to achieve?

On Mon, Apr 22, 2019 at 1:11 PM Volodymyr Gavrylov <notifications@github.com>
wrote:

--
Marc Jauvin
Register4less, Inc.
514-905-6500 x403

[2019-04-22 18:10] iboved commented on #473
@mjauvin the `getTranslateDirty()` method returns changed attributes with new values. But I need old values, stored in `$translatableOriginals` property.
What am I trying to achieve? Some fields are "disabled: true" for some users. If these users save the form with disabled fields, the data from these fields (including translations) will be lost. I added `beforeUpdate()` method to my model and re-

[2019-04-22 18:56] mjauvin commented on #473
Ok, Iet me look into adding a public getter method for this.

On Mon, Apr 22, 2019 at 2:10 PM Volodymyr Gavrylov <notifications@github.com>
wrote:

--
Marc

[2019-04-22 19:29] mjauvin commented on #473
Check this PR and let me know if this resolves your problem. Please comment in the PR from now on.

[2019-04-23 04:31] LukeTowers commented on #473
Implemented in https://github.com/rainlab/translate-plugin/commit/fc22d6fc20f0352bc3c5b225ba19a30aee9c0943

[2019-04-23 04:31] #473 closed

[2019-04-23 07:24] iboved commented on #473
@mjauvin thanks for your work. You helped me a lot! :)

[2019-04-23 14:08] #113 closed

[2019-04-23 14:09] LukeTowers commented on #113
This has been implemented in #470

[2019-04-25 07:37] RonMen opened #475 "Translation not saved for related model on create/update"
Hi there,

we tried to get it working for related models, also reviewed #209 to get it working using ```afterSave``` method, but it isn't working for now. We referenced the related model in ```$translatable``` of the main model, got the translation selection for the input field but then got an error like shown here:
![image](https://user-images.githubusercontent.com/2003172/56717865-e68a4c80-673d-

[2019-04-25 10:27] mjauvin commented on #475
you're saying: "We also added the $translatable in the related model" but did you implement TranslatableModel  as well in that related model?

[2019-04-25 13:44] RonMen commented on #475
Yes, we have the TranslatableModel in the related model. We discussed within the OctoberCms-Slack channel and @alxy told us to use the RelationController behavior and not the related[field] syntax. It seems then to be fixed in octobercms/backend source, isn't it?

[2019-04-25 14:16] slowpokefarm commented on #475
I also still can't translate fields of related models, despite the #209 is closed with solution. I have update october to 452, and translate plugin to 1.5.0, but no luck.

I'm editing related models via relation controller, a belongsToMany relation with pivot data. no pivot data nor related model data are saving translated info from forms on update.

[2019-04-25 14:21] alxy commented on #475
Pivot data may be a different story (and actually complex to realize, however itnerestingly related to this issue), but regular related data should be translatable.

[2019-04-25 14:28] slowpokefarm commented on #475
@alxy yes, I expected at least the data of related model to receive translation, however nothing was added to rainlab_translate_attributes table. Also I added an incremental id to pivot model to be able to have translation saved for it.

I also receive a proper RLTranslate which contains translation for pivot data separately. But nothing is saved.

[2019-04-25 14:30] alxy commented on #475
Please first try with a very minimal example, with no pivot fields in the form and a very basic setup. We tested this on some test plugins and it was working.

[2019-04-25 14:38] slowpokefarm commented on #475
@alxy  ok, it works only if no pivot form is present at all. Regardless of is it a pivot field or original field, any pivot form prevents translation from saving.

[2019-04-25 14:44] slowpokefarm commented on #475
Which makes me think some changes to `onRelationManagePivotUpdate` are required to get the whole controller behavior working as expected, with model taken from pivotWidget

[2019-04-25 14:59] RonMen commented on #475
Hi @alxy. Any test plugin out there to work with and understand how to do the translation stuff?

[2019-04-25 15:00] slowpokefarm commented on #475
ok, I have changed the method to this:
[code]

this allowed me to save translation for related model in pivot form.

However when I added translatable pivot data back, I got the same error as the OP:
`Call to a member function hasRelation() on array in /modules/backend/traits/FormModelSaver.php:70`

[2019-04-25 15:33] slowpokefarm commented on #475
I found out that this Exception is caused by the fact that model from pivotWidget contains an array attribute `pivot` and a related model `pivot`. While originally used hydrated model only has the relation. Attribute is prioritized therefore FormModelSaver tries to call hasRelation() on this array attribute instead of relation.

This can be fixed either by unsetting the array attribute or checking

[2019-04-25 16:53] slowpokefarm commented on #475
Ok, one more annoying comment on the issue. `pivot` array attribute only exists on model if it implements translatable. So I think behavior mistakenly treats pivot data as an attribute instead of a relation. I have searched through Translatable behavior but didn't find any clues on this. If this could be fixed then everything should work without modifying FormModelSaver trait and without unnecessa

[2019-04-25 17:17] mjauvin commented on #475
@slowpokefarm nice find, we will definitely look into this.

Can you try Implementing the Purgeable Behavior in your related model and add the "pivot" into the $purgeable[] array to see if that would fix the issue?

(i.e. `October\Rain\Database\Behaviors\Purgeable`)

[2019-04-25 20:04] mjauvin commented on #475
@slowpokefarm can you show your Model code with the TranslatableModel extension, translatable array, etc.? The more data the better.

[2019-04-26 03:49] #465 closed

[2019-04-26 03:53] mjauvin commented on #462
Please see this section of the README file:

file:///android_asset/md/#fallback-attribute-values

[2019-04-26 03:58] mjauvin commented on #457
Did you check this section of the documentation?

file:///android_asset/md/#indexed-attributes

[2019-04-26 04:02] mjauvin commented on #456
Maybe you could pass the current locale to your controller using the LocaleSwitcher component from Rainlab Translate?

[2019-04-26 06:07] LukeTowers commented on #456
I would recommend just using the Message translation feature instead of completely separate files, that would be the simplest approach. https://github.com/rainlab/translate-plugin#message-translation

[2019-04-26 06:07] #456 closed

[2019-04-26 06:38] slowpokefarm commented on #475
Purgeable attribute helped to get rid of changes in FormModelSaver, changes in RelationController are still required. However, the array attribute is still present in related model before it is saved and that causes other issues, for example no data for pivot fields is sent to filterFields() and dynamic pivot forms stopped working because of that.

Sadly I can't since this code is under NDA but I

[2019-04-26 08:14] alxy commented on #475
@slowpokefarm Yeah, it would be really nice if you could provide a test case, you may use the [test plugin](https://github.com/octoberrain/test-plugin/blob/master/models/userrolepivot/fields.yaml). It already contains some pivot fields and a [pivot model](https://github.com/octoberrain/test-plugin/blob/master/models/UserRolePivot.php). You would just need to implement the translatable behavior and

[2019-04-26 08:50] slowpokefarm commented on #475
@alxy ok I will.

As for now I found out that pivot array is written to attributes by any MLControl field widgets with setAttributeTranslated method. So basically, any translated field with `pivot[xxx]` index in pivot form will write this breaking pivot array attribute. I think a little revision of the method will help to solve the issue and make pivot data finally translatable as well as related

[2019-04-26 12:04] mjauvin commented on #475
Thanks a lot for your help on this, MUCH appreciated!

On Fri, Apr 26, 2019 at 4:50 AM Stanislav Slow <notifications@github.com>
wrote:

--
Marc

[2019-04-26 13:53] slowpokefarm commented on #475
@mjauvin
https://github.com/rainlab/translate-plugin/blob/bf49bb9dd9eff83623dba34a71f4731a1eea1f6a/classes/TranslatableBehavior.php#L224
this is where models' attributes are directly affected. Maybe it's possible to check if it's a relation/pivot, before writing attributes. I just can't figure out the proper way to do it.

[2019-04-26 14:07] mjauvin commented on #475
I can take a look, but a test plugin would really help me do this...

On Fri, Apr 26, 2019 at 9:53 AM Stanislav Slow <notifications@github.com>
wrote:

--
Marc

[2019-04-26 14:24] andreacelery commented on #457
Thank you for your reply. The translation works if I have one parameter in the url for example tnl/:countryslug. But if I have more than one, none of them would get translated (tnl/:country/:lawslug for example). Any ideas on how to fix that?

[2019-04-26 15:05] slowpokefarm commented on #475
@mjauvin
https://github.com/slowpokefarm/test-plugin
Ok i made a test plugin. Once I did that I realized that translatable is actually saving pivot attribute for a wrong model, I just never checked that in database. Therefore a change in setAttributeTranslated is required to redirect translated attribute casting from related model to its pivot.  Needs to be recursive just as in FormModelSaver trai

[2019-04-26 15:08] slowpokefarm commented on #475
Also please note that it does not contain changes for RelationController:
[code]

[2019-04-27 11:59] AdrienAdB commented on #376
Hi, working on same feature. Did anyone find a solution? @raquelegluu ?

[2019-04-29 13:59] mjauvin commented on #457
Ok, did you confirm your translateParams() method gets called?

[2019-04-29 14:30] mjauvin commented on #457
I tested this using a very simple event handler (as shown below) and it works as expected:
[code]
So there must be something wrong in your translateParams() method.

[2019-04-30 11:00] Samuell1 opened #476 "Option to disable prefixed routes"
Option to disable routing in routes.php (https://github.com/rainlab/translate-plugin/blob/master/routes.php#L9) to prevent duplicate URLs for SEO if is used custom plugin to set language or language is set depending on browser.

[2019-04-30 15:21] LukeTowers commented on #476
_No response provided_

[2019-05-01 13:33] mjauvin commented on #462
No answer for a month, and this is normal documented behavior.

[2019-05-01 13:33] #462 closed

[2019-05-01 13:34] mjauvin commented on #457
@andreacelery can you run more checks on this, otherwise I will close the issue since I cannot reproduce.

[2019-05-01 13:41] mjauvin commented on #451
@zlobec did you try this?

https://github.com/rainlab/translate-plugin#url-translation

[2019-05-01 13:44] mjauvin commented on #455
There is no current plan I am aware of. Please, do submit a PR if you have such a solution, it would be a welcome addition.

[2019-05-01 15:44] zlobec commented on #451
@mjauvin URL translation does not come in hand,  because the translated page in the second language is not the same CMS page, but different.... example the english page is located at en/page1 and german page located at de/index...

[2019-05-01 15:51] mjauvin commented on #451
Ok, this is quite unusual as you usually want the same content but translate the relevant parts... otherwise you maintain many more files for what should essentially be the same page.

I guess the way you were doing it would be fine in this context.

[2019-05-01 16:04] zlobec commented on #451
The idea is not to have identical content, some different components on each language page. Thanks Marc!

[2019-05-01 17:52] #451 closed

[2019-05-03 07:27] tom-schmitz opened #477 "Redirect after translate"
Hi,

I was wondering if it's possible to redirect to a specific page after changing the local
in the dropdown menu?

**Example:**
From the contactpage redirect to the homepage after changing language.

Thanks for your time

[2019-05-03 12:21] mjauvin commented on #477
You could add an ajax event handler on *ajaxDone *to do this (please see
https://octobercms.com/docs/ajax/javascript-api#global-events)

--
Marc

On Fri, May 3, 2019, 03:27 Tom Schmitz <notifications@github.com> wrote:

[2019-05-03 13:06] andreacelery commented on #457
Thank you for your reply, it helped me fix it.

I found what caused my problem. The url field names didn't match the fields in my database. For instance I would have :country/:law where in the database these are both slugs in different tables.

[2019-05-03 13:06] #457 closed

[2019-05-04 17:46] mjauvin commented on #477
This is not something that is required as part of this plugin, but can easily be added seperately.

[2019-05-04 17:46] #477 closed

[2019-05-04 19:31] mjauvin commented on #468
I confirm this.
The staticPage component from Rainlab.Pages plugin injects itself into the page's apiBag and can then be accessed from within the onSwitchLocale AJAX handler.
This is different for the Rainlab.Blog plugin somehow.

[2019-05-04 20:00] mjauvin commented on #468
You can probably use the following, but this has not been tested:

        else if ($page->hasComponent('blogPost')) {
            $component = $page->getComponent('blogPost');
             ...

[2019-05-04 20:10] mjauvin commented on #429
This was fixed by the following PRs:

https://github.com/octobercms/october/pull/4217
https://github.com/rainlab/translate-plugin/pull/458

[2019-05-04 20:10] #429 closed

[2019-05-04 20:14] mjauvin commented on #405
@munxar will be closing this, it has been stale for too long.

[2019-05-04 20:14] #405 closed

[2019-05-04 20:16] mjauvin commented on #377
No response. Closing this.

[2019-05-04 20:16] #377 closed

[2019-05-04 20:25] mjauvin commented on #355
stale

[2019-05-04 20:25] #355 closed

[2019-05-04 20:48] mjauvin commented on #443
fixed by https://github.com/rainlab/translate-plugin/pull/470

[2019-05-04 20:48] #443 closed

[2019-05-04 20:49] mjauvin commented on #359
closing this, please re-open if this has not been resolved.

[2019-05-04 20:49] #359 closed

[2019-05-05 05:55] LukeTowers commented on #355
@mjauvin use https://github.com/octoberrain/meta/blob/master/github/saved-replies/abandoned.md and tag abandoned for stale issues please. I'm also looking into setting up StaleBot for OctoberCMS and RainLab.

[2019-05-05 05:55] LukeTowers commented on #355
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 05:55] LukeTowers commented on #377
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 05:56] LukeTowers commented on #405
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 06:23] mjauvin commented on #138
Fixed by https://github.com/rainlab/translate-plugin/pull/367

[2019-05-05 06:23] #138 closed

[2019-05-05 06:42] mjauvin commented on #468
Duplicate of https://github.com/rainlab/translate-plugin/issues/167

[2019-05-05 06:42] #468 closed

[2019-05-05 06:49] mjauvin commented on #192
@LukeTowers @munxar shouldn't that be closed? As far as I know, this is already implemented.

[2019-05-05 06:51] mjauvin commented on #395
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 06:51] #395 closed

[2019-05-05 07:12] mjauvin commented on #227
This has been fixed by #341

[2019-05-05 07:12] #227 closed

[2019-05-05 11:44] bennothommo commented on #328
@munxar @anastasiauz @ranmichael Could you test [PR #436](https://github.com/rainlab/blog-plugin/pull/436) in the Blog plugin and confirm that it works with the locale switcher?

[2019-05-05 15:03] mjauvin commented on #192
Closing this as it has been resolved by #325

[2019-05-05 15:03] #192 closed

[2019-05-05 16:00] mjauvin commented on #333
Just tested this with latest develop (v1.0.454) and this is still happening.

[2019-05-05 16:12] mjauvin commented on #298
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 16:12] #298 closed

[2019-05-05 16:14] mjauvin commented on #348
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 16:14] #348 closed

[2019-05-05 16:41] mjauvin commented on #327
Resolved by https://github.com/rainlab/translate-plugin/pull/458

[2019-05-05 16:41] #327 closed

[2019-05-05 16:42] mjauvin commented on #292
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-05 16:42] #292 closed

[2019-05-06 01:08] mjauvin commented on #420
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-06 01:08] #420 closed

[2019-05-06 01:11] mjauvin commented on #455
I wonder if this could be used along with Message Import/Export:

https://www.npmjs.com/package/po-csv

[2019-05-06 01:21] mjauvin commented on #418
resolved by #433

[2019-05-06 01:21] #418 closed

[2019-05-06 05:01] w20k commented on #455
@mjauvin I think we'd have to add converter to importer/exporter routine ;)

[2019-05-07 03:39] #328 closed

[2019-05-07 17:26] mjauvin commented on #357
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-07 17:26] #357 closed

[2019-05-08 09:22] setianke opened #480 "CMS file translations always uses langugage suffix"
Using the content translation according to the documentaion for htm files like

- cms-page.htm
- cms-page.en.htm

always results in OctoberCMS rendering the "cms-page.en.htm" instead of the deafult "cms-page.htm" and ignores the the URL /en paramater.

I tried clearing cache and using the Local Picker with force URL structure without any success.

OctoberCMS: 447
Translate Plugin: 1.4.5

[2019-05-08 15:20] mjauvin commented on #480
What you refer to is for "content" pages... not CMS or Static pages. This is using the {% content "content-page-name" %} in twig.

[2019-05-09 13:39] #346 closed

[2019-05-10 13:09] setianke commented on #480
@mjauvin yes you are correct - using the {% content "content-page-name" %} works as aspected - partials are not supported the same way right? Thank you for your time and response.

[2019-05-10 13:17] mjauvin commented on #480
Right, partials are not supported for this.

[2019-05-10 13:17] #480 closed

[2019-05-10 19:24] mjauvin commented on #475
@alxy would you have time to look into changing plugins/rainlab/translate/classes/TranslatableBehaviod::setAttributeFromData() to replicate what modules/backend/traits/FormModelSaver::setModelAttributes() does with the nested/pivot fields?

Thanks.

[2019-05-10 19:55] mjauvin commented on #404
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-10 19:55] #404 closed

[2019-05-11 05:52] mjauvin commented on #424
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-11 05:52] #424 closed

[2019-05-11 05:53] mjauvin commented on #365
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-11 05:56] mjauvin commented on #376
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-11 06:16] mjauvin commented on #189
@mariavilaro am I right in saying this has been fixed by the "prefixDefaultLocale" setting in the plugin's config file (when setting prefixDefaultLocale=>false) ?

[2019-05-15 17:58] mjauvin commented on #308
Hello, first of all is the problem still occuring? It has been close to 2 years since you reported this...

If it is, can you provide a simpler example with more details on how to reproduce this?

[2019-05-15 18:02] mjauvin commented on #308
Looking at the builder plugin component code, it's using the "->where()" method using the slug... which would not return the proper value... should be "transWhere()"... so this is not a bug, you're just not using the Translate plugin properly (see https://github.com/rainlab/translate-plugin#indexed-attributes)

I'm closing this as invalid, please re-open if you think otherwise.

[2019-05-15 18:02] #308 closed

[2019-05-15 18:09] mjauvin commented on #399
@disvst I think what you are looking for is https://github.com/rainlab/translate-plugin#indexed-attributes

The BuilderDetails component uses the "->where()" method to search with the provided key, but in order to work with translation, it would need to use "->transWhere()".

Closing this now, if you need to re-open this, please do so providing new elements.

[2019-05-15 18:09] #399 closed

[2019-05-15 18:10] mjauvin commented on #399
duplicate of https://github.com/rainlab/translate-plugin/issues/308

[2019-05-15 18:17] mjauvin commented on #362
I think we should either just add a check on the uploaded size here, and send an error to the user if it exceeds current medium text capacity. What do you think @LukeTowers ?

[2019-05-15 18:23] mjauvin commented on #167
Would you all agree #341 resolves this?

Anyone who thinks not is welcome to re-open this issue.

[2019-05-15 18:23] #167 closed

[2019-05-16 14:00] mjauvin commented on #169
What do you guys think of the proposed fix above?

[2019-05-16 14:02] mjauvin commented on #189
Closing this now @mariavilaro, if you think this has not been resolved please re-open.

[2019-05-16 14:02] #189 closed

[2019-05-16 14:12] mjauvin commented on #191
@osmanzeki can you create a PR for this? In the mean time, I am closing this since there has been no activity for close to 6 months. Please re-open when a PR has been submitted.

[2019-05-16 14:12] #191 closed

[2019-05-16 14:14] mjauvin commented on #231
Maybe we could add a confirmation popup when changing the default locale, warning people about this?

[2019-05-18 20:28] patriknemecek opened #484 "Script tag in MLMarkdownEditor"
Hello,

I figured out, the editor allow script tag, which can be used for XSS in RainLab.Blog plugin, when you have more than one active language.

[2019-05-20 02:20] LukeTowers commented on #362
Ultimately the best solution would be to auto upload pasted images instead of inlining them; at least in my opinion. Any input @bennothommo?

[2019-05-20 02:36] bennothommo commented on #484
@patriknemecek Thanks for bringing this to our attention. While the scope of vulnerability is low, given that someone has to be signed in to the Backend in order to use the editor, we'll still need to disallow script tags in the widget.

[2019-05-20 02:42] bennothommo commented on #362
I agree with @LukeTowers.  It shouldn't be encoded in the content as that would result in easily breaching the size limit - it should instead be processed and uploaded using the normal file attachments means. Froala supports an [`imagePaste` and `imagePasteProcess` option](https://www.froala.com/wysiwyg-editor/docs/options#imagePaste) which might be worth looking into to allow handling of image up

[2019-05-21 04:31] tobias-kuendig opened #485 "attributesToArray does not work with translated jsonable attributes"
I've got a model:

[code]

When I do this...

[code]

... everything works as expected. When I run...

[code]

... i get:

[code]

It seems like the jsonable attributes are already turned into an array when loaded via the `trans` method. The subsequent call to `json_decode` in `Model.php` therefore fails.

https://github.com/octobercms/library/blob/master/src/Database/Model.php#L1115

[2019-05-21 12:59] Samuell1 commented on #476
@LukeTowers edited my response to explain it more.

[2019-05-21 13:10] LukeTowers commented on #476
I still don't understand the request. What is the option called? What is the effect of the option? Is this a feature request? Are you going to implement it or are you expecting other people to implement it for you?

[2019-05-21 17:47] Samuell1 commented on #476
Its mostly feature request but iam not sure where it should be implemented as option, when plugin is not using Settings model.

[2019-05-21 17:47] LukeTowers commented on #476
The plugin uses config values

[2019-05-21 18:17] mjauvin commented on #476
There is already prefixDefaultLocale config setting which would prevent the default locale to be inserted in front of the path.

[2019-05-21 20:19] Samuell1 commented on #476
@mjauvin yes but its about disabling links completely because they still works.

[2019-05-21 20:57] mjauvin commented on #476
@Samuell1 What links are you talking about? Can you give more details otherwise we keep going in circles...

[2019-05-22 06:11] Samuell1 commented on #476
@mjauvin This links that are generated https://github.com/rainlab/translate-plugin/blob/master/routes.php#L9

[2019-05-22 11:49] mjauvin commented on #476
Ok, I get what you mean now.

You want the locale based routes NOT to be created when you use Rainlab.Translate ALONG WITH a custom Plugin that handles switching the active Locale in a way other than using the locale prefix.

In my opinion, it would be the custom Plugin's task to disable those routes, no?

@LukeTowers can a plugin disable another plugin's routes somehow?

[2019-05-22 13:16] LukeTowers commented on #476
@mjauvin well there's the cms.beforeRoute event (https://github.com/octobercms/october/blob/master/modules/cms/routes.php#L10) where you could in theory listen to that event, detect any routes that you don't want to exist and call `abort(404)` from there. We could also just add a `disableRoutes`  config option to our config file (defaulting to false of course) and then people can do whatever they

[2019-05-22 14:04] mjauvin commented on #476
This code could be added to any plugin that wants to modify RT's basic routes:

[code]

@LukeTowers For some reason, calling abort(404) does not work.

[2019-05-22 14:05] LukeTowers commented on #476
@mjauvin are you on the latest? There were improvements made to the 404 handling recently, although that might have been only in the backend?

[2019-05-22 14:10] mjauvin commented on #476
I get this error when using abort(404):

![Screenshot from 2019-05-22 10-09-39](https://user-images.githubusercontent.com/2013630/58181423-c46ee600-7c79-11e9-9279-53a7d86a5c76.png)

[2019-05-22 14:14] mjauvin commented on #476
@LukeTowers
$ composer show october*
october/backend v1.0.455 Backend module for October CMS
october/cms     v1.0.455 CMS module for October CMS
october/rain    v1.0.455 October Rain Library
october/system  v1.0.455 System module for October CMS

[2019-05-22 15:36] Samuell1 commented on #476
@mjauvin i dont think is good idea to overwrite something if we can disable it because routes still will be generated and replaced.

It will be cool if we can somehow be able to see what routes are in application but `php artisan route:list` doesnt work :(

[2019-05-22 16:36] mjauvin commented on #476
@Samuell1 can you submit a PR for this?

[2019-05-22 19:57] mjauvin commented on #485
Hmm, this is caused by `loadTranslatableData()` in `behaviors/TranslatableModel.php`, It's decoding the values before returning it.

Try commenting out the json_decode() call in there just to see if that fixes the problem.

I'm sure this code is needed, so we'll need to investigate deeper.

[2019-05-22 20:15] mjauvin commented on #485
Maybe we should use a try/catch block in `library/src/Database/Model.php`, I am not sure how to prevent this double decoding.

[2019-05-23 05:51] tobias-kuendig commented on #485
This line seems to be the problem:
https://github.com/rainlab/translate-plugin/blob/master/classes/TranslatableBehavior.php#L165

Without it the `attributesToArray()` call works but obviously everything else is broken.

The simplest solution that comes to mind is to add a `is_array` check to the `attributesToArray` method:

[code]

[2019-05-23 11:23] mjauvin commented on #485
Yes, that would make the most sense.

Can you submit a PR for this @tobias-kuendig ?

[2019-05-24 06:15] LukeTowers commented on #485
@tobias-kuendig make it a `!is_string` check instead please

[2019-05-24 07:02] tobias-kuendig commented on #485
This fix is available in https://github.com/octobercms/library/pull/405

[2019-05-27 14:37] mjauvin commented on #262
@osmanzeki @mariavilaro @w20k @bennothommo @LukeTowers Anyone interested in seeing this implemented? The proposed change looks sound, I'd be willing to implement if there is interest.

[2019-05-28 04:44] bennothommo commented on #262
@mjauvin Is this for theme lang files? If so, it's a good idea.

[2019-05-28 07:17] w20k commented on #262
@mjauvin thumbs up if it's for the `Theme`!

[2019-05-30 12:50] #476 closed

[2019-05-31 03:42] mjauvin commented on #279
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-31 03:42] #279 closed

[2019-05-31 03:55] mjauvin commented on #285
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-31 03:55] #285 closed

[2019-05-31 04:07] mjauvin commented on #320
Resolved by https://github.com/octobercms/october/pull/3152

[2019-05-31 04:07] #320 closed

[2019-05-31 04:50] mjauvin commented on #352
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-05-31 04:50] #352 closed

[2019-05-31 04:59] #361 closed

[2019-05-31 15:27] #169 closed

[2019-06-01 04:39] mjauvin commented on #430
@rike-cz is this still a problem? #418 & #429 have both been resolved.

[2019-06-01 04:50] mjauvin commented on #423
ref. #231 for related issue

[2019-06-01 07:34] Rike-cz commented on #430
@mjauvin Yes, that issues are resolved, great!
My first question was: _Is fallback to default language in case when current language model does not exists intentional behavior?_ And answer is: **Yes, it is.** Because Pages plugin do the same when current language version was not created. So we can close that.

[2019-06-01 07:34] #430 closed

[2019-06-01 23:12] daftspunk commented on #484
Yes, please keep in mind that backend users are considered trusted, they do have the potential to include <script> tags and other things--for legitimate reasons. If you need to give access to untrusted users then you should build a front-end system that adequately controls the environment

[2019-06-01 23:12] #484 closed

[2019-06-02 04:34] mjauvin commented on #379
@antar74 your field would need to be added to the $translatable[] array in the model.

[2019-06-02 04:34] #379 closed

[2019-06-02 05:00] #400 closed

[2019-06-02 07:56] saitagency commented on #484
Of course they have rights to include <script> to frontend , but why original markdown editor don't exec script in backend and MLMarkdownEditor exec? This is in my opinion may be dangerous for create superuser with low-level permission admin.

[2019-06-02 09:21] patriknemecek commented on #484
Of course they have rights to include <script> to frontend, but why original markdown editor don't exec script in backend and MLMarkdownEditor exec? In my opinion this may be dangerous for create superuser with low-level permission admin. If backend users are trusted, why all the community patch security holes? A lost cause?

[2019-06-02 13:00] bennothommo commented on #484
@patriknemecek The original Markdown editor *does* execute script tags in the preview section, if a `<script>` tag is included. If people wish to use `<script>` or `<style>` in their Markdown content, they are free to do so at their own peril.

[2019-06-03 13:12] mjauvin commented on #239
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-06-03 13:12] #239 closed

[2019-06-07 06:00] bennothommo commented on #485
Fixed by https://github.com/octobercms/library/pull/405.

[2019-06-07 06:00] #485 closed

[2019-06-07 12:35] andreacelery opened #488 "Backend label change suggestion"
Wouldn't it make more sense to rename the "Clear Cache" label to "Save"? Since I feel like the end user doesn't need to know that the cache is getting cleared, all they care about is that this button saves the changes. It makes more sense to name it Save. I have changed it for my project but with any update I have to change it so its a bit frustrating.

[2019-06-07 12:36] LukeTowers commented on #488
@andreacelery as I mentioned in the other issue you submitted, you can use language overrides to persist your changes between updates: https://octobercms.com/docs/plugin/localization#overriding. Feel free to make any changes you want in a PR and we can discuss them there as this would be a relatively minor change.

[2019-06-07 12:36] #488 closed

[2019-06-10 08:18] mariavilaro commented on #239
Yes, I still think this would be a desirable feature. Right now if you need multilingual keywords, you need to use a normal string field with the instructions "separate the keywords with ,", it's not ideal IMO

[2019-06-10 10:51] al3xtig3r opened #489 "Translatable field inside Front-End theme settings form"
Is there a way to make a field inside the **theme-dir/config/form.yaml** file translatable?

[2019-06-10 11:27] mjauvin commented on #489
Yes, please see this forum thread:

https://octobercms.com/forum/post/localization-with-parameters-in-yaml

But it's not possible using Rainlab.Translate plugin.

--
Marc

On Mon, Jun 10, 2019, 06:51 Al3x Tig3r <notifications@github.com> wrote:

[2019-06-10 11:41] al3xtig3r commented on #489
Thanks for the reply! I'll check for another solution :)

[2019-06-10 12:09] #489 closed

[2019-06-10 12:48] alxy commented on #239
@mariavilaro I didn't need this yet, so I wont implement it. But as stated earlier, you are free to prepare a PR to implement the suggested behavior. For the string mode, it should be rather easy I'd say.

[2019-06-11 03:50] TuxCod commented on #459
Translate for fields in repeater not work for me =(
![Снимок экрана 2019-06-11 в 9 35 40](https://user-images.githubusercontent.com/230804/59242680-4b3a3180-8c2e-11e9-968e-8acd2fd6abd2.png)

`public $implement = ['@RainLab.Translate.Behaviors.TranslatableModel'];`
`public $translatable = ['name','name_full', 'text_blocks_title',  'text_blocks_text'];`

[2019-06-11 15:28] LukeTowers commented on #459
@TuxCod no, it's in 1.6.0, you have 1.5.0. Enable edgeUpdates if you want to get the latest changes from the marketplace.

[2019-06-15 05:51] Trysystems opened #490 "Nested fields lost value from default lang after change language"
Hello!
Last October cms build, last Rainlab Translate.

JSON field like
`content[test]:
        type: mlricheditor`
After change language or after save page, reload and save again - default language field is empty. Because helper input <input type="hidden" name="RLTranslate[en][content][test]" value="" data-locale-value="en"> has empty value.

Temporary fix:
MLControl.php line 157:
Change
`elseif

[2019-06-15 12:33] mjauvin commented on #407
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-06-15 12:44] mjauvin commented on #386
Can you provide a test procedure with the octoberrain/test-plugin (https://github.com/octoberrain/test-plugin) so that we can try reproducing this?

[2019-06-15 12:47] mjauvin commented on #490
Duplicate of #303

[2019-06-15 12:48] #490 closed

[2019-06-17 16:59] Eoler commented on #285
So, where would one need to put locale changing call from https://github.com/rainlab/translate-plugin/issues/285#issuecomment-375560715 when using mail queues asynchronously?

[2019-06-18 12:06] #262 closed

[2019-06-18 12:19] #423 closed

[2019-06-19 00:32] NicolasGiuristante commented on #407
To be honest, I'd still like to see this implemented at some point. I am not a developer and cannot build it myself. I don't **expect** anyone to build it "just like that", so I ended up using `htm` files and never looked back. But remember that these are the kind of small limitations that make it less comfortable for the end-clients. Markdown is more pleasant on the eye for non-technical folks.

[2019-06-24 16:04] haralake opened #492 "On switched language, Static Page Repeater field data doesn't removed after the field is deleted."
OctoberCMS Build: ### 455
PHP Version: 7.2
Database Engine: MySQL
Plugins Installed: Rainlab.StaticPages, Rainlab.Translate

Description:
I'm using a simple repeater variable on static page:
[code]

On static pages backend i create one static page, then i switch language and using repeater field i create 1 field and i save page. If i delete this field and then save again, data doesn't removed as s

[2019-06-25 07:30] gergo85 opened #493 "Cannot access protected property"
I updated my website to latest version (October 455 and Translate 1.6.0) and I got the following error message when I wanted to save a form:

![error](https://user-images.githubusercontent.com/2959112/60078150-a9393f80-972b-11e9-8435-5974886b9d27.JPG)

[2019-06-25 10:01] bennothommo commented on #492
This will likely be resolved once a fix is deployed for https://github.com/octobercms/october/issues/4402.

[2019-06-25 10:09] haralake commented on #492
@bennothommo i think this is a different issue that has to do with language plugin. This is the reason i created a new issue on Translate plugin. The specific issue only happens when you switch language. Of course you know better and maybe these problems have the same cause.

[2019-06-25 11:37] mjauvin commented on #493
Please give more details so we can try to reproduce.

[2019-06-25 13:24] gergo85 commented on #493
**Versions:**
October: 455
PHP: 7.3.6
Translate: 1.6.0

**Translate codes in model file:**
[code]

[2019-06-25 13:51] mjauvin commented on #493
ok, I use this everyday with latest versions and am not getting this error.

Care to show how to reproduce on our end?

[2019-06-25 15:55] LukeTowers commented on #493
@gergo85 what other plugins do you use? It looks like one of them is trying to extend the translate plugin in a way that is not supported.

[2019-06-26 08:10] gergo85 commented on #493
I disabled the most of plugins, but it did not help.

![plugins](https://user-images.githubusercontent.com/2959112/60162437-cfc5ac00-97f9-11e9-82e5-4cbf5e5923ad.JPG)

[2019-06-26 13:09] mjauvin commented on #493
Must be an issue with your two plugins, then (Own, Content)

[2019-07-01 08:26] onesoco opened #494 "Problem when logged change language"
The problem is that when the language changes, if the user has logged in, an error foreach ()

![error_foreach](https://user-images.githubusercontent.com/22686689/60421592-75a65b80-9bea-11e9-83e5-c4ae9f365df5.PNG)

But, if you have not logged in if it works correctly.

[2019-07-01 09:03] w20k commented on #494
@onesoco what's your translate plugin and core version?

[2019-07-01 09:16] onesoco commented on #494
October: 455
Translate: 1.4.1

[2019-07-02 06:52] onesoco commented on #494
already solved, it was a problem in a function that only compared if it was the default language and not another.

[2019-07-02 06:52] #494 closed

[2019-07-03 06:58] plyusninva opened #495 "Error http 406 (The title field is required) when creating page"
Hello!

When creating the page, the error "The title field is required.".

October Build 455
Enabled plugins:
- RainLab.Translate v. 1.6.0
- RainLab.Pages v. 1.2.21
- others are disabled

Steps:
1. create subpage "test01" -  result OK
2. next create another subpage "test02" -  result Error "The title field is required."

step 1
![2019-07-03_113716](https://user-images.githubusercontent.com/2538194

[2019-07-04 14:01] mjauvin commented on #495
I confirm this, was able to reproduce. What is interesting is that it only happens if you create TWO subpages under a parent WITHOUT CLOSING THE 1ST SUBPAGE tab before creating the second one...

Can you confirm this @plyusninva ?

[2019-07-04 14:06] mjauvin commented on #495
Actually, it doesn't have to be subpages... create ANY TWO pages like below:

- click Pages -> Add
- type test01
- type CTRL-S (to save)
- click Pages -> Add
- type test02
- type CTRL-S

Error is shown...

But if you do the exact same thing but closing the "test01" tab after saving it, problem does not happen.

[2019-07-05 05:00] plyusninva commented on #495
Yes!
in addition, this only happens if there are two or more languages. It does not matter whether they are enabled or not.

[2019-07-08 10:12] Balex70 commented on #495
Yes, we have the same problems. I confirm that it happens when creating pages one by one without and only if you have more than one languages.

[2019-07-08 11:26] robinbonnes commented on #376
Needed this too, fixed it by adding the following code to the `plugin.php` boot function in any existing plugin, or create a new plugin:

[code]

Make sure to use the ML-prefixed formwidgets in your `theme.yaml` file, example:

[code]

Hope its useful for anyone.

[2019-07-08 13:49] LukeTowers commented on #376
@robinbonnes how come you have to explicitly use the ML versions of the FormWidgets? Shouldn't the plugin automatically convert them for you by adding the behavior?

[2019-07-08 14:02] robinbonnes commented on #376
Because at the part where it should convert the formwidgets, the fields array is empty: https://github.com/rainlab/translate-plugin/blob/master/classes/EventRegistry.php#L89

[2019-07-08 14:04] LukeTowers commented on #376
@mjauvin could you look into the above?

[2019-07-08 14:14] mjauvin commented on #376
@robinbonnes did you try to extend ThemeData in the register() method of your plugin?

[2019-07-08 14:23] robinbonnes commented on #376
@mjauvin Don't think so, why? I got a lot of plugins active, so it could be some other plugin.

[2019-07-08 14:25] mjauvin commented on #376
Try extending ThemeData in the register() method to see if the ml version of the filed types is still required.

[2019-07-08 14:44] robinbonnes commented on #376
I tried in the register() of the translate plugin:

[code]
but `$widget->fields` still returns null :(

[2019-07-11 02:36] Asinox opened #497 "Can't translate repeater fields"
I know, this issue is here a few time, but after reading all of them, I can't find a solution.

The thing is, I have a repeater with a few fields, like "title", "subtitle", but I can't translate those fields.
[code]
`subtitle` and `title` are inside "sections" repeater.

Translate plugin: 1.6.0
October Build: 456

Thanks!

[2019-07-11 02:47] mjauvin commented on #497
This is currently not supported. a PR to address this would be nice!

[2019-07-15 08:02] CptMeatball commented on #231
So basically there is no solution for this problem (yet)?

@LukeTowers: Warning developers not changing the default language is one step. But developers aren't always in the possibility to make this choice. If the client wants to change the base language and the website is relatively large, nobody's gonna be happy 🤔

A dirty fix would be the make it a part of the front-end component, but that woul

[2019-07-15 08:14] joelamltc commented on #231
Or maybe we can actually consider make translate plugin as part of OctoberCMS, make it translate ready. When user / developer want it, it already there, otherwise, just let it rest inside OctoberCMS when translation is not needed.

I am not recommending sth, just pure discussion.

[2019-07-15 08:29] bennothommo commented on #231
@joelamltc The Translate plugin is a RainLab plugin, which means it is maintained by the core developers and should be treated as "core" functionality, but it won't be merged into the October CMS core as it really is supposed to be an optional augmentation to an October CMS site. A lot of people only work with one language, and have no need for translations.

[2019-07-18 10:37] Wambua47 opened #498 "Error removal"
How can this error be removed please?
Caused by:PDException
SQLSTATE(23000):Integrity constraint violation:1062Duplicate entry"33133828" for key 'id-no-UNIQUE'

[2019-07-18 11:01] bennothommo commented on #498
@Wambua47 Please provide a backtrace and more info on where this exception occurs.

[2019-07-18 13:30] Wambua47 commented on #498
SQLSTATE(23000):integrity constraint violatio:1062 Duplicate entry"33133828" for key 'id-no-UNIQUE

[2019-07-18 13:31] Wambua47 commented on #498
How can that error be removed??

[2019-07-18 14:29] LukeTowers commented on #498
@Wambua47 we need to see a full stack trace and detailed replication instructions in order to help you.

The amount of time spent asking for help is directly related to the amount of time spent putting in effort to answer it. If you want help and / or guidance, then invest as much time as possible in making questions that are detailed and easy to understand. Otherwise, nobody is going to invest th

[2019-07-19 06:38] w20k commented on #498
@Wambua47 remove the duplicated entry from DB or change id, manually.

[2019-07-19 08:29] w20k commented on #498
@Wambua47 hacking your DB manually :) Not through the website, don't think it's possible. You have an overlap somehow - somewhere. If you want a fix for that, better to provide steps to reproduce or more info.

[2019-07-19 08:33] Wambua47 commented on #498
How can i do this and i dont know much about computer software???

On Fri, Jul 19, 2019, 11:29 Denis Denisov <notifications@github.com> wrote:

[2019-07-19 08:45] Wambua47 commented on #383
How can an error similar to that be solved??

[2019-07-19 10:05] w20k commented on #498
Better to find a Dev to do that, if you're not a software developer. Much easier!

[2019-07-19 10:11] Wambua47 commented on #498
Can you assist me if ur one???

On Fri, Jul 19, 2019, 13:05 Denis Denisov <notifications@github.com> wrote:

[2019-07-19 13:32] mjauvin commented on #498
Please use the forum for help.

[2019-07-19 13:32] #498 closed

[2019-07-19 15:56] LukeTowers commented on #383
@Wambua47 please don't hijack other people's issues. Your problem is something that is highly dependent on your specific setup and will require someone knowledgeable about many facets of web development to help you out. If you would like to pay me for some dedicated time to walk you through fixing it then you can reach me on the slack: https://octobercms-slack.herokuapp.com/. Otherwise your option

[2019-07-22 08:55] giorgionetg commented on #386
Same problem here... Slug is not translate... I get the same error!

[2019-07-22 09:23] maartenmachiels commented on #386
I haven't had the time to create a test environment yet... Can anyone take over?

[2019-07-22 15:49] RodrigoGalter opened #499 "New release 1.6.1 for auto-update on octobercms"
Is there a version 1.6.1 ready, it is possible to release for automatic update by CMS?

[2019-07-23 07:21] w20k commented on #499
@mjauvin what do you think? Can we push `1.6.1` to a stable?

[2019-07-23 07:47] bennothommo commented on #499
@w20k It appears @mjauvin tagged 1.6.1 already: https://github.com/rainlab/translate-plugin/releases/tag/1.6.1, but no corresponding update to `version.yaml` was made. I think we'd have to tag the next one as 1.6.2.

[2019-07-23 13:00] mjauvin commented on #499
Sure, I guess the latest changes were relatively safe. @bennothommo go ahead, I'm not able to at the moment.

[2019-07-23 16:37] bennothommo commented on #499
@RodrigoGalter We have released version 1.6.2 of the Translate plugin, as version 1.6.1 was already previously tagged. It should appear as an update shortly if you have "edge updates" enabled.

[2019-07-23 16:37] #499 closed

[2019-07-23 19:15] FirestarterUA opened #500 "Nestedform and Datatable field types cant be Translated"
Any other type work as expected (can be transalted), but datatable and nestedform does not.

[2019-07-23 23:33] LukeTowers commented on #500
@FirestarterUA feel free to submit a PR to add support or offer a bounty to get someone else to build support for it for you.

[2019-07-26 18:28] RodrigoGalter opened #501 "Translation with pluck not working?"
I'm trying to get a list with ->pluck(' title ', ' term '), but this does not come with the translated values, and sometimes using ->get([' title ', ' term ']) also does not work.

[2019-07-27 19:32] mjauvin commented on #501
@RodrigoGalter can you give more details on how to reproduce this and exactly what results you are expecting?

[2019-07-28 14:52] RodrigoGalter commented on #501
Sure.

       //Language = en

        CategoriesTranslations::pluck('value', 'term')->toArray();
        CategoriesTranslations::pluck('value', 'term');
        //Replied in Portuguese
        /**
         * array:12 [▼
         * "data" => "Data"
         * "diario" => "Diário"
         * "ena" => "Ena BR"
         * "subsistema" => "Subsistema"
         * "sin" => "SIN"
         * "carga" => "C

[2019-07-30 09:08] hirisov opened #502 "Eager loading attributes"
Currently the plugin issues a new SQL query for each items in a collection to fetch the data from rainlab_translate_attributes table.

For example if I have a collection with 3 items of H3Kft\Pcd\Models\Woa (with id's if 1, 2, 3) and want to get the "hu" translations this will result in 3 separate queries:

select * from `rainlab_translate_attributes` where `locale` = 'hu' and `model_id` = 1 and `

[2019-07-30 09:45] bennothommo commented on #502
@hirisov We would definitely appreciate any bounties you and others are willing to offer to get the feature implemented. Feel free to post a bounty here: https://www.bountysource.com/issues/77949687-eager-loading-attributes

[2019-07-30 09:54] hirisov commented on #502
Thanks for creating the bounty, i backed it up. I hope others will join! :)

[2019-08-01 07:40] buccia commented on #502
👍

[2019-08-01 09:06] hirisov commented on #502
A3Emanuele Bucciarelli <notifications@github.com> ezt írta (2019. aug. 1. 9:40):👍

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-01 10:20] bunker-condenast commented on #502
It would be a very appreciated improvement!

[2019-08-05 09:49] massimomegistus commented on #502
Hi guys, i've just developed this feature in a very simple way.
It seems to work well. Please test it and let me know
https://github.com/rainlab/translate-plugin/pull/504

[2019-08-05 12:33] cheb60 commented on #383
@roojai I had the same issue today. It also had to do with importing and exporting. Do you have any clue which plugin caused this?

[2019-08-06 00:54] bennothommo commented on #383
@cheb60 Maybe look into your database tables and see if any `id` fields are missing the AUTO_INCREMENT attribute.

[2019-08-06 00:58] roojai commented on #383
Hi @cheb60
I assumed it was something to do with my MySQL export and import files and not related to any plugin.

Its happened twice (out of many many exports) and I have no idea why. The solution was to manually set all the primary keys to autoincrement.

[2019-08-06 06:41] cheb60 commented on #383
Hi @roojai

Alright that's also what I did to fix this for the time being. Thanks anyways!

[2019-08-06 14:25] adamo opened #505 "404 when using multiple page arguments in URL"
I've setup a home page with the url as follows

`/:id/:series_id?/:view?/:schema_id?`

All the parameters are used inside a component, the problem is that when using a seotool the response for the language home page for example `address.com/pl` is shown as a 404 status.

When I leave the `/id` status is back to 200.

I've tried many things to change the behavior, for instance adding another `:lang

[2019-08-07 11:26] mjauvin commented on #505
for the URL you refer to above, you NEED to provide an ID as the first parameter.

So the request to the page should be https://onlinecurl.com/123 or https://onlinecurl.com/pl/123

[2019-08-07 13:31] MaTToX3 commented on #227
Correct me if I am wrong but I have to manually listen to that even for every page that use some sort of slug?

[2019-08-09 10:14] adamo commented on #505
I changed this parameter to `/:id?/...` and so on but no luck.
I've solved it by adding another page (the parameters where on the home page.
So now i have a home page with the url `/` and a secondary page with the url `/id/...` little hacky but got the job done.

[2019-08-10 08:00] Samuell1 opened #506 "Share language to relations"
Hey, its there a way to share language to relations from main model?

**Example:**
`User::find(1)->lang('en')->product->name`

Calling lang on user returns user with en translations but it doesnt use lang value for _product_ relation

This can simplify sending a language emails depending on saved language in model depending on user etc.

[2019-08-10 12:08] mjauvin commented on #506
@samuell1  can't you use `User::find(1)->lang('en')->product->lang('en')->name`?

[2019-08-10 13:31] Samuell1 commented on #506
Yes that works but it cant work with more relations and mostly "many" relations

[2019-08-16 12:58] Lajmenko opened #507 "Localization switcher doesn't seem to work"
Hello!

I have been using the previous versions of plugin in the past with no issues, however this time, when building a new website it seems that I cannot get locale picker component to work.

I can still access the translated content with manually writing the /en/ in url, however it seems whenever i try to do that via localepicker it looks unresponsive - nothing is happening.

What I am possible

[2019-08-16 13:28] mjauvin commented on #507
Try using the "Force URL schema" in the Locale Picker component settings.

[2019-08-16 13:55] Lajmenko commented on #507
@mjauvin  I have tried it both ways, yet no dice.

[2019-08-19 15:24] hirisov commented on #455
I created a bounty for this, please consider supporting this development:

https://www.bountysource.com/issues/71668207-translation-memory-support-xliff-po

[2019-08-19 21:34] LukeTowers commented on #455
@hirisov there's no bounty posted on the issue. Feel free to post one or offer to pay directly for the feature yourself.

[2019-08-20 10:42] Darkrogua opened #508 "Field checkboxlist not translation"
I have a problem with translating checkboxlist fields . I'm trying to make a multilingual list that will have different meanings in each language. For example, a list of days: in English, it's Monday and Tuesday, and in Russian it's Friday and Saturday.

[2019-08-20 11:03] mjauvin commented on #508
You can use a method in your model to populate the options. This method can
fill the options with different values depending on the currently selected
Locale.

ref. https://octobercms.com/docs/backend/forms#field-checkboxlist

ref. https://octobercms.com/docs/backend/forms#field-dropdown

note: checkbox lists and dropdown use the same method for defining options

--
Marc

On Tue, Aug 20, 2019, 06:

[2019-08-20 11:16] mjauvin commented on #508
You can use a method in your model to populate the options. This method can
fill the options with different values depending on the currently selected
Locale.

* ref. https://octobercms.com/docs/backend/forms#field-checkboxlist
* ref. https://octobercms.com/docs/backend/forms#field-dropdown

note: checkbox lists and dropdown use the same method for defining options

[2019-08-20 11:23] mjauvin commented on #507
Did you include the ajax framework in your layout/template?

ref. https://octobercms.com/docs/ajax/introduction#framework-script

[2019-08-20 12:23] Lajmenko commented on #507
@mjauvin, That was it! I feel so dumb. Thank You so much for your help!

i included the framework BEFORE loading javascript, that the issue.

[2019-08-20 12:23] #507 closed

[2019-08-20 13:25] Darkrogua commented on #508
Yes, I understand that, but how does that solve my problem with filling out a list with different values in different languages?

[2019-08-20 18:10] RodrigoGalter commented on #501
Any news?

[2019-08-20 18:42] RodrigoGalter commented on #501
I noticed that non-translation occurs when applying a select.

[2019-09-09 18:47] AydievMansur opened #510 "{{ this.page.title|_ }} Doesn`t translate"
We try to do in layout, also each page title tag with this twig and filter but when we scan message (even clean cache)  this.page.title. won`t land to translate 😞
Anyone have kinda like this issue ?
sorry bout bad eng
![image](https://user-images.githubusercontent.com/13575865/64557954-ca392600-d353-11e9-8664-9192daef56c2.png)

[2019-09-09 19:07] AydievMansur commented on #510
sorry for the carelessness, we found solution in close issue topic.
you can translate title right from backend pages
![image](https://user-images.githubusercontent.com/13575865/64559103-8eec2680-d356-11e9-8418-39d981f337cf.png)

[2019-09-09 19:07] #510 closed

[2019-09-13 06:06] WebShapedBiz opened #511 "Translating a string containing a single quote"
Hi,

I'm unable to figure out how to translate a string that has a single quote in it, for example, _O'Reilly Media - Technology and Business Training_. Wrapping the string in double-quotes doesn't work.
For the moment I'm using backticks but that's not nice to see.

Cheers.

[2019-09-13 23:33] LukeTowers commented on #511
@WebShapedBiz can you provide an example of what you're trying to do right now?

[2019-09-14 04:05] WebShapedBiz commented on #511
Hi, @LukeTowers. I gave a generic example with _O'Reilly Media_ but my real project is for one _B'nai B'rith_ lodge, and I'm getting exceptions every time I have a translation string containing _B'nai B'rith_, like this:
`{{ 'B'nai B'rith lodge'|_ }}`

I tried using double quotes and escaping the single quote within the string but without success.

Thank you for your time and effort.

[2019-09-14 11:44] LukeTowers commented on #511
@WebShapedBiz so `{{ 'B\'nai B\'rith lodge'|_ }}` doesn't work?

[2019-09-14 12:37] WebShapedBiz commented on #511
@LukeTowers your suggestion kinda works with the following issues:
1. It just converts single quotes to backticks on the front-end
2. It messes up syntax highlighting in the backend editor, and for that reason, I didn't at first even try with escaping the single-quote, seeing the messed up code editor.

[2019-09-14 20:24] Darkrogua opened #512 "Getting active locale prefixDefaultLocale false"
I'm trying to get an active locale on the backend, used to get Session:: get('rainlab.translate.locale'), but then decided to abandon the prefix in the standard language(    'prefixDefaultLocale' => false,) and now Session:: get('rainlab.translate.locale') always equals standard language...

[2019-09-18 07:43] WebShapedBiz opened #513 "Problems after different plugin removal"
Hi.

This probably has nothing to do with your plugin but the original developer of `mnshankar/oc-subscribe-plugin` doesn't seem to care :-(

Anyhow, after removing aforementioned `mnshankar/oc-subscribe-plugin plugin`, I'm getting an error message each time I scan for new messages in Rainlab Translate plugin:

The scan, however, is successful. Any ideas on how to get rid of it? I've checked the D

[2019-09-19 16:16] LukeTowers commented on #513
@WebShapedBiz are you able to post a full stack trace of the error?

[2019-09-19 16:29] LukeTowers commented on #511
@WebShapedBiz so `{{ "B'nai B'rith lodge"|_ }}` doesn't work either?

[2019-09-19 17:31] WebShapedBiz commented on #513
Thank you @LukeTowers for your time and effort. I know that my post shoudn't be an issue for this plugin but that's the only place where I'm having this problem. This is from the log:

Stack trace:
#0 /var/www/html/vendor/laravel/framework/src/Illuminate/View/FileViewFinder.php(90): Illuminate\View\FileViewFinder->parseNamespaceSegments('serenitynow.sub...')
#1 /var/www/html/vendor/laravel/framewo

[2019-09-19 17:40] WebShapedBiz commented on #511
This, `{{ "B'nai B'rith lodge"|_ }}`, will work, but with converting a single quote to backticks. I made a screenshot of the webpage for you, where the upper text is rendered without translation, just `<h1>About B'nai B'rit lodge "Gavro Schwartz" Zagreb</h1>`
and there you can see single quotes rendered as they should be.
The lower text is generated with
`<h1>{{ "About B'nai B'rit lodge \"Gavro Sc

[2019-09-20 14:21] ketihar commented on #492
I confirm this specific bug. On static page when i switch language i can create data using a repeater field, but i can't delete them. On backend i can see that have successfully deleted but when i close and reopen static page data are still there.

[2019-09-20 17:10] mjauvin commented on #512
@Darkrogua can you provide more information on how to reproduce this?

[2019-09-20 17:27] mjauvin commented on #513
@WebShapedBiz are you sure there are no left-over call to that plugin from your theme/plugins ?

What is "serenitynow.subscribe" ?

[2019-09-20 17:40] mjauvin commented on #511
@WebShapedBiz I tried to reproduce with the following, and it worked as expected in my case:

    <h1>{{ "B'nai B'rith lodge"|_ }}</h1>

This appeared in the "Translate messages" admin page and I was able to add a translation for it. When switching locale on the website, it also properly shows both translations.

What version are you using for October & Rainlab.Translate?

[2019-09-20 17:40] WebShapedBiz commented on #513
Thank you @mjauvin for your message. There are no leftovers from that plugin since I didn't even have a chance to configure it. There were some issues with mail configuration and I just removed it from my server. The only place I'm seeing it is when I scan for messages in Settings -> Translate messages.

The "serenitynow.subscribe" is this plugin [https://octobercms.com/plugin/serenitynow-subscrib

[2019-09-20 17:42] mjauvin commented on #513
Can you try removing the serenitynow plugin to see what happens?

[2019-09-20 17:43] WebShapedBiz commented on #511
Hi @mjauvin. I'm using the latest versions of both, CMS v1.0.458 and Rainlab.Translate v1.6.2

[2019-09-20 17:44] WebShapedBiz commented on #513
The trouble with "serenitynow.subscribe" and Rainlab.Translate began when I removed the plugin.

[2019-09-20 17:45] mjauvin commented on #512
Do you have the "Force URL schema" enabled in your Locale Picker component?

[2019-09-20 17:47] mjauvin commented on #513
Oh, I didn't realize "mnshankar/oc-subscribe-plugin" and "serenitynow" were the same plugin, sorry...

[2019-09-20 17:48] mjauvin commented on #513
Did you try to empty your cache with "artisan cache:clear" ?

[2019-09-20 17:55] mjauvin commented on #511
You may want to check your database, there may be a leftover entry when you used the "escaped" single quote which is interfering with the double quoted version of the string.

You may also want to try checking the "Purge all messages first" when scanning for messages, that may also solve the issue.

[2019-09-20 19:40] WebShapedBiz commented on #513
Nope, I'll try that and update this thread if anything happens, thanx.

[2019-09-20 19:45] WebShapedBiz commented on #511
I did browse through the database hoping to find a little devil but without any luck. Purging all messages is my last resort since I'm lazy to redo all the translation because I'm thinking that export/import may also export/import the problem.
Anyhow, thank you for your time and effort in helping me. Tomorrow I'll continue this investigation.

Cheers.

[2019-09-21 16:21] Darkrogua commented on #512
o sorry, i`ts work

[2019-09-21 16:21] #512 closed

[2019-09-26 01:42] mjauvin commented on #511
Closing this as we were not able to reproduce. Please re-open if you have more details that can help reproduce this.

[2019-09-26 01:42] #511 closed

[2019-09-29 04:18] MateThemes opened #515 "Per-Locale Theme"
Hello!

I have seen that the last update added a per-locale theme configuration feature. Now how is this working?

I can't any documentation on that. What I want is to translate the theme.yaml file in the backend language of the user.

Thanks in advance!

[2019-09-29 14:14] LukeTowers commented on #515
@MateThemes it was added to the README: https://github.com/rainlab/translate-plugin/commit/8aa2759b2f5ade6d01afcfdb34cba9884232d2b6#diff-04c6e90faac2675aa89e2176d2eec7d8R86-R102

[2019-09-29 14:14] #515 closed

[2019-10-05 17:56] pkurg opened #517 "Translate hasOne field"
Trying to translate the hasOne field, but I get an error while saving:  Call to a member function hasRelation() on array" on line 70 of /srv/www/dev2/modules/backend/traits/FormModelSaver.php
[code]
![screenshot-dev2 pkurg ru-2019 10 05-20_54_34](https://user-images.githubusercontent.com/1777865/66258840-92869800-e7b2-11e9-97b7-f824be292f99.png)

[2019-10-08 07:49] Samuell1 opened #518 "Why full cache gets flushed on message update?"
Hey, i was searching for issues why cache is getting flushed randomly then i findout that translate plugin flushes global cache on message update. Its this needed?

https://github.com/rainlab/translate-plugin/blob/60e88cb383e8a46c887459c63f87b2f6d50da635/controllers/Messages.php#L147

[2019-10-08 11:49] MaTToX3 opened #519 "Different menu for secondary language"
My site is using english for a secondary language. It is a different site (content wise) so it also needs it's own main menu. I want to create another main menu for english language and show it on the english version. What is the best way to do it? It will link to the static pages, that are translated from the original language content.

Should I just create a custom component for Main Menu and do

[2019-10-08 13:46] w20k commented on #518
@Samuell1 yes, it is. See comment made by @alekseybobkov: `Clean cache automatically when a message translation is changed.`

[2019-10-08 17:35] LukeTowers commented on #518
@Samuell1 since cached rendered templates could contain the changed message string they need to be regenerated. If you can suggest a more selective cache refresh then I'm happy to review that but otherwise we'll leave it as it is.

[2019-10-08 17:36] LukeTowers commented on #519
@MaTToX3 you could put two instances of the Menu component on your page, have one of them load the english menu and have the other load the other language, then in your template that renders the menu choose which component to use based on the currently selected locale.

[2019-10-08 18:28] Samuell1 commented on #518
@LukeTowers maybe dont force it on update but manual user, thats why there is that clear cache button on top no?

[2019-10-08 18:55] LukeTowers commented on #518
Existing behaviour is to clear the cache so I'm not sure we want to change that.

[2019-10-08 18:55] LukeTowers commented on #518
Best we could do is maybe make it a config option for the plugin

[2019-10-09 06:34] Samuell1 commented on #518
@LukeTowers I mean mostly issue is that if you update 60 messages it flushes cache per every update thats what i dont like about this.

[2019-10-09 09:01] MaTToX3 commented on #519
It's a good idea. I created a partial for main menu and did a check there. However since I have a custom style of my main menu, I have to actually have two more files now to style the second menu (which is basically the same).

So I am still thinking of component where I do the check for locale.

[2019-10-09 09:15] #519 closed

[2019-10-09 15:13] LukeTowers commented on #518
@Samuell1 we're open to suggestions for improvements.

[2019-10-10 05:26] mjauvin commented on #517
I think the way you define your hasOne relation is wrong. You are assigning an array instead of a class

[2019-10-10 07:29] pkurg commented on #517
Please show me the correct working example of translation hasOne field.

[2019-10-10 07:47] mjauvin commented on #517
$model->hasOne['blog'] = 'Pkurg\Blog\Models\Blog';

[2019-10-10 08:04] mjauvin commented on #517
You can use an array as well if you need to specify a key or table for the model

[2019-10-10 08:05] mjauvin commented on #517
ref. https://octobercms.com/docs/database/relations#one-to-one

[2019-10-10 08:19] pkurg commented on #517
Ok. $model->hasOne['blog'] = 'Pkurg\Blog\Models\Blog';

We get the exact same error:  **Call to a member function hasRelation() on array" on line 70 of
/srv/www/dev2/modules/backend/traits/FormModelSaver.php**

[code]

[2019-10-10 08:22] pkurg commented on #517
And in the last example, if removed    $model->translatable[] = 'blog[author]';
Everything worked fine with  $model->hasOne['blog'] = ['Pkurg\Blog\Models\Blog'];
but without translation.

[2019-10-10 10:06] mjauvin commented on #517
I see, try making your blog model translatable instead

--
Marc

On Thu, Oct 10, 2019, 10:22 pkurg <notifications@github.com> wrote:

[2019-10-10 10:20] #517 closed

[2019-10-10 10:22] pkurg commented on #517
useless support

[2019-10-10 10:24] pkurg commented on #517
This will not work.

[2019-10-10 10:28] mjauvin commented on #517
Why wouldn't it work?

[2019-10-10 10:31] pkurg commented on #517
Because before you write, I already tried all this.

[2019-10-10 10:32] pkurg commented on #517
Write a small test plugin and make sure.

[2019-10-10 11:04] bennothommo commented on #517
@pkurg please be respectful. You are getting free support, and @mjauvin is trying to rule out various potential causes of your issue.

[2019-10-11 09:55] pkurg commented on #517
So far I haven't received anything besides moral instruction.

[2019-10-11 11:15] bennothommo commented on #517
That's all you'll get then.

[2019-10-11 12:36] pkurg commented on #517
Thank you so much. You are amazing.

[2019-10-11 15:41] LukeTowers commented on #517
@pkurg editing your comments to try to remove them is not mature behaviour. This is a free plugin, for a free project, and support is offered for free. I recommend that you take that into consideration before getting mad at the people freely giving you their own personal time to try to help you resolve your problems.

[2019-10-13 12:44] pkurg opened #520 "Translation of related fields is not working."
Hello
Is it possible with your plugin to translate an extended form field?
For example, this:

[code]

[2019-10-15 01:44] bennothommo commented on #520
@pkurg You may be able to use `Lang::get('...')`.

[2019-10-15 16:20] LukeTowers commented on #520
@pkurg what exactly are you trying to translate?

[2019-10-15 22:44] pkurg commented on #520
I want to add a translatable field to the user form.
Here we just add a text field. How to make this field translatable?
[code]

[code]
![](https://i.ibb.co/N31DsxZ/screenshot-devv-pkurg-ru-2019-10-16-01-16-31.png)

[2019-10-16 00:06] LukeTowers commented on #520
I'm not sure that translating fields for related records is supported @pkurg. @mjauvin do you know if that's the case? (note @mjauvin is on vacation right now, so please be patient)

[2019-10-16 21:45] mjauvin commented on #520
@LukeTowers I thought he mentioned he wanted to translate a TEXT field,
didn't he?

Not sure about related records.

--
Marc

On Tue, Oct 15, 2019, 20:06 Luke Towers <notifications@github.com> wrote:

[2019-10-16 23:07] LukeTowers commented on #520
@mjauvin `profile[text]` is the field he wants to translate. `profile` is a relationship that's being dynamically added from his plugin.

[2019-10-22 03:01] mosid commented on #502
@hirisov @bennothommo  isn't the messages saved to cache?
Why bothering optimizing the query?

[2019-10-22 07:53] Samuell1 commented on #518
@LukeTowers Maybe it will be better if ocms tags cache items, then we can flush only what you want not full cache.

https://laravel.com/docs/5.5/cache#cache-tags

[2019-10-22 23:08] LukeTowers commented on #518
@Samuell1 feel free to make a PR

[2019-10-23 08:45] Samuell1 commented on #518
@LukeTowers I was looking into it but there is limitation :(

[2019-10-31 11:01] evwerkz commented on #520
i have same problem. i added new fields to user and cant to translate this.

https://stackoverflow.com/questions/58641718/how-i-can-on-october-cms-use-translate-plugin-after-extend-new-fields-to-user-pl

I understand by relationship that there is a relationship between two tables or models. This is just about adding only new fields to the model user that do not exest.

[2019-10-31 16:02] mjauvin commented on #513
@WebShapedBiz I found what's causing this. It's not related to Rainlab Translate plugin but definitely a bug in October itself (I think).

Try searching the `system_mail_templates` db table for entries with code field matching the plugin name that has been deleted.

I don't know if October should delete those when a plugin is removed, maybe.

[2019-10-31 19:33] WebShapedBiz commented on #513
Thank you @mjauvin for being on top of this. In the meantime, as I couldn't figure it out, I've migrated the site on a new installation, and everything is peachy now, as usually is with OctoberCMS :-)

Cheers.

[2019-11-04 12:55] iboved opened #523 "Switch all fields to the selected locale (by holding the CMD / CTRL key) - repeater bug"
OctoberCMS Build: 458
RainLab.Translate plugin version: 1.6.2

### Description:
There is a very useful feature in this plugin - we can switch ALL multi-language Input fields to the selected locale by holding the CMD / CTRL key (don’t know why this is not the default behavior, but at the moment it is ok). So, I always use this key combination to switch all multi-language input fields, instead of sw

[2019-11-06 03:20] multiwebinc opened #525 "Allow purging messages to keep existing translations"
When you do a scan for messages and check the "purge all messages first", this deletes everything, including existing translations, before re-adding the strings the scanner finds. And if you don't check the "purge all messages" box, any time you update a translation in the source files will create an extra message to be translated.

You are therefore left with two choices; check the box and have t

[2019-11-07 10:20] pavsid commented on #365
I can verify this issue, having experienced it many times I am able to decipher OP's bug report. Will gather some info but until now I haven't been able to replicate it on demand.

[2019-11-12 12:04] bomja opened #526 "Title in the url- homepage"
Hi,
I have 2 language "en",  "sv" - is default.
When I add new title for "en"  I got url with title from that translation,
Example: (cms & static pages)
homepage.com/ - "sv" all is okay.
homepage.com/en/english - "english" here is title for "en" homepage which is added automatically.
If I remove title from slug "en" translation I get 404 when I choose this locale.

forceUrl - is checked.
prefixDef

[2019-11-12 16:13] mjauvin commented on #525
@multiwebinc any chance you could submit a PR for the proposed suggestion(s) ?

[2019-11-30 14:38] mjauvin commented on #526
I don't understand what you mean. Can you give more detailed example to show the problem?

[2019-11-30 14:41] mjauvin commented on #523
What version of core and translate plugin do you use?

[2019-11-30 18:23] mjauvin commented on #523
I tried to reproduce this bug using the OctoDock instance below, using the Rainlab.Translate & October.Test plugins:

https://a58f5afbe88a.octodock.com/backend

Please use user/pass admin/admin to access the backend

There are two languages defined, English (default) and french.
You *should* be able to replicate the issue under the Playground->Countries page.

[2019-11-30 18:57] mjauvin commented on #520
If this is a simple field (not a relation), then you would just add the field to the Model->translatable array as stated in documentation.

[code]

[2019-11-30 19:35] mjauvin commented on #493
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If the problem is still reproducible with latest version of plugin and core, please re-open the issue with more details on how to reproduce.

[2019-11-30 19:35] #493 closed

[2019-11-30 19:38] mjauvin commented on #386
I have used this extensively and it is properly working. There must be a mistake in your event handler for `translate.localePicker.translateParams`.

If you can provide proper way to reproduce this with latest plugin and core versions, please re-open this issue.

[2019-11-30 19:38] #386 closed

[2019-11-30 19:45] mjauvin commented on #381
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-11-30 19:45] #381 closed

[2019-11-30 19:55] mjauvin commented on #376
@robinbonnes can you try this to see if it solves your issue:

[code]

[2019-11-30 19:56] mjauvin commented on #376
Also try with this PR #528 installed

[2019-12-02 09:21] bomja commented on #526
Sorry for that =). Please take a look this video
https://mega.nz/#!sVd0yKKK!mxh-rKQYqe8ska8CoUrwRR4-9yGAYgmN8dCuysHElDM

Regards

[2019-12-02 14:47] mjauvin commented on #526
What version of core and plugin do you use?

[2019-12-02 14:49] bomja commented on #526
458 october
1.6.2 plugin

[2019-12-02 19:48] mjauvin commented on #526
I don't have this behavior, can you send us the CMS page file content for the example in your video so that we can see what might cause this?

[2019-12-03 10:59] bomja commented on #526
`title = "Homepage"
url = "/"
layout = "main"
is_hidden = 0

[viewBag]
localeUrl[sv] = "/hemsida"
localeTitle[sv] = "Hemsida"

[PromoBlockList]
sorting = "default"

[CategoryList]

[ProductList]
sorting = "no"

[session]
security = "all"

[localePicker]
forceUrl = 1
==
{% component 'localePicker' %}
{% partial 'content/carousel/carousel' arImageList=this.theme.main_slider %}

{% set obPromoBlockLi

[2019-12-03 11:06] bomja commented on #526
Now if I edit manually localeUrl[sv] = "/hemsida" to "/"  looks like everything work.

[2019-12-03 12:37] mjauvin commented on #526
Yes, but the file content should reflect the changes you make on the
backend... something is broken in your setup, this bug was fixed last april.

I cannot reproduce this.

What browser/version are you using?

On Tue, Dec 3, 2019 at 6:06 AM Jorgen <notifications@github.com> wrote:

--
Marc

[2019-12-03 13:35] bomja commented on #526
Weird. I tested few different installations and
70.0.1 (64-bit) Firefox and Version 78.0.3904.108 Chrome
macOS Mojave.
Work only if I edit manually.

[2019-12-03 14:07] mjauvin commented on #526
Was asking what browser in case you used an old browser where javascript could have been deficient.

I am using those browsers without issue, although not on Mac.

When you fill-in the title, it shoud only generate the URL when you create the page. Once the page has been saved, changing the title for any language should not regenerate the URL, and any change in title/URL should be reflected in the

[2019-12-03 14:10] mjauvin commented on #526
Are you testing this from a new install or an old install upgraded to v1.458 ?

[2019-12-03 14:14] mjauvin commented on #526
Can you test from the install below, user/pass are "admin/admin":

https://8417aa8f838d.octodock.com/backend

[2019-12-03 14:32] bomja commented on #526
New install

Same thing.
Tested chrome and firefox, also removed all browser extensions but that also not helped.
error.log:
[Tue Dec 03 07:12:54.328013 2019] [mpm_prefork:notice] [pid 12] AH00163: Apache/2.4.25 (Debian) PHP/7.1.30 configured -- resuming normal operations[Tue Dec 03 07:12:54.328063 2019] [core:notice] [pid 12] AH00094: Command line: 'apache2 -D FOREGROUND'

[2019-12-03 14:42] mjauvin commented on #526
I just tested this with Chrome Version 78.0.3904.108 (Official Build) (64-bit) on the SAME install above and the "Demonstration" page you modified works as expected when changing the URL for the swedish locale. I don't understand how this can be.

You're telling me that changing the URL for SV locale to "" or "/" and clicking "save" does not save the changes in the file???

[2019-12-03 15:05] bomja commented on #526
You're telling me that changing the URL for SV locale to "" or "/" and clicking "save" does not save the changes in the file???
I change to "/" and if I delete it at all - that working.
Solved.
Thank you!

[2019-12-03 15:10] mjauvin commented on #526
What are you saying exactly? That changing URL to "/" does not work but changing URL to "" (empty) works?

[2019-12-03 15:14] bomja commented on #526
URL field should be empty and then it works. In my case I deleted slug until "/".

[2019-12-03 15:46] mjauvin commented on #526
Both works for me.

[2019-12-03 16:01] #526 closed

[2019-12-09 09:31] iboved commented on #523
@mjauvin yes, I have the same problem in your installation.
Steps To Reproduce:
1. Go to  Playground -> Countries.
2. Select the first or the second record.
3. Go to "States" tab.
4. Hold the "Ctrl" key and switch to French language. You will see empty repeater. This is ok, because we have filled only English language and French is empty.
5. Hold the "Ctrl" key and switch to French language again.

[2019-12-09 13:47] mjauvin commented on #523
Yes, I was able to reproduce. This is pretty nasty behavior, I concur.

Thanks for reporting this. Would you be able to submit a PR for this?

[2019-12-11 01:51] #353 closed

[2019-12-12 08:18] RonMen opened #530 ""Page not found" if "en" is not standard language/translation"
Hi there,

if I define "de" as a standard language for a site I get the site in german using "/" but I do not get english using "/en". If I define "en" as standard language for same site I get english using "/" and german using "/de", so in that case everything works well. Anything I can do making it working?

Regards
RonMen

[2019-12-12 08:26] tobias-kuendig commented on #209
It seems like this problem still exists for everything that goes through `onRelationManageCreate`, `onRelationManagePivotCreate` and `onRelationManagePivotUpdate`.

You can test this behaviour on our Mall demo website (login with demo/demo). Translations for property names are not saved correctly (`onRelationManagePivotUpdate`, https://mall.offline.swiss/backend/offline/mall/propertygroups/update/

[2019-12-12 08:29] mjauvin commented on #530
I'd need more details but did you translate the site with English as default first? There's currently a limitation when changing the default language where it doesn't properly switch the translations

[2019-12-12 09:16] RonMen commented on #530
Dear @mjauvin,

I reinstalled the plugin and first tried to change the default language to "de" and added "en" as a new language. Now it seems to work well on pages I tried.

Regards
RonMen

[2019-12-12 09:16] #530 closed

[2019-12-12 11:19] alxy commented on #209
@tobias-kuendig Just to be sure: You replaced the `$hydratedModel = $this->relationObject->where($foreignKeyName, $this->manageId)->first(); ` with `$hydratedModel = $this->pivotWidget->model;` and it doesnt work?

[2019-12-12 11:59] tobias-kuendig commented on #209
Looks like you're on to something! A quick test with this change seems to work:
https://github.com/OFFLINE-GmbH/october/commit/5cc91dcde4b3e2dfe20933137d8de718f837a3ad

I must have used `$this->manageWidget` instead of `$this->pivotWidget`!

[2019-12-12 12:14] tobias-kuendig commented on #209
https://github.com/octobercms/october/pull/4822

Looks like this is all that's needed to fix this. I'll do some testing and submit a PR.

[2019-12-13 09:33] bob-tm opened #531 "Ability to change StaticPages Layout per language"
I have a multi-language site. Some pages on main language was upgraded to new layout. But localized pages are still on old-layout.
I can manually add
**layout = "old-layout"** to each **static-pages-de\*.htm**  and everything rendered as I want:
Main page works in new-layout, but localized in old-layout. But I have different {variable} fields, so I can not edit localized pages in control panel, ev

[2019-12-17 00:34] mjauvin commented on #531
the above link will be disabled in 4 days.

[2019-12-18 12:45] mjauvin commented on #508
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-12-18 12:45] #508 closed

[2019-12-18 12:46] #518 closed

[2019-12-18 12:46] #506 closed

[2019-12-18 12:48] mjauvin commented on #505
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-12-18 12:48] #505 closed

[2019-12-18 12:52] mjauvin commented on #502
@massimomegistus did you pickup the bounty on this?

[2019-12-18 12:54] #502 closed

[2019-12-18 12:56] mjauvin commented on #506
@Samuell1 did you solve this?

[2019-12-18 13:05] mjauvin commented on #365
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-12-18 13:15] Samuell1 commented on #506
@mjauvin No and yes :D I doing it this way

[code]

[2019-12-18 13:15] mjauvin commented on #475
@slowpokefarm I didn't have time to look further into this. Did you make any progress? Do you still have the problem with latest core/plugin versions?

[2019-12-18 13:21] mjauvin commented on #384
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-12-18 13:21] #384 closed

[2019-12-18 14:01] bob-tm commented on #531
I need direct file access, so I can't reproduce it in your CMS. But I create mine :)
Theme: https://en.babenko.info/cp/test.zip
![layout](https://user-images.githubusercontent.com/47008924/71091546-f7e10700-21ad-11ea-8707-a91ca217fe87.png)

EN version in new layout.
UA version in old layout.

https://en.babenko.info/test and https://ua.babenko.info/test
https://en.babenko.info/test-patched and htt

[2019-12-18 14:12] bob-tm commented on #531
https://en.babenko.info/backend
login and pass: mjauvin
please tell me when you don't need it.

[2019-12-18 14:36] alxy commented on #475
It might be resolved by https://github.com/octobercms/october/pull/4822

[2019-12-18 14:41] mjauvin commented on #531
@bob-tm what do you mean "file access" ? There is a console where you can access the filesystem for the october installation in that container.

[2019-12-18 14:43] mjauvin commented on #531
The link to your environment (https://en.babenko.info/backend) leads to a 404 page

[2019-12-18 14:47] bob-tm commented on #531
oops :)

Fixed.

[2019-12-18 14:49] mjauvin commented on #531
@bob-tm can ou check the provided test container, I would prefer if this oculd be done there for testability/reproducability

[2019-12-18 14:58] mjauvin commented on #475
@RonMen @slowpokefarm Could you guys test the PR above mentioned by @alxy from this container:

   https://64c1aa1b0741.octodock.com/backend

user/pass = admin/admin

[2019-12-18 15:04] bob-tm commented on #531
I will try to install theme https://en.babenko.info/cp/test.zip to your container.

[2019-12-18 15:23] bob-tm commented on #531
Done!

https://72ba5d724105.octodock.com:8443/en/test
https://72ba5d724105.octodock.com:8443/ua/test

https://72ba5d724105.octodock.com:8443/en/test-patched
https://72ba5d724105.octodock.com:8443/ua/test-patched

[2019-12-18 15:49] mjauvin commented on #531
Ok, I see what you mean, but it's not possible/supported to have different layouts for the same page for its different localizations. This just won't work.

And frankly, I don't see why anyone would need that.

[2019-12-18 16:39] bob-tm commented on #531
When content changed, translated versions not always ready as fast, as main text. In my case layout also was changed. It's temporary solution while translation is synced (which can take weeks).

[2019-12-18 17:38] mjauvin commented on #531
I don't see an easy way to fix this without a complete rewrite of the translate plugin.

[2019-12-18 17:38] #531 closed

[2019-12-18 17:51] mjauvin commented on #447
Interesting find: if you hold CTRL when clicking on the locale for the placeholder (which will change locale for all translatable fields on the page), the content DOES get saved properly, even if the main content is empty...

I'll keep digging to find a fix for this.

[2019-12-19 08:18] slowpokefarm commented on #475
@mjauvin I gave up on the idea once I got stuck in my research, right now I can't test it sadly

[2019-12-19 10:38] massimomegistus commented on #502
@mjauvin not yet. I'm going to try :)

[2019-12-22 21:18] mjauvin opened #533 "Mail Templates translation"
Content files can be translated by affixing the locale code to the file name. We need to apply the same technique to translate Mail template files.

People are translating the mail templates themselves using the twig filters. This is a bad idea because when the mail is processed in a queue, it loses the locale setting.

[2019-12-26 03:44] mjauvin commented on #533
I think this could be implemented by hooking into the "mailer.beforeSend" event and modifying the $view parameter in the event handler

[2020-01-08 20:43] emilhakobian opened #536 "Translate plugin doesn't show message in "Update messages" section"
I can see languages and translations in database.
<img width="1440" alt="Screen Shot 2020-01-09 at 12 42 56 AM" src="https://user-images.githubusercontent.com/4651893/72014247-f40a4700-3278-11ea-8cb7-a24d2d61348b.png">

[2020-01-08 20:46] mjauvin commented on #536
Please, what version of October and Translate plugin are you using?
Can you provide more details?

[2020-01-08 21:27] emilhakobian commented on #536
Plugin version 1.6.2
October build Build 464

[2020-01-08 21:29] mjauvin commented on #536
Try disabling all plugins except Rainlab.Translate

I cannot reproduce this with same versions

[2020-01-08 21:34] emilhakobian commented on #536
I had following languages:
1. English - en
2. Russian - ru
3. Armenian - am

Then I have added new languages
4. English new - en-US
5. Russian new - ru-RU
6. Armenian new - am-HY
And removed old ones.
Then renamed 4,5,6 to en, ru, am accordingly.
Even after changing codes back to initial state I'm still facing this issue.

[2020-01-09 02:15] bennothommo commented on #536
@emilhakobian Would you mind checking if there's any JavaScript issues being thrown in your browser console? Also, double-check if any messages are being added to the `storage/logs/debug.log` that might give an indicator as to what is occurring.

[2020-01-09 07:22] emilhakobian commented on #536
There are no errors in my console (see attachment), also there is no debug.log in storage/logs although my application debug mode set to **true**, I can see only the system.log.

![out](https://user-images.githubusercontent.com/4651893/72046589-314ef300-32d2-11ea-82da-cb098e84eeb2.gif)

[2020-01-09 19:10] emilhakobian commented on #536
Any news on this?
I have re-installed all translation and translation-related plugins, still the same.

[2020-01-09 19:26] mjauvin commented on #536
I think it's related to issue #231 ... since you removed the default language, the translations have been lost.

[2020-01-09 19:35] emilhakobian commented on #536
So what should I do now?

[2020-01-09 19:48] mjauvin commented on #536
Either restore from db, and RENAME the languages instead of adding new / deleting old

[2020-01-09 19:48] mjauvin commented on #536
Or redo the translations

[2020-01-09 19:56] emilhakobian commented on #536
I have uninstalled the plugin and installed it again.  Why the behavior is not the same as when I first time installed the plugin?

[2020-01-10 21:14] mjauvin commented on #536
Did you restore your database ?

[2020-01-10 21:15] mjauvin commented on #536
duplicate of #231

[2020-01-10 21:24] emilhakobian commented on #536
What do you mean restore the database? Could you explain this in detail?

[2020-01-10 21:45] #447 closed

[2020-01-10 22:01] mjauvin commented on #475
@RonMen any chance you can give this a go and let us know?

[2020-01-10 23:02] mjauvin commented on #536
If you have MySQL Database backups that were done BEFORE you changed the default language, you can restore the database from the backup to recover your translations.

Otherwise, you'll need to redo the translation from scratch.

[2020-01-14 15:13] emilhakobian commented on #536
Hi,
I have figured out that I have no  DB backup. Could you tell me what you mean by saying "redo the translation from scratch"?
Because I have removed all translations and uninstalled plugin. After Installation, I found the same issues. - No translation keys (and no way to scan messages)
- No way to change the language in Blog, News, title, etc.

[2020-01-14 17:08] mjauvin commented on #536
Then I suggest disabling all plugins to make sure nothing is interfering with the default Translate plugin behavior.

[2020-01-14 17:19] emilhakobian commented on #536
Unfortunately the same !
![image](https://user-images.githubusercontent.com/4651893/72366363-8eeca080-3713-11ea-9ad8-29ceba519bde.png)

[2020-01-14 17:23] mjauvin commented on #536
Something is not right in your setup, you should AT LEAST have a header at the top of that page as shown in the screenshot below:

![Screenshot from 2020-01-14 12-23-03](https://user-images.githubusercontent.com/2013630/72366659-b2d6c480-36c8-11ea-864f-85632ed3200c.png)

[2020-01-14 17:24] mjauvin commented on #536
What version of October are you running?

[2020-01-14 17:26] emilhakobian commented on #536
464

[2020-01-14 17:27] mjauvin commented on #536
Do you get the same behavior in other browsers (would be better if no extensions are installed in the browser for this test).

[2020-01-14 17:28] mjauvin commented on #536
Something is definitely interfering with the rendering of that page. Did you tweak anything in config/* or elsewhere!?

[2020-01-14 17:46] emilhakobian commented on #536
Same in other browsers and even on another computer.
I've found that there is a database row in backend_user_preferences table :

id	user_id	namespace	group	item	         value
10	1	        backend	        hints	hidden	{"translation_messages_hint":1}

When I delete this row
<img width="800" alt="Screen Shot 2020-01-14 at 9 41 22 PM" src="https://user-images.githubusercontent.com/4651893/72367961-9

[2020-01-14 17:49] mjauvin commented on #536
I have NO IDEA. @daftspunk @LukeTowers @bennothommo ?

[2020-01-14 22:34] LukeTowers commented on #536
@emilhakobian are you using symlinks anywhere in your installation?

[2020-01-17 07:41] tobias-kuendig opened #539 "Translations are no longer loaded for models with custom morph aliases"
This is kind of a nasty bug:

The newly added `translations` morph many relation now respects any custom morph map aliases:

[code]

Up until this change, `get_class()` was used to determine the `model_type`, so in the attributes table the following data was saved:

| model_type         |
|--------------------|
| My\Model\Namespace |

As the translations are now loaded via a `morphMany` relationsh

[2020-01-19 07:05] LukeTowers commented on #539
Could you try explaining this a bit more for the less familiar with the code?

[2020-01-19 13:26] tobias-kuendig commented on #539
The translatable attributes are essentially a morph many relationship. The `rainlab_translate_attributes` table contains a `model_id` and `model_type` where references to the related model are stored.

The translate plugin uses [custom code to save the attributes](https://github.com/rainlab/translate-plugin/blob/6a73beb0906dfdee1d66a1959058d8ed45de9293/behaviors/TranslatableModel.php#L149) and doe

[2020-01-20 01:16] LukeTowers commented on #539
@tobias-kuendig yikes. I didn't realize that setting a morph mapping for a class set it application wide, that seems like a bad idea. Honestly I'm not really a fan of the custom morph maps anyways, they seem to just make it harder to determine what's really going on without that big of a benefit (supposedly easier to change out the underlying model class, but really if you're making that sort of c

[2020-01-20 01:20] bennothommo commented on #539
@LukeTowers I'd vote for not supporting morph maps at all and ignoring those aliases. They don't really fit in with our architecture (especially in the sense of plugins) - it's more useful for Laravel apps where there's only a single app running on the codebase.

[2020-01-20 01:26] LukeTowers commented on #539
@bennothommo so what would that look like as a change to the Translate plugin to fix the issue at hand? Also, should we add a note about that to the documentation to discourage plugin authors from using morph maps? I do agree that we should be discouraging their use in October, they're pretty dangerous in an ecosystem with plugins that do very similar things and are named similarly.

[2020-01-20 09:34] #539 closed

[2020-01-20 09:35] daftspunk commented on #539
What an annoyance. After some discussion about whether we should allow overriding the morphMap, we decided it was better to just use a forward-looking fix and migrate the affected areas. Thanks for the fix @tobias-kuendig !

[2020-01-20 23:23] anthedue opened #542 "Hiding content when not translated"
It would be amazing if we could hide text if it's not translated.

[2020-01-21 07:28] LukeTowers commented on #542
@anthedue GitHub issues aren't really the place for feature requests like this one unless you plan on either sponsoring the addition of it or working on a PR to implement it yourself. Please let me know if either of those apply and I'll reopen the issue :)

[2020-01-21 07:28] #542 closed

[2020-01-28 02:05] AdrienAdB opened #543 "SettingsModel with API issue"
Hi all,

I implemented translatable in my settings model. Fields are translatable and it works well from backend. I am using October with React, and when doing a GET via API, the controller doesn't switch locale. Did I miss something?

[code]

[code]

[code]

[2020-01-28 02:50] AdrienAdB commented on #543
It works on none array fields by calling model where(item, $settingsCode).

[code]

[2020-01-28 10:03] tobias-kuendig opened #544 "[Laravel 6] Missing required parameters for [Route: ]"
I just upgraded my local installation to the new Laravel 6 base. It seems like the locale prefixes are not correctly detected.

When visiting `/en/category/test`, this exception is thrown:

Navigation to all pages fails. If I remove the locale prefix, the page loads correctly (`/category/test`).

Full stack trace:

[code]

[2020-01-28 12:34] mjauvin commented on #475
@RonMen can you at least let us know if you're not interested anymore in this?

[2020-01-28 15:03] bennothommo commented on #544
@tobias-kuendig The fix is to change [this line](https://github.com/rainlab/translate-plugin/blob/bb99e3ab7d436f2ef44220e0241041e0ffb52f56/routes.php#L33) and [this line](https://github.com/rainlab/translate-plugin/blob/bb99e3ab7d436f2ef44220e0241041e0ffb52f56/routes.php#L44) to use `{slug?}`, but I'm not sure we can push out a version with this fix until *after* the L6 upgrade is finished.

[2020-01-28 16:58] LukeTowers commented on #544
@bennothommo we can push it out on a separate `wip/laravel-6` branch on that plugin and then people can test it by pulling the plugin in with Composer.

[2020-01-29 02:32] bennothommo commented on #544
@LukeTowers good idea.

@tobias-kuendig Would you be able to pull in the changes here and give that a test to see if it resolves the issue for you:
https://github.com/rainlab/translate-plugin/commit/3e31cee945f3cde55cab0ebd0fa278555207302e

[2020-01-29 06:07] tobias-kuendig commented on #544
:ok_hand: problem solved!

[2020-01-29 06:18] bennothommo commented on #544
@tobias-kuendig Great stuff!

Fixed as of https://github.com/rainlab/translate-plugin/commit/3e31cee945f3cde55cab0ebd0fa278555207302e.

[2020-01-30 01:30] chrisvidal opened #546 "Exception from Translate plugin when doing Unit Test"
Given that my plugin is depending on a depending who is depending on Rainlab.Translate.
I am writing (well at least trying) to write some unit test for my plugin, testing API endpoints mostly, and I got this exception:

The test class manages to run the `setUp()` method.

[code]

[2020-01-30 07:51] Ladylain opened #547 "Event not firing"
Hi

**OctoberCMS :** version 464
**PHP :** 7.2.19
**Plugins :**
- Rainlab.Builder
- Excodus.TranslateExtended
- Rainlab.Translate

### Issue
I have a model named `Article` where I have a translatable `Slug`
I use **CMSPage** to display an **Article** with the **Slug** as **URL parameter**.

I'm using the **Extended Locale Picker** from _Excodus.TranslateExtended_ plugin, this one just extends _Rai

[2020-01-30 17:01] LukeTowers commented on #547
@Ladylain I feel like this is a problem with the Excodus.TranslateExtended plugin

[2020-01-30 17:03] Ladylain commented on #547
@LukeTowers i've just finished to test this bug on another project and it seems that all works fine. The second project have also Excodus.TranslateExtended plugin

I don't know why this is not working for now, i'm investigating.

[2020-01-30 17:10] LukeTowers commented on #546
The testing class you are using isn't properly tearing down the application after each test run. Please verify that you have the latest code. Additionally, we're making some pretty big improvements to testing in the L6 upgrade branch, so perhaps you should wait until https://github.com/octobercms/october/pull/4919 is merged into the upgrade branch and then use the upgrade branch to build your test

[2020-01-30 17:25] Ladylain commented on #547
@LukeTowers you can close this issue ! i've found the solution. It was my mistake, i have a lot of code in my plugin and i was doing this :
[code]

so, unless i was on the backend the listener could not work. :(

#### Resolution of function boot() in plugin.php :
[code]

sorry for wasting your time, and thanks for your help

best,

[2020-01-30 17:25] #547 closed

[2020-01-31 02:49] chrisvidal commented on #546
thanks @LukeTowers
ya I have the latest version of each plugin and the last OC build as well.

I can wait for the next upgrade branch for this tests, sure,

my base test case class looks like the example from the doc.

[code]

[2020-01-31 17:53] LukeTowers commented on #546
@chrisvidal try adding this method:

[code]

[2020-02-01 02:47] chrisvidal commented on #546
thanks @LukeTowers

adding this in my base test class, still gives me the error

[code]

[2020-02-01 03:57] LukeTowers commented on #546
@chrisvidal alright, got another idea for you. Remove that code, it's not really applicable unless you're using SQL views.

Instead, add in
[code]
to your `setUp()` method.

[2020-02-01 03:58] LukeTowers commented on #546
Related: #509

[2020-02-01 04:06] chrisvidal commented on #546
oh this is working @LukeTowers
no more exception

thanks so much mate

[2020-02-01 04:53] chrisvidal commented on #546
damn! after few positive testing, a new exception is happening on the tearDown() method

[code]

[2020-02-02 14:09] LukeTowers commented on #546
@chrisvidal also add
[code]

[2020-02-03 01:55] chrisvidal commented on #546
thanks @LukeTowers
just tried and still gets this exception

[code]

[2020-02-03 06:56] LukeTowers commented on #546
@chrisvidal are you sure it's accessing the correct database? @bennothommo any ideas here?

[2020-02-03 07:53] bennothommo commented on #546
@chrisvidal Another couple of things to check:

- Make sure that your plugin explicitly depends on the Translate plugin (ie. in the `Plugin.php` file, the `RainLab.Translate` plugin has been added to the `$require` property.
- Are you using SQLite as your default connection? If so, there's a bug in the current test suite where it will use your actual database connection instead of the test one if

[2020-02-07 08:50] AdrienAdB commented on #543
Hello, issue was not related to Settings Model but array not being translated.
I close issue as title can be confusing.

[2020-02-07 08:50] #543 closed

[2020-02-10 08:15] bennothommo opened #551 "1.6.8"
Release 1.6.8 of RainLab.Translate

[2020-02-10 08:16] #551 closed

[2020-02-10 08:16] bennothommo commented on #551
Derp :( This is supposed to be a milestone.

[2020-02-10 09:57] mvk843 opened #552 "How to translate jsonable fileds?"
Hello!
I have
`protected $jsonable = ['base', 'works', 'time', 'result'];`
and
`public $translatable = ['name, base, works, time, result'];`
It looks like:
https://i111.fastpic.ru/big/2020/0210/16/39e788e61fdd2eebc9d2a8113554af16.png
So there is no option for entering translated values.
Is there any solution?

[2020-02-10 10:05] mjauvin commented on #552
can you give more details like the fields definition file?

[2020-02-10 10:58] mvk843 commented on #552
`fields:
    name:
        label: Name
        span: full
        required: 1
        type: text
    price:
        label: Price
        span: full
        required: 1
        type: text
    slug:
        label: Slug
        span: full
        preset:
            field: name
            type: ''
        type: text
    base:
        label: Tools
        prompt: 'Add new item'
        span: full

[2020-02-10 11:00] mvk843 commented on #552
https://i111.fastpic.ru/big/2020/0210/c8/563615b14aae7c8ed472fc9e8cb861c8.png

[2020-02-10 11:24] mjauvin commented on #552
Please, use the Discord channel to post questions and get help. Github Issues are for reporting bugs.

discord: https://discord.gg/gEKgwSZ

[2020-02-10 11:24] #552 closed

[2020-02-12 14:48] mjauvin commented on #475
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-02-12 14:48] #475 closed

[2020-02-13 05:57] chrisvidal opened #553 "Plugin is not escaping the params value"
consider this twig:

`{{ 'Welcome back :user'|_({user: user.firstname}) }}`

the value `user.firstname` is not escaped.

if `user.firstname` is something like `<script>alert('hi there')</script>`, the script will run

[2020-02-13 12:41] mjauvin commented on #553
Hi Chris, if you can test this that would be nice. I can setup an environment with the PR applied if you wish.

[2020-02-13 20:26] Trysystems opened #555 "MLControl getLocaleValue empty on default locale if we use array field"
Hello!

For a long time I have problem with translate fields like:
[code]

So getAttributeTranslated function in MLControl return empty value on line 158 (because TranslatableBehavior class can't find nested key with function getAttributeFromData on line 150).

Fix for me - change string 157 in MLControl trait from:
`elseif ($this->model->methodExists('getAttributeTranslated') {` to:
`elseif ($thi

[2020-02-13 20:46] mjauvin commented on #555
Can you please submit a PR for this, we'll look into this.

Thanks.

[2020-02-14 04:24] bennothommo commented on #553
@chrisvidal You can escape it just by adding an `|e` filter to the Twig placeholder:

ie. `{{ 'Welcome back :user'|_({user: user.firstname})|e }}`

[2020-02-14 05:05] chrisvidal commented on #553
@bennothommo thanks, good to know
@mjauvin I tested on the instance, with this:
[code]

[2020-02-16 13:10] mjauvin commented on #555
duplicate of #303

[2020-02-16 13:10] #555 closed

[2020-02-17 06:10] mittultechnobrave opened #557 "Redirect with hash"
I have one custom requirement in which I am generating hash in url (i.e. http://localhost/ibis/whats-on/details#2020-sydney-international-whitewater-event - **#2020-sydney-international-whitewater-event**).

Now the thing is, when I am supposed to redirect using below code,

     {% for code, name in locales %}
                               <a class="dropdown-item" href="#" data-request="onSwitch

[2020-02-17 07:56] mic8 commented on #536
Same issue here, any updates for this issue?

[2020-02-17 12:29] mjauvin commented on #557
Did you try setting forceYrl to false in the localePicker component?

[2020-02-17 12:34] mjauvin commented on #536
@mic8 are you using symboluc links anywhere in your october installation?

[2020-02-17 13:02] mic8 commented on #536
@mjauvin what kind of symbolic links?

[2020-02-17 13:04] mittultechnobrave commented on #557
Yes I have tried setting it without any luck.

[2020-02-17 13:09] mjauvin commented on #557
this is already discussed in slack

[2020-02-17 13:09] #557 closed

[2020-02-17 13:11] mjauvin commented on #536
only one kind I know of.

is this happening on a fresh install of October?

[2020-02-17 13:24] mittultechnobrave commented on #557
Not sure why its `closed`. Its not yet solved.

[2020-02-17 13:59] mic8 commented on #536
I don't think there are any symbolic links like that on fresh install of October

[2020-02-17 14:08] mjauvin commented on #536
No, there aren't, that's why we're asking if you added any because that might break things.

[2020-02-17 14:39] bennothommo commented on #536
@mic8 @emilhakobian I can confirm I've had no issues loading the Translate table, even following the instructions provided earlier.

The only way I can replicate this is either by using a symlink to the Translate plugin (storing the plugin files outside of the project folder) and having the config variable `cms.restrictBaseDir` set to `true`, or by faking a JavaScript error during the load process

[2020-02-18 03:27] mjauvin commented on #557
URL fragments (part of URL after#) are not sent to server. This is all handled client side by the browser.

[2020-02-18 12:24] pavsid commented on #365
Just adding to this for the record. Still haven't managed to create a solid test case to replicate the issue, but for what it's worth, it looks like the offending piece of code is in `modules\backend\formwidgets\richeditor\assets\js\build-min.js` on line 1706...

[code]

Seems that the "FF" is intentional, and is replaced with 'FROALA-SM' on line 1708, which in turn is then replaced with an empty

[2020-02-19 16:36] v-bubar opened #558 "Indirect modification of overloaded property in TranslatableModel"
I used October CMS build 458  and RainLab.Translate version 1.6.2 and had no problems.
Now i've started a new project with October CMS 464 and RainLab.Translate version 1.6.7.
Now I'm getting this:
[code]

It happens for example when I'm opening a backend table with models that implement `TranslatableModel` behavior.

[2020-02-19 16:47] mjauvin commented on #558
I am using the same versions you are and I am not getting this error.

What plugins do you use? Did you extend any plugins?

[2020-02-19 16:52] v-bubar commented on #558
@mjauvin Yes, in fact I use my own version of Pages Plugin, that, in turn utilises `TranslatableModel`.

[2020-02-19 17:14] mjauvin commented on #558
Ok, in your plugin, did you add $morphMany relations by any chance?

[2020-02-20 02:44] mjauvin commented on #558
Can you share the code in your model related to the morphMany relation?

I tried to reproduce this and couldn't.

[2020-02-20 10:27] v-bubar commented on #558
@mjauvin It is the `RainLab\Pages\Classes\MenuItem` class from the said Pages plugin. I've double-checked it, and it has no other changes apart from implementing the `TranslatableModel` behavior  and no morphMany relations defined by me explicitly.
However since `MenuItem` is not an Eloquent model there is some kind of conflict between its parent classes and `TranslatableModel`. I still can't say

[2020-02-20 11:52] mjauvin commented on #558
But you can't implement TranslatableModel if it's not a Model...

[2020-02-20 13:19] v-bubar commented on #558
@mjauvin It is not an **Eloquent** model. It is a Halcyon model, which is surely not the same thing but until some point was close enough to use with `TranslatableModel`.

Anyways, I think found what I was doing wrong,  it is really my fault and not a Plugin bug, so sorry for bothering...

[2020-02-20 13:40] #558 closed

[2020-02-25 23:35] multiwebinc commented on #544
I am still getting this error if the "Route prefixing" setting is enabled. I am using Translate 1.6.7 with https://github.com/rainlab/translate-plugin/commit/3e31cee945f3cde55cab0ebd0fa278555207302e applied.

[2020-02-26 03:14] bennothommo commented on #544
Thanks @multiwebinc - I will check it out.

[2020-02-28 14:37] #376 closed

[2020-03-15 06:50] mjauvin commented on #536
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-03-15 19:48] mjauvin commented on #365
@pavsid is this bug reproducible WITHOUT the Translate Plugin enabled?

[2020-03-15 21:28] mjauvin commented on #333
Cannot reproduce anymore.

[2020-03-15 21:28] #333 closed

[2020-03-15 21:31] mjauvin commented on #546
@chrisvidal has this been resolved? Can we close this?

[2020-03-15 21:35] mjauvin commented on #209
@tobias-kuendig is #520 a duplicate of this one?

[2020-03-16 02:10] chrisvidal commented on #546
I haven't had time to look deeper into it. And deciding to wait for the Laravel 6 upgrade.

[2020-03-16 02:21] #546 closed

[2020-03-16 19:56] #303 closed

[2020-03-16 22:17] #523 closed

[2020-03-18 01:21] mjauvin commented on #362
I suggest setting Froala's `imagePaste` option to false in the MLRichEditor formwidget in order to prevent the problem from happening.

I submitted a PR to allow setting this when using the RichEditor formwidget. See https://github.com/octobercms/october/pull/4990

[2020-03-18 02:04] mjauvin commented on #231
@daftspunk did you figure out a way to address this?

[2020-03-18 14:31] mjauvin commented on #362
@bennothommo I tried an event handler for Froala's `image.beforePasteUpload` event as shown below, but no matter what I try, the image is still pasted in the editor:
[code]

The "hello world!" alert displays when pasting the image, so I know the function gets executed.

The doc says if one returns false from the handler, the event should be cancelled, but apparently this is not working. If I could

[2020-03-18 15:03] mjauvin commented on #365
@daftspunk could you take a look into this since you're the only one with the actual Froala's source code?

[2020-03-18 15:24] mjauvin commented on #407
I don't know if this was fixed at some point, but it works fine for me.

[2020-03-18 15:24] #407 closed

[2020-03-18 15:38] mjauvin commented on #495
I tried reproducing this with latest core and Pages plugin and it's now working fine.

[2020-03-18 15:38] #495 closed

[2020-03-18 15:57] bennothommo commented on #362
@mjauvin you'll need to ask @daftspunk if he can investigate the source code as to the workings of the event.

[2020-03-18 15:59] mjauvin commented on #448
This is a bug in Froala's image plugin, most likely.

@daftspunk can you take a look in Froala's image plugin code for this?

[2020-03-18 16:01] mjauvin commented on #362
@daftspunk can you investigate this in Froala?

[2020-03-19 03:05] LukeTowers commented on #362
@mjauvin does the return false work if you assign the event the way it's mentioned in the Froala docs, attaching the listener in the initialization of the editor.

[2020-03-19 17:14] mjauvin commented on #362
couldn't make this work

[2020-03-20 06:07] multiwebinc opened #563 "Changing non-alphanumeric characters does not change the string"
Let's say, for example, I have the following string in one of my views:

[code]

Then I later change my mind and decide to move the `:` outside the translation string:

[code]

I then do a re-scan of the translate messages, however the string is still listed as `Choose one of the following:` with the `:` within the string, and when the translators see this, they will assume they need to include th

[2020-03-20 11:09] pavsid commented on #365
99% sure it isn't, because I have only ever noticed it happen after switching between languages in the editor.

[2020-03-20 14:34] #553 closed

[2020-03-20 14:40] mjauvin commented on #563
Yes, this is a known limitation. You need to delete the translation message and rescan.

What you suggest would wirk, but would cause major backward compatibility issues.

[2020-03-20 15:58] multiwebinc commented on #563
@mjauvin What major backward-compatibility issues would it cause? Besides using it for an index to quickly find strings internally in the plugin, do other plugins somehow access these strings for another purpose?

[2020-03-20 18:05] mjauvin commented on #563
@multiwebinc Anyone with the plugin currenlty installed would have major problems when updating the plugin to a version using a hash for the code since all their existing translations would be lost.

We'd need to do a migration but this could potentially create havoc.

[2020-03-20 18:53] mjauvin commented on #563
FYI, I submitted a PR to allow overriding the method used to generate the messageCode.

ref, #564

[2020-03-21 03:08] multiwebinc commented on #563
This is exactly what I was thinking as well. As long as no external plugins rely explicitly on the storage method used for the Translate plugin, run a migration on next update that simply updates all current codes to hashes.

Another option would be to select rows where the row is either a hash or the result of the current function. Of course, that adds slightly more computational power, but might

[2020-03-22 00:23] mjauvin commented on #563
@daftspunk what's your take on this, should we transition to md5 hash as we discussed before?

[2020-03-25 05:05] mjauvin commented on #492
l{Looks like this is only happening if there is no repeater field created for the default language

[2020-03-25 15:23] haralake commented on #492
I also test it with and without repeater field on default language, i get the same issue. This behavior is not happened on default language.

[2020-03-25 15:39] bennothommo commented on #492
@haralake Thanks for the further info. I will investigate more and will let you know if I find anything.

[2020-03-30 06:27] tobias-kuendig commented on #209
It looks like in #520 the MLText widget is not loaded (so no language selector is displayed). This issue is about the translated values from the MLText widget not being stored in the database.

[2020-03-30 08:41] adrian-marinescu-ch commented on #279
@mjauvin I encounter same issue by trying to translate the `MailTemplate` model. Has anyone found a solution for this?

[2020-03-30 13:45] mjauvin commented on #279
@adrian-marinescu-ch If I add the following, it seems to work just fine:
[code]

[2020-03-30 14:32] mjauvin commented on #520
Translation of relation fields not supported.

[2020-03-30 14:32] #520 closed

[2020-03-30 15:27] adrian-marinescu-ch commented on #279
@mjauvin I somehow figured out, first **you need to have e-mail templates imported in the database**: `\System\Models\MailTemplate::syncAll();` and only after that you can make the model translatable. If not, you'll get `$jsonable` error. I synced the mail templates on seed and now everything works just fine. This is my extend code:
[code]

[2020-03-30 15:42] mjauvin commented on #279
@adrian-marinescu-ch do you get the same behavior if you use the exact following code?
[code]

[2020-03-31 14:33] mjauvin commented on #209
@tobias-kuendig @LukeTowers I confirm the 3rd change (to onRelationPivotUpdate) does solve the problem when updating a Pivot relation in a popup widget.

I could not reproduce the one for onRelationManageCreate() though, this works for me with or without the fix when creating a brand from the product's description (I'm talking about the change below here):

https://github.com/octobercms/october/pu

[2020-03-31 15:02] mjauvin commented on #209
So I confirm this issue is reolved by https://github.com/octobercms/october/pull/4822/files#

[2020-03-31 17:44] #209 closed

[2020-04-05 09:16] over12 opened #567 "Error using lang.yaml in theme"
Hi guys!

I followed the tips in the document which explains how to put translations into an october theme.
For you to understand how I structured my code, follow below ...

Folder config with files lang.yaml
https://prnt.sc/rtci4k

My file lang-pt-br.yaml open
[code]
My file theme.yaml open
[code]
In my HTML I inserted this code...
`{ development|_ }} <i class="fas fa-heart heart-icon text-danger

[2020-04-05 12:03] mjauvin commented on #567
I see three problems:

1. looks like you're missing an indentation in theme.yaml in front of  "pt-br:"

2. you need to "quote" your translation strings like `{{ "footer.by" | _}}`

3. in your example you define "footer.development" but reference it without the footer prefix... should be `{{ "footer.development" | _ }}`

[2020-04-06 05:35] #525 closed

[2020-04-06 10:27] over12 commented on #567
Hi @mjauvin, thanks for answers..

The items you mentioned above is that I had done several tests in different ways, and when I made the post I forgot to go back to the original form that was in the guide.

Anyway, I did the issue of indentations and even then it doesn't work, the only thing I didn't try was to wrap the footer.development parameter in quotes, but it didn't work and it was like thi

[2020-04-06 13:50] mjauvin commented on #567
Did you rescan under Settings/Translate Messages?

[2020-04-06 17:38] #567 closed

[2020-04-10 10:51] arustler opened #570 "Date translation, Question"
So I was reading on Issue #338 alot. AFAIK if I use the |date Filter on a Carbon or DateTime Object it should also be translated, shouldn't it?
I did a fresh install of OctoberCMS (build 465) and installed the Translate Plugin. I did the same test @munxar did:
[code]
The output for the **_de locale_** comes to:
[code]
I did some tracing and figured out that the Argon Object extends the Jessengers\

[2020-04-10 14:36] mjauvin commented on #570
@arustler thanks for the thorough investigation on this, I'll look into this as soon as possible.

[2020-04-10 17:46] arustler commented on #570
@mjauvin thx... let me know if I can provide any more information since I tried to dig into it.
As far as I traced the mechanism:

1. RainLab.Translate Plugin Translator.php `public function setLocale($locale, $remember = true)`
2. October\Rain\Foundation\Application Application.php `public function setLocale($locale)`
    see commit octobercms/library@16f7a286d8c90fb114d3abc9f7a51218c414c1f7
3. I

[2020-04-12 12:04] flyingbaba opened #571 "Issue with longer then 191 chars code"
A bit strange behavior with translatable messages then they are longer then 191 chars. The code field in DB is 191 chars, but in Message model function makeMessageCode($messageId) returns a string limited to 250 symbols. I think here is a bug, but you should know better.

return Str::limit(trim($messageId, $separator), 250);

[2020-04-12 12:23] mjauvin commented on #571
#566 will take care of this.

In the mean time, I suggest two alternatives:
* use a short *key* and add both a default language translation and the other translation(s) on the Translate Messages page
* use translatable content blocks (https://github.com/rainlab/translate-plugin/blob/master/README.md#content-translation)

[2020-04-12 12:23] #571 closed

[2020-04-13 08:18] flyingbaba commented on #571
Sure, thanks for suggestions !

[2020-04-14 10:51] Samuell1 commented on #140
Having same issue.

[2020-04-14 11:06] mjauvin commented on #140
For very long text, you should use content blocks. See here:

https://github.com/rainlab/translate-plugin/blob/master/README.md#content-translation

[2020-04-14 11:21] Samuell1 commented on #140
@mjauvin But that cant be edited trough backend.

[2020-04-14 11:23] mjauvin commented on #140
yes, under CMS pages / Content

[2020-04-14 11:28] Samuell1 commented on #140
But still it should work there too for just simple text strings, there isnt limit for column size limit.

[2020-04-14 15:59] bennothommo commented on #140
@Samuell1 That message editor was not designed for long form text, it's meant for small messages. @mjauvin is right, there's better places for large textual translations.

[2020-04-20 07:47] adrenth opened #574 "Indentation issue"
https://github.com/rainlab/translate-plugin/blob/bf83bfb5a569577506242527689043be4700ce2c/updates/version.yaml#L79

This breaks all build processes on our side :-(

[2020-04-20 07:49] bennothommo commented on #574
Thanks for letting us know @adrenth - fixed as of https://github.com/rainlab/translate-plugin/commit/4aac31562191f79a9ed018ed7f81b6c9a95f2460.

[2020-04-20 07:49] #574 closed

[2020-04-20 07:54] adrenth commented on #574
Not sure if your change has any effect for users who have already downloaded 1.7.0. Does this change appear in version 1.7.1 or do I have to stick with version 1.16.* for now.

[2020-04-20 12:27] mjauvin commented on #570
I looked further into this and the date twig filter uses DateTime php module which does not support locale.

We'd need to override the date twig filter in here to solve this.

I started work on this and it's promising, although not complete. I'll include my so far in here so you can test.

[2020-04-20 12:49] mjauvin commented on #570
[code]

[2020-04-20 12:50] mjauvin commented on #570
Note: the above filter does not use the same date format as the default date twig filter.

[2020-04-20 13:11] mjauvin opened #575 "Field layout issues on mobile"
The new functionality introduced by PR #565 introduces layout positioning issues on mobile (specifically with the "hide translated" checkbox).

See screenshots below:

Before:
![Screenshot_20200420-090512](https://user-images.githubusercontent.com/2013630/79754860-2a2e7c80-82e6-11ea-968f-be05a2b8830c.jpg)

After:
![Screenshot_20200420-090712](https://user-images.githubusercontent.com/2013630/79755

[2020-04-21 03:01] bennothommo commented on #574
@adrenth I believe the Symfony Yaml parser would've seen it as part of the array for 1.6.10 so it wouldn't have registered as a new version available to people if they use the Backend to update plugins.

As for Composer, it would've downloaded the changes regardless, it just wouldn't have registered that 1.7.0 is installed. If you run `php artisan october:up` after downloading the fix above, it sh

[2020-04-21 05:58] rubenvanerk commented on #574
@bennothommo release [1.7.0](https://github.com/rainlab/translate-plugin/releases/tag/1.7.0) does _not_ include the fix and breaks our builds..

[2020-04-21 06:59] bennothommo commented on #574
@rubenvanerk Could you provide a little more info for us - when you mean it breaks your builds, are you saying that something in the most recent version isn't working? Did you update via Composer or via the Backend?

[2020-04-21 07:07] rubenvanerk commented on #574
@bennothommo
I'm using composer to require version `~1.6`. This resolves to version `1.7.0`. Version `1.7.0` points to commit https://github.com/rainlab/translate-plugin/commit/bf83bfb5a569577506242527689043be4700ce2c which means the fix you pushed (https://github.com/rainlab/translate-plugin/commit/4aac31562191f79a9ed018ed7f81b6c9a95f2460) for the indentation issue is not included in version `1.7

[2020-04-21 07:13] bennothommo commented on #574
Ah right, the tag is pointing to the old commit. I'll sort that out now.

[2020-04-21 07:17] bennothommo commented on #574
I've tagged [version 1.7.1](https://github.com/rainlab/translate-plugin/releases/tag/1.7.1) with the fix in place. This should hopefully filter out to all installs properly now. Sorry for the confusion.

[2020-04-21 07:18] rubenvanerk commented on #574
Thank you!

[2020-04-21 10:36] mohamed-aitlqadi commented on #459
@LukeTowers still same problem :( current version = 1.6.7

[2020-04-21 11:43] mjauvin commented on #459
Repeater fields are NOT translatable. Currently, you need to add the repeater name to the translatable array and add a repeater item PER LANGUAGE.

[2020-04-21 12:30] mohamed-aitlqadi commented on #459
![Screenshot (72)_LI](https://user-images.githubusercontent.com/57752232/79866056-b36baf00-83cb-11ea-80c7-1e1cda09b606.jpg)

@mjauvin thank's a lot

[2020-04-21 12:34] mohamed-aitlqadi commented on #459
![Screenshot (72)_LI](https://user-images.githubusercontent.com/57752232/79866444-54f30080-83cc-11ea-89db-712307b8aa59.jpg)

@mjauvin thanks

[2020-04-21 22:03] arustler commented on #570
@mjauvin I like that idea to overwrite the date filter. This made me think. How about we overwrite it in such a manner that we parse the incoming date with Argon and then just resend it to the original date filter since any Argon date extends the Jensseggers\Date class it will be translated. Then we wouldn't do all this locale stuff

If I have time tomorrow I will try this approach.

[2020-04-22 04:51] multiwebinc commented on #575
The problem is that it is getting cut off due to the following CSS rules:

[code]

What should the smallest supported screen width be? I think the solution depends on that. For me on Chrome, the checkbox is currently visible down to 433px screen width. If I instead make the width of the "scan errors" column width 20vh, the checkbox is visible down to 373px screen width, which would be more accepta

[2020-04-22 07:26] LukeTowers commented on #570
Or, here's a thought 😄

Pass Argon instances to the date filter like it's designed to handle instead of doing all this other work.

[2020-04-22 13:12] mjauvin commented on #570
Best version so far:
[code]
Whatever input is used, you get a localized date.

[2020-04-22 13:22] mjauvin commented on #570
Depending on where the date comes from, it's not always possible. The new filter above will convert everything back to Argon, though.

[2020-04-22 13:32] mjauvin commented on #575
@multiwebinc from the test I ran, width of 105px with the `info` icon on the left yields the best results.

[2020-04-22 16:24] multiwebinc commented on #575
105px for me always truncates the text (even on large resolutions) and even then, I can only scale it down to 392px before the checkbox starts being truncated. It needs to be at least 115px for me to see both the text and the info icon. This could be due to differences in fonts used. However it's probably not a good idea to cut it so close either, especially since when that string is translated to

[2020-04-22 18:06] LukeTowers commented on #570
I'd rather people just made sure they were using Argon instances though, since they will work everywhere in the application, not just after being run through a filter.

[2020-04-23 21:42] LukeTowers commented on #570
We can consider adding a filter like you described @mjauvin if it turns out there's a lot of demand for it but right now I don't think it's necessary.

[2020-04-23 21:45] mjauvin commented on #570
I've added it to my filters plugin.

[2020-04-24 05:49] arustler commented on #570
So I had time to try my approach and came up with this solution
[code]

[2020-04-24 05:53] arustler commented on #570
To make it failsafe Argon::parse could go in a try block and pass the $date value directly to the original Twig filter

[2020-04-24 12:45] mjauvin commented on #570
This is really neat @arustler. Unfortunately, @LukeTowers prefers we keep the current behavior.

Personally, I think this would make RainLab.Translate provide a much needed improvement to the default twig date filter.

[2020-04-24 19:08] LukeTowers commented on #570
That could constitute a breaking change to the date filter as now something that worked in |date might barf when Argon::parse() tries to handle it. We'll leave it as it is right now (either pass Argon instances to `| date` or use @mjauvin's filters plugin with the dedicated Argon processing `| ldate` filter unless I see a lot of demand for it to be a core functionality.

[2020-04-24 19:08] #570 closed

[2020-05-05 13:30] mjauvin commented on #570
@arustler Just wanted to let you know the following call is causing problems with MailTemplates:
[code]
I suggest assigning a static value if you don't want to have trouble:
[code]

If you want to test what I mean by "MailTemplates problems", under `settings->Mail Templates`, click on a mail template and then click the "send test email" and you'll see what I mean...

[2020-05-07 10:24] manuelbua commented on #365
I'm also encountering this, here are the steps i follow to solidly reproduce this:

- place the cursor or make a selection in the HTML viewer
- switch to the source
- switch back to the HTML viewer
- switch to another language
- switch back to the previous language
- the "FF" appears at the cursor or at both the start and end of the selection

![](https://i.imgur.com/jucLhA4.gif)

[2020-05-09 07:50] Zmove opened #578 "Different languages = different files"
Hello,

I red many threads about the translation of title and description of uploaded files for fileupload widget, but none about the possibility to upload a file for one language, and another file for another language, which can be a very common case when you use fileupload widget to upload PDF of text files and not images.

Is it possible actually, if yes, how ? (I tried to just add the fileuplo

[2020-05-09 16:16] mjauvin commented on #578
No, this is not currently possible.

The only way for now is to use a field of type `mediafinder` and make that field translatable.

[2020-05-09 16:16] #578 closed

[2020-05-11 12:36] acasar opened #581 "transWhere is very slow"
In one of my projects I've noticed that ``transWhere``can become very slow. I don't have a solution for this issue yet (except for running 2 separate queries), so I'm posting it here in hopes that someone else might have an idea.

I have a query like this:
[code]

The resulting query is:
[code]

In my tests it can take up to 97 seconds to execute:

![image](https://user-images.githubusercontent.co

[2020-05-11 12:46] mjauvin commented on #581
Can you check if there are indexes on all the fields used in the where/join clauses of the query?

[2020-05-11 12:52] acasar commented on #581
Indexes seem to be ok

Indexes on ``rainlab_translate_indexes``:

![image](https://user-images.githubusercontent.com/6329543/81563281-59408700-9396-11ea-8d8b-a12c6e32920d.png)

Indexes on ``sp_catalogue_products``:

![image](https://user-images.githubusercontent.com/6329543/81563778-05826d80-9397-11ea-94e3-315ee457e56d.png)

[2020-05-11 12:55] acasar commented on #581
hm.. maybe the issue is the lack of index on the ``value`` column? But since it's typed as ``mediumtext`` index can't really be added...

![image](https://user-images.githubusercontent.com/6329543/81564045-6b6ef500-9397-11ea-908f-85b16de381b9.png)

[2020-05-12 07:03] roojai commented on #460
I am also stuck with this. I understand the question - how do we make configurable options in our config/fields.yaml

[2020-05-12 11:23] mjauvin commented on #460
Please, see https://github.com/rainlab/translate-plugin/pull/559

[2020-05-12 13:32] roojai commented on #460
Thanks!

[2020-05-12 13:36] roojai opened #582 "Adding translatable: true has no effect on theme config fields"
https://github.com/rainlab/translate-plugin#theme-data-translation

I am following instructions as linked above but see no additional language options despite checking I have 3 languages enabled.

Is there a step I am missing?

[2020-05-14 01:05] mjauvin commented on #582
Are you sure you have the latest version of Rainlab.Translate?

[2020-05-14 01:15] roojai commented on #582
Hi Mjauvin,

Thanks for the follow up!

I can confirm that I am using 1.6.7 and I have tried a couple of my sites with no luck.

Please see attached screen shots.
![image](https://user-images.githubusercontent.com/31172173/81881571-14e5fe80-95c3-11ea-8da8-9a35bbf383b0.png)

![image](https://user-images.githubusercontent.com/31172173/81881603-2b8c5580-95c3-11ea-8e04-76dfd37a4718.png)

![image](http

[2020-05-14 01:15] roojai commented on #582
![image](https://user-images.githubusercontent.com/31172173/81881739-82922a80-95c3-11ea-8bae-4f6d2066a939.png)

[2020-05-14 16:35] mjauvin commented on #582
I don't know, it's working fine here. Here's my theme.yaml file:
[code]
![Screenshot from 2020-05-14 12-33-28](https://user-images.githubusercontent.com/2013630/81960681-51bfee80-95df-11ea-9b57-497d7ed75ff6.png)

[2020-05-14 16:37] mjauvin commented on #582
Actually, this got added in version 1.6.8:

1.6.8: Add support for transOrderBy; Add translation support for ThemeData; Update russian localization.

[2020-05-14 16:40] #582 closed

[2020-05-15 01:25] roojai commented on #582
Oh sorry about that, I did not realise it was still a bleeding edge update

[2020-05-15 14:45] mjauvin commented on #581
Would you mind modifying the scopeTransWhere() method with the following for testing?
[code]

[2020-05-15 15:16] acasar commented on #581
@mjauvin I replaced the code, ran it again and got the same result.

It seems to produce the same query... Am I missing something?

[2020-05-15 16:06] mjauvin commented on #581
That's what you should expect, was just making sure.

[2020-05-22 12:51] mterman commented on #581
I've had the same problem with the scopeTransWhere, it gets very slow it there is more than a couple of thousand rows. I think that there should be a different scope method for searching only in the selected locale, not both in the default locale and the selected locale.

[2020-05-22 13:54] mjauvin commented on #581
@mterman would you be able to submit a PR for a NEW scope (we don't want to introduce a breaking change here)?

Thanks.

[2020-05-22 14:15] mterman commented on #581
@mjauvin sure, I already did a quick test. Need a better name for the scope, and test the scope in different situations.

[code]

[2020-05-29 12:38] mjauvin commented on #581
Did you read this section of the Documentation?

https://github.com/rainlab/translate-plugin/blob/master/README.md#indexed-attributes

[2020-05-30 18:08] orzech76 opened #583 "Amator problem"
Hello,

I Added code `{{ 'Some text'|_ }}` but i`m not seeing a text to translate in background. Could You help? My site is https://fds.warszawa.pl

[2020-05-30 21:14] LukeTowers commented on #583
Did you scan for changes?

[2020-06-17 20:25] hugochinchilla opened #585 "Similar strings are getting treated as a single one"
Hi

in my site I have a place where I have the string `contact` and another where I have the string `CONTACT:`.

In the translations panel only the later is found, in places where `contact` should be shown, `CONTACT:` is shown instead.

I have tried purging and rescanning, but the problem persists.

[2020-06-17 20:31] igor-tv commented on #585
You can use twig filters in your templates to manage words cases.

[2020-06-17 21:56] mjauvin commented on #585
Message translation currently does not differentiate between two strings with different casing.

[2020-06-18 05:54] hugochinchilla commented on #585
Ok that makes sense. But one of the strings contains a colon and the other
does not.

El mié., 17 jun. 2020 23:56, Marc Jauvin <notifications@github.com>
escribió:

[2020-06-18 08:26] mjauvin commented on #585
Please see this method to understand the what's happening:

https://github.com/rainlab/translate-plugin/blob/master/models/Message.php#L286:L305

Note that you should use a unique key which can have a translation in all your locales.

[2020-06-18 08:26] #585 closed

[2020-06-20 11:28] hugochinchilla commented on #585
Thanks for the clarification.

[2020-06-27 04:32] #583 closed

[2020-07-06 07:34] perseon opened #588 "when switching languages via AJAX, the generated URLs are not valid"
Hi,
Thanks for this great plugin, though I have a small issue that i'd like to know whether it's a known limitation or I'm messing up things.
When I use the language switcher on a website I work (en is main language, es is secundary) everything switches just fine, but, the URL in the address bar is missing the "es" segment, which also works just fine _ONLY_ if yo're visiting that link on a "es" se

[2020-07-06 09:35] mjauvin commented on #588
Just set the LocaleSwitcher option to true when adding the component:

https://github.com/rainlab/translate-plugin/blob/master/components/LocalePicker.php#L50,L57

[2020-07-06 09:35] #588 closed

[2020-07-07 16:36] perseon commented on #588
I'm sorry, I've missed that flag. It's not documented anywhere, though.

Thank you!

[2020-07-07 16:55] mjauvin commented on #588
Feel free to submit a PR to document it.

--
Marc

On Tue, Jul 7, 2020, 12:36 perseon <notifications@github.com> wrote:

[2020-07-08 09:47] aurelien-roy commented on #533
Is this abandoned?

[2020-07-08 12:30] mjauvin commented on #533
Yes, it is closed.

[2020-07-11 09:53] th-ink opened #589 "Translating vue.js data"
Hey, does anyone know if it is possible to translate data added to html from vue.js script file? So for exmaple if I have in my vue.js the following:
`  const app= new Vue({
    el: '.main__page',
    data: {
      season: "summer",
    }
})
`
and then in html: `<h1 v-model="season"></h1>`
how would I be able to translate the "season" variable?
I am sure, I have seen it somewhere, but can't find i

[2020-07-11 13:05] mjauvin commented on #589
where does your vue.js data get generated?

[2020-07-11 14:26] th-ink commented on #589
in a `script.js` file that is load via html `<script>` tag.

[2020-07-11 14:39] mjauvin commented on #589
You could provide the translation strings using a dynamically generated js file which could be used by your Vue js code

[2020-07-12 05:17] th-ink commented on #589
Okay, that sounds good. Is there an example somewhere with such a file?

[2020-07-12 10:22] bennothommo commented on #589
@th-ink I would suggest looking at a library like [Vue I18n](https://kazupon.github.io/vue-i18n/) which takes a `messages` variable, and either doing what @mjauvin suggested and dynamically generating a messages file and using that to populate the `messages` variable, or creating a October plugin to provide an API to get the messages dynamically. Unfortunately, I don't have any examples to show yo

[2020-07-12 23:55] LukeTowers commented on #589
@bennothommo @th-ink here's something I did up on a project a while ago.
In `Plugin.php` `boot()`:
[code]
in `routes.php`
[code]
in Vue initialization:
[code]

[2020-07-12 23:58] LukeTowers commented on #589
Technically speaking we could probably add a JSON endpoint to this plugin to get all site translations.

[2020-07-13 06:32] th-ink commented on #589
Thanks @bennothommo and @LukeTowers, I will try it out.

[2020-07-15 17:27] zakir1929 commented on #231
public function boot(){
        if(!$this->app->runningInBackend()) {
            $translator = \RainLab\Translate\Classes\Translator::instance();
            if(!\Session::get(\RainLab\Translate\Classes\Translator::SESSION_LOCALE)){
                $translator->setLocale('en',TRUE);
            }
        }
    }

I have to set the default language for front-end only so I have written that code an

[2020-07-16 16:06] lalomolino commented on #450
I am starting my first project in October and I was very excited to see that the CMS had a plugin that allowed to create multilanguage sites in such an easy way but I have been trying for validation for a week now because I have 3 languages ​​and I do not succeed, I have tried several things of which you raised but I have not been able to do it, have you found a definitive solution?

PS: Thank you

[2020-08-14 15:51] igor-tv opened #592 "An error occurred while trying to extend the plugin to add a translatable field"
I am trying to extend the plugin as in the [documentation](https://octobercms.com/docs/plugin/extending#extending-backend-form)
[code]
And after that I get the error:
[code]
Testing model implements RainLab Translatable behavior.
Working code:
`$model->addDynamicProperty('translatable', ['example_field']);`

[2020-08-14 16:20] igor-tv opened #593 "How to extend the plugin, add already translatable field to the index?"
I am trying to add a model field to the index that is already translatable.
[code]
But this had no effect.

Expandable model has:
[code]

[2020-08-14 17:08] mjauvin commented on #593
Use this:
[code]

[2020-08-14 17:48] #592 closed

[2020-08-14 17:49] #589 closed

[2020-08-15 06:10] igor-tv commented on #593
It doesn't work for me, no changes.

[2020-08-15 10:30] mjauvin commented on #593
[code]

[2020-08-15 10:53] igor-tv commented on #593
Sorry, maybe I'm doing something wrong or I don't notice something. But I checked several times and couldn't find the problem. It doesn't work for me.

Here is my real code and output from xDebug:
<img width="1039" alt="Снимок экрана 2020-08-15 в 13 39 34" src="https://user-images.githubusercontent.com/6777469/90310785-953b3900-defd-11ea-804f-3d5515c795f4.png">

If I change the PropertyValue model

[2020-08-15 11:33] mjauvin commented on #593
in your screenshot above, you used "translable"... instead of translaTAble

[2020-08-15 11:49] igor-tv commented on #593
Many thanks! I'm sorry I wasted your time. I will check spelling errors carefully.

[2020-08-15 11:50] #593 closed

[2020-08-19 12:43] satezmedia opened #594 "Redirect to 404 on untranslated static pages"
Hello, please is possible to achvieve this behavior?

SK=Slovak language (default)
EN=English

When you **change your web language to EN** and you try to access **page Contact wich doesn't have any EN translations** it should **return 404 page.**

Thanks for your plugin and your time.

[2020-08-19 13:35] mjauvin commented on #594
It's not really possible currently. Why exactly do you need this?

[2020-08-19 13:59] satezmedia commented on #594
Hi,
we got it working!

`Event::listen('cms.page.init', function ($controller, $page) {
            if (!isset($page->apiBag['staticPage'])) {
                return;
            }

            $translator = Translator::instance();
            $lang = $translator->getLocale();
            $defaultLang = $translator->getDefaultLocale();

            if ($defaultLang == $lang) {
                retu

[2020-08-19 13:59] #594 closed

[2020-08-19 15:33] LukeTowers commented on #594
@satezmedia instead of `Redirect::to(Page::url('404'));` you should probably try `Response::make($controller->run('404'), 404);`

[2020-08-20 05:37] jomsky opened #595 "Translating long texts without a short key"
I'm probably doing something wrong but when I do this:

`{{ content.section_text|_ }} `

The data is from a richeditor field in the backend:

![tr](https://user-images.githubusercontent.com/1947654/90720451-2426c780-e2e9-11ea-928d-bb304a1163ff.png)

 and if it holds a long paragraph I'm getting an error:

`String data, right truncated: 1406 Data too long for column 'code' at row 1 (SQL: insert int

[2020-08-20 09:48] mjauvin commented on #595
You need to follow the instructions here:

https://github.com/rainlab/translate-plugin#model-translation

[2020-08-20 09:50] mjauvin commented on #595
Note that you can't translate individual fields in a repeater... you need to make the repeater field itself translatable and create an instance of the repeater per language.

[2020-08-20 19:13] #595 closed

[2020-08-23 17:24] mjauvin commented on #592
@LukeTowers he opened a second issue which was itself resolved.

[2020-08-23 17:25] mjauvin commented on #592
resolved in #593

[2020-08-25 13:04] uvolovik opened #596 "Why isn't the translation plugin updated at https://octobercms.com/plugin/rainlab-translate"
This plugin has 1.7.2 version on GitHub, but octoberCMS has latest version - 1.6.7
Please, update plugin for octoberCMS https://octobercms.com/plugin/rainlab-translate

[2020-08-25 13:09] mjauvin commented on #596
Did you enable edgeUpdates in your config/cms.php ?

[2020-08-27 02:22] dynamiccontent opened #597 "Flat UI theme menu translation question"
Thank you for a great plugin. I have a quick question.
I am using https://octobercms.com/theme/responsiv-flat and your plugin and everything works great except I cannot get the menu to translate. I have been searching on github, web, octobercms forums without success. Do you have any advice for me?

Is there something obvious that I am missing?
From https://octobercms.com/docs/cms/pages this.page.

[2020-08-27 02:54] dynamiccontent commented on #596
By default edgeUpdates on config/cms.php is set to false. Once you set it to true the plugin updates fine. Maybe a note that on update page it says "Action required" but if you click on "View upgrade guide" it's empty. Other than that it's fine. Thanks!

Link for "Action required" -> https://example.com/backend/system/updates/details/rainlab-translate/upgrades?fetch=1
![Upgrade Guide](https://i.im

[2020-08-27 13:25] mjauvin commented on #597
Support for the translation of [StaticMenus](https://github.com/rainlab/pages-plugin/blob/master/README.md#managing-menus) has been [recently added](https://github.com/rainlab/translate-plugin/pull/590) and will be available as an edge update in the coming weeks.
(see "Creating menus" in [this tutorial](https://octobercms.com/blog/post/getting-started-october-cms-static-pages-v2))

That being said

[2020-08-27 13:39] #596 closed

[2020-08-30 20:01] #597 closed

[2020-09-01 02:56] igor-tv opened #598 "Loss of menu item translations"
CURRENT BUILD 468
RainLab.Translate 1.7.2
RainLab.Pages 1.3.5

When I edit translations of menu items, when I switch the language, already made translations are lost in the input. If I re-fill the empty translation fields, they remain, but after clicking the Apply button in the modal window, there is only one translation left, and the one that was active before applying.

I've tried removing the p

[2020-09-01 10:18] mjauvin commented on #598
The the plugin "Extend translate plugin" you are using does not allow a single menu to be translated in multiple languages, it allows creation of multiple menus, one per language.

Please see the plugin documentation.

[2020-09-01 10:46] mjauvin commented on #598
Are you sure you didn't install the RainLab.Translate plugin using git? Because such functionality has been merged, but the counterpart in RainLab.Pages also needs to be installed... this code has not been released yet.

[2020-09-01 10:54] igor-tv commented on #598
Yes, first I installed the RainLab.Translate plugin using git. But then I removed it through the backend and installed it from the marketplace.

At the moment, removing the plugin "Extend translate plugin" has had no effect. Also I tried reinstalling Rainlab.Translate again. Hasn't helped yet.

[2020-09-01 11:46] RodrigoGalter opened #599 "Exception when doing Unit Test"
I'm creating unit tests but I'm experiencing problems running phpunit, I always get the message

`Exception: Class System\Models\File has already been extended with October\Rain\Database\Behaviors\Purgeable`

By commenting on the following lines in **Plugin.php** I can run without major problems.

`$model->extendClassWith('October\Rain\Database\Behaviors\Purgeable');`
`$model->extendClassWith('Rai

[2020-09-01 11:50] mjauvin commented on #598
You definitely have the git version still installed, or you wouldn't see the Static Menu title/url fields as translatable...

I suggest installing both RainLab.Translate/Pages from git, remove the extended translate plugin and you should be good to go.

[2020-09-01 12:02] igor-tv commented on #598
This helped fix the problem. Many thanks!

[2020-09-01 12:02] #598 closed

[2020-09-01 12:39] mjauvin commented on #599
@LukeTowers should we wrap the `extendClassWith()` calls with a conditional check to see if it has been extended already?

[2020-09-01 16:35] LukeTowers commented on #599
@mjauvin I believe we had that discussion with @daftspunk a while ago and decided against it. This should have been fixed in https://github.com/octobercms/library/commit/1460bc00a0a7bc1a8db2a39354e0eb3499b750d2 though, @RodrigoGalter are you able to confirm that commit is present in your installation?

[2020-09-01 18:54] RodrigoGalter commented on #599
Yes.

october/backend: [979d94b4220dd01441a7585bca31f7ab13e2b133](https://github.com/octoberrain/backend/commit/979d94b4220dd01441a7585bca31f7ab13e2b133)
october/cms: [e466884f83762af98305132f8d324c92e6e58680](https://github.com/octoberrain/cms/commit/e466884f83762af98305132f8d324c92e6e58680)
october/rain: [e33163d5b288f05ffec66ab9e55ee96c1457164b](https://github.com/octobercms/library/commit/e331

[2020-09-01 19:12] LukeTowers commented on #599
@bennothommo can you look into this?

[2020-09-02 05:13] bennothommo commented on #599
@LukeTowers I've tested this with the `wip/laravel-6` branch as part of https://github.com/rainlab/translate-plugin/pull/600 and the tests seem to be running fine for the plugin (although there is a test that is actually failing).

@RodrigoGalter before I can investigate further, I'll need some more information on the type of test you are running and where it is located.

[2020-09-02 12:21] RodrigoGalter commented on #599
I run a simple assertTrue(true) test to test my configuration, right after I did a test to create a record on my mobile.
The tests are located in the test/ folder within the plugin folder in question.

[2020-09-06 15:07] joeinnes commented on #536
For future internauts running into this issue, I found it was introduced to my site when I enabled Rocket Loader on Cloudflare. After disabling Rocket Loader, this issue waas fixed.

[2020-09-06 15:48] mjauvin commented on #536
@joeinnes any idea what's actually causing this in Rocket Loader?

[2020-09-06 15:50] joeinnes commented on #536
No idea, but it's not the first time Rocket Loader has mangled JS for me and I'm happy just turning it off rather than spending time diagnosing it :)

[2020-09-06 19:24] LukeTowers commented on #536
@mjauvin @bennothommo perhaps we should look at adding the rocketloader ignore syntax on all assets loaded by the backend addJs methods. I thought we already did that but it might have been only for core JS

[2020-09-06 19:33] mjauvin commented on #536
@LukeTowers I guess. Where do you see this for core JS ?

[2020-09-06 19:56] mjauvin commented on #536
@LukeTowers So you're suggesting adding `data-cfasync="false"` to all <script> tag added with addJs ?

ref. https://support.cloudflare.com/hc/en-us/articles/200169436-How-can-I-have-Rocket-Loader-ignore-my-script-s-in-Automatic-Mode-

[2020-09-06 20:02] mjauvin commented on #536
Curently, I see it in here only:
[code]

[2020-09-06 20:10] mjauvin commented on #536
Something like this maybe?
[code]

[2020-09-06 22:04] mjauvin commented on #536
@joeinnes if you could re-enable Rocket Loader for your cloudflare and test with this fix to see if that works, that'd be appreciated.

[2020-09-07 01:00] bennothommo commented on #536
@mjauvin @LukeTowers I believe when this came up last time, I put forward my opinion that we shouldn't be adding these tags in. It's a specific hack for a third-party system, and it sets a precedent that we'll do this for other CDNs if they become popular enough. I would rather people configure the third-party system correctly by either telling it to ignore all Backend URLs, or creating a plugin w

[2020-09-07 03:17] LukeTowers commented on #536
@bennothommo @mjauvin ah that's right, I remember now. What we did was implement an event so that a third party plugin could do this for us. @emilhakobian @joeinnes @mic8 if you're using CloudFlare Rocket Loader, please install https://octobercms.com/plugin/heathdutton-cloudflare

[2020-09-07 03:17] #536 closed

[2020-09-07 03:17] jomsky opened #601 "Setting 'prefixDefaultLocale' to false and 'forceUrl' to 1 removes the prefix on relative links."
Relative links don't automatically include the selected language prefix when navigating if prefixDefaultLocale is set to false. I have to manually add the prefix on each link when the default language is not chosen. Not sure if this is a bug or I'm just doing something wrong. When **forceUrl** is true this is not a problem. I can click on links and still retain the current selected language.

[2020-09-07 03:25] mjauvin commented on #601
just use the forceUrl=true property of the localePicker component

[2020-09-07 03:27] mjauvin commented on #601
ref. https://github.com/rainlab/translate-plugin/blob/master/components/LocalePicker.php#L50,L55

[2020-09-07 03:37] jomsky commented on #601
Yes that is one of the condition to reproduce the issue. I already have forceUrl set to 1 in the component. If it's set to false then there's no issue, navigating retains the current selected language.

[2020-09-07 03:45] mjauvin commented on #601
In the problem description, you first say this happens when prefixDefaultLocale is set to true, then towards the end you say it's fine when prefixDefaultLocale is set to true... which is it?

How exactly do you generate those "relative" links?

[2020-09-07 03:54] jomsky commented on #601
Sorry updated the description. I meant forceURL.  Most of the links are via onclick js events that uses window.location.href after an ajax request.

[2020-09-07 03:57] mjauvin commented on #601
this is not the proper way to do this, you should use the `page` twig filter that would properly create the URLs.

Can you explain a bit more what you're trying to do and show some code?

[2020-09-07 04:13] jomsky commented on #601
Ohhh didn't know about the `page` filter. I was using `url()` on my html links as well. Just changed one and it worked. Thank you!

[2020-09-07 04:13] #601 closed

[2020-09-07 11:36] joeinnes commented on #536
Also agree with this approach, I don't think it's October's responsibility to make sure third party tools don't mangle the UI.

Just wanted to drop a note on this in this thread in case anyone is banging their head against a wall in future trying to work it out.

[2020-09-14 15:34] OutlawPlz commented on #544
Hi guys, I'm facing the same issue, but I've found out that the problem was generated by [Translate Extended](https://octobercms.com/plugin/excodus-translateextended) plugin. Without that module the fix in 3e31cee works fine to me. I'm commenting just in case someone else has the same problem.

[2020-09-16 05:49] spartanatreyu opened #604 "Angle brackets and double quotes (`<`, `>`, `"`) rendered incorrectly inside plugin's documentation on octobercms.com"
The documentation on <https://octobercms.com/plugin/rainlab-translate> shows code examples like:

[code]

[code]

where the `<`, `>` and `"` characters are displayed as `&lt;`, `&gt;` and `&quot;`.

[2020-09-16 07:35] bennothommo commented on #604
@LukeTowers is this due to some double-encoding happening on the marketplace?

[2020-09-16 07:40] bennothommo commented on #544
@OutlawPlz I've submitted a PR to the Translate Extended plugin to fix this up: https://github.com/Excodus/oc-translate-extended/pull/20

[2020-09-16 10:56] mjauvin commented on #604
@bennothommo it would make sense since it's properly rendered on github...

[2020-09-16 15:40] LukeTowers commented on #604
Yes @bennothommo, it's something that @daftspunk is going to have to fix.

[2020-09-17 11:33] foxik0169 commented on #231
Hello,

I think the problem can be solved just by adding one more setting which will be the 'default' frontend language. Similarly to what @zakir1929 did, just as a setting. In the backend, the translations would still work as now (one language is default, and translations are stored in separate table).

Also I think this is a naming problem, cause the 'default' now means two things:
 1. Default i

[2020-10-01 16:11] mjauvin commented on #544
@mariavilaro we cannot push this until the L6 branch becomes the new stable release.

Thanks.

[2020-10-01 16:23] mariavilaro commented on #544
Uhm... I just installed october using the command line

composer create-project october/october myProject

And it installed the version 1.1.0 of october that uses L6

Do you know how should I do to install the L5.5 version? (sorry for the off topic)

[2020-10-01 16:38] mjauvin commented on #544
@mariavilaro Use the composer.json file from the 1.0 branch of github.

ref. https://github.com/octobercms/october/blob/1.0/composer.json

[2020-10-01 17:40] LukeTowers commented on #544
@mariavilaro 1.1 is the latest stable version, the marketplace is just a bit behind. Use composer to install the translate plugin

[2020-10-01 17:41] LukeTowers commented on #544
@bennothommo would the change break L5.5 users of the plugin?

[2020-10-01 17:44] mjauvin commented on #544
@LukeTowers Most likely, or that would have been added to the main repo...

[2020-10-01 19:34] LukeTowers commented on #544
You know what they say about assuming 😉

[2020-10-01 19:37] mjauvin commented on #544
I can check this for you if you want, we'll know for sure! ;)

[2020-10-01 19:54] mjauvin commented on #544
@LukeTowers Initial tests show it appears to be working fine...

@bennothommo can you shed some light on why that change is needed in the first place?

[2020-10-01 20:01] LukeTowers commented on #544
@mjauvin I know it's required in L6, I think @bennothommo didn't merge it because he didn't test it in L5.5. If it's working fine for L6 and L5.5 let's just merge it and push out the update.

[2020-10-01 20:18] mjauvin commented on #544
@LukeTowers Sure, but I'd like to understand the reason this change is required in L6, that may help understand if that could cause an issue I am not seeing with my initial tests.

[2020-10-01 23:15] bennothommo commented on #544
@LukeTowers @mjauvin I think it should work for L5.5, but yes, I didn't test it for that. I can't recall the exact change that Laravel made, but it seemed that slug parameter in our catch-all routes became required - my change was simply to make it optional as it was before.

[2020-10-02 00:32] mjauvin commented on #544
Ok, so if that really make it optional with L6 and L5.5 was optional by default, that should be fine.

Thoughts @LukeTowers

You can apply to master if you're fine with it, I did test it a bit and it worked fine.

[2020-10-02 08:24] LukeTowers commented on #544
@mjauvin if you've tested it and it works fine go for it. Just let me know when to update the marketplace pending version.

[2020-10-02 16:36] mjauvin commented on #544
@LukeTowers 1.7.3 is out, but I wouldn't mark it stable yet, maybe wait a couple weeks?

[2020-10-02 16:36] #544 closed

[2020-10-02 17:47] LukeTowers commented on #544
@mjauvin just ping me when it's good to go

[2020-10-05 13:06] buzmate opened #610 "Translated slug allows duplicates"
Hello,

Just need to confirm a "bug" of feature or the translate plugin. Although indexing works fine with the translated slug of a model it seems that the translated slug is not tested for duplication as it happens with the default, not translated, value of the field. Are there any solutions to this issue? Is there an event that we can bind too and test for duplication on translated fields? is th

[2020-10-05 13:17] mjauvin commented on #610
Can you give a specific example for this?

[2020-10-05 13:35] buzmate commented on #610
`<?php namespace Buzmate\Catalog\Models;

use Model;

/**
 * Model
 */
class Product extends Model
{
    use \October\Rain\Database\Traits\Validation;

    use \October\Rain\Database\Traits\SoftDelete;

    use \October\Rain\Database\Traits\Sluggable;

    protected $dates = ['deleted_at'];

    protected $slugs = ['slug' => 'title'];

    /**
     * @var string The database table used by the mode

[2020-10-05 14:04] mjauvin commented on #610
I believe this [abandoned PR](https://github.com/rainlab/translate-plugin/pull/535) is related to your problem.

[2020-10-05 14:09] buzmate commented on #610
Yeap true. OK I will check it out.

[2020-10-06 10:41] TomeuMut commented on #231
Hi, The answer switch locale in BD isn't work for me, someone get different answer for this bug?

[2020-10-06 11:15] mjauvin commented on #231
@TomeuMut did you try what was suggested here:
https://github.com/rainlab/translate-plugin/issues/231#issuecomment-658899574

[2020-10-06 12:11] TomeuMut commented on #231
@mjauvin Yes, but not working... One Idea I think is in folder plugin create a file routes.php and save the values the model in BD and then change de lang...

[2020-10-08 11:00] TomeuMut commented on #231
Hi, I found one solution for this problem, I create two functions.

[code]
The Step 2 is change default lang manual because make default lang not work with code... and I use the EN for lang aux.

This is a litlle Patch but is something.

[2020-10-11 13:56] #575 closed

[2020-10-12 16:09] WebCreamGroup opened #612 "Home page not work when place component in the layout with static page"
There is bug when try to change language in home page `/` with static page and static menu placed to layout.
[code]

[2020-10-12 16:17] mjauvin commented on #612
What version of October and RainLab.Translate do you use?

[2020-10-12 16:19] mjauvin commented on #612
This error lets me think you are using v 1.1 (using Laravel 6) and the latest RainLab.Translate is needed.

You'll need to set edgeUpdates=true in `config/cms.php` since this has not been marked stable yet.

[2020-10-12 16:59] mjauvin commented on #612
We marked the latest RainLab.Translate release (v1.7.3) as stable, so you should be able to update without setting cms.edgeUpdates to true.

[2020-10-12 16:59] mjauvin commented on #612
Please let us know if that resolves your issue so we can close this.

[2020-10-12 17:15] WebCreamGroup commented on #612
First i want to say **thank you for the fast answer and for the help**.

Yes, i just made update for the `Translate` plugin and now seems that all works perfect.

P.S. I have noticed 2 things (maybe bugs) related to the `RainLab.Translate` plugin, so i will open another 2 issues.

[2020-10-12 17:18] WebCreamGroup opened #613 "Markdown syntax field ( {variable type="markdown"} ) is not translatable"
I have noticed that markdown field type has no translation dropdown.

Field type placed via `{variable}` to the layout.